/* 
    Document   : tablet
    Created on : 25-08-2012, 14:52:40
    Author     : Probook
    Description:
        Purpose of the stylesheet follows.
*/

#block-superfish-1,
    #block-superfish-2 {
       display:block!important;
      }
.form-text, textarea {
	-webkit-border-radius: 0px;
	 -webkit-appearance: none !important;
}

input.form-checkbox {
	background: none;
	border: none;
	padding: 0px;
}

#header .responsive-menu-button{ 
    display: block;
}
.front .left-menu-existed .page-main-inner, .left-menu-existed .page-main-inner, .page-showcase .left-menu-existed .page-main-inner, .page-taxonomy-term .left-menu-existed .page-main-inner, .left-menu-existed #system-messages-wrapper .grid-inner {
    padding-left: 25px;
}
/**
  * Responsive Layout
  */
  
#main-wrapper .container,
#main-wrapper .container #main-content,
.wrapper .container,
#sidebar-first-wrapper,
#mass-top-wrapper,
.page-inner  {
	width: 100% !important;
}

#main-wrapper .group-cols-1 {
	width: 100% !important;
}

#sidebar-second-wrapper {
	width: 40% !important;
}

.page-contact #main-wrapper .container #main-content {
	width: 60% !important;
}
.left-menu-existed .page-main-inner {
	padding-left: 25px;
}

.left-menu-existed #sidebar-first-wrapper .grid-inner {
	padding-left: 25px ;
}

ul.pager li.pager-current {
	margin: 0px -3px 0px -2px;
}


/* Header ---*/
#header #search-block-form {
	right: 40px;
}

#header {
	height: 40px !important;
}

#header-wrapper {
	width: 100% !important;
}

#sidebar-first-wrapper .grid-inner{
	margin-left: 0px;
	margin-right: 0px;
} 

.sf-menu.sf-style-wall ul {
	width: 12em !important;
}
.node-title {
	font-size: 1.7em;
}

.body-404 #main-wrapper{
	top: 20px;
	
}
/* Color Node---*/
#cboxLoadedContent{
	overflow-x: hidden !important;
	overflow-y: scroll !important;
}


.galleryformatter .gallery-slides a.slide-button {
    opacity: 1 !important;
}

/* Ipad Style*/
.christmas-skin #logo {
  left: 0;
}
.christmas-skin #header #search-block-form {
	right: 5px;
}
.christmas-skin #header .tb-left-menu-button {
	border: 1px dotted #CE6B5D;
	border-radius: 3px 3px 3px 3px;
	height: 33px;
	left: 10px;
	top: 19px;
	width: 33px;
}
.christmas-skin #header .tb-main-menu-button {
	border: 1px dotted #CE6B5D;
	border-radius: 3px 3px 3px 3px;
	height: 33px;
	right: 10px;
	top: 22px;
	width: 33px;
}

.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall ul li.last, 
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall ul ul li.last{
	background: none !important;
}
#menu-bar-wrapper {
    float: none !important;
    margin: 0px !important;
    width: 100% !important;
    top: 40px !important;
}

.sf-menu.sf-style-wall {
    float: none !important;
}
.sf-menu.sf-style-wall li {
    float: none !important; 
    background: #fff !important;
}

.sf-menu.sf-style-wall a {
    border-right: none !important; 
    border-top: solid 1px #252525;
}

.sf-menu.sf-style-wall ul {
    position: static;
    top: 0px;
    float: none !important;
    width: 100% !important;
    border-top: solid 1px #252525;
    margin: 0px !important;
}
.sf-menu.sf-style-wall ul ul {
    width: 100% !important;
}
.sf-menu.sf-style-wall li.first a {
    border-left: none !important;
}

.sf-menu.sf-style-wall ul li a {
    text-indent: 20px;
}

.sf-menu.sf-style-wall ul li li a {
    text-indent: 40px;
}

.sf-menu.sf-style-wall a.menuparent {
  background: url('../../images/arrow-down.png') no-repeat 98% center  #000 !important;
}



.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall li a{
  border-top: 0;
}
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall ul { 
	border-top: 0;
	box-shadow: none;
}
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall li.menuparent.sfHover ul li a{
	background-color: #810101;
	color: #e3c1c1;
	border-top: 0;
}

.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover,
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus,
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall li.menuparent.sfHover li a:active {
	background-color: #810101;
	color: #fff;
	text-shadow: 1px 1px 1px #640201;
}


/* teen-life */
.teen-life-skin #menu-bar-wrapper {
  margin-left: 40px;
}

.teen-life-skin #header #search-block-form {
  right: 0;
}

.teen-life-skin #header #search-block-form .form-text {
  width: 32px;
}


.classic-skin .block .sf-menu.sf-style-wall a {
  font-size: 87%;
  padding: 0 12px;
}


.color-dark-skin .block .sf-menu.sf-style-wall a {
  font-size: 1em;
  padding: 0 10px;
}

.color-light-skin .block .sf-menu.sf-style-wall a {
  font-size: 1em;
  padding: 0 10px;
}

