/**
  * Responsive Elements
  */
body {
  -webkit-text-size-adjust: 100%; /* Fix Mobile Safari Font Scale */
  overflow-x: hidden;
}

#page {
  position: relative;
}

/**
  * Responsive Layout
  */
  
#main-wrapper .container,
#main-wrapper .container #main-content,
.region-mass-top,
.wrapper .container ,
.page-inner {
	width: 100% !important;
}

#main-wrapper .group-cols-1 {
	width: 100% !important;
}

#main-wrapper .front .left-menu-existed .page-main-inner,
#main-wrapper .page-showcase .left-menu-existed .page-main-inner, 
#main-wrapper .page-taxonomy-term .left-menu-existed .page-main-inner,
#main-wrapper .left-menu-existed .page-main-inner,
#main-wrapper .page-showcase .left-menu-existed .page-main-inner,
#main-wrapper .left-menu-existed #system-messages-wrapper .grid-inner{
  padding-left: 0px;
  margin-left: 0px;
}

.left-menu-existed #sidebar-first-wrapper .grid-inner {
  padding-left: 0px;
}


/* Main Container ---*/
.grid-inner,
.container,
#main-wrapper #main-content,
#main-wrapper #sidebar-first-wrapper {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Header ----*/

#header .tb-main-menu-button {
	right: 0px;
}
#header-wrapper .grid-inner {
	padding: 0px !important;
}

#logo{
	left: 40px;
}

#header #search-block-form {
	right: 42px;
}

#header {
	height: 40px !important;
}

#header-wrapper {
	width: 100% !important;
}

/* Main Content --*/
.front #main-content .block-inner {
	margin: 10px 0 0;
}

.front #main-wrapper .container {
	padding-top: 0px !important;
}

#main-content .main-content-inner {
	padding: 0px;
}

/* Block Menu ---*/
.block-menu ul.menu ul {
	margin-left: 0px;
}

/* Responsive menu  */
#menu-bar-wrapper {
	float: none !important;
    margin: 0px !important;
    width: 100% !important;
    top: 40px !important;
}

.sf-menu.sf-style-wall {
	float: none !important;
}
.sf-menu.sf-style-wall li {
	float: none !important; 
	background: #fff !important;
}

.sf-menu.sf-style-wall a {
	border-right: none !important; 
	border-top: solid 1px #252525;
}

.sf-menu.sf-style-wall ul {
	position: static;
	top: 0px;
	float: none !important;
	width: 100% !important;
	border-top: solid 1px #252525;
	margin: 0px !important;
}
.sf-menu.sf-style-wall ul ul {
	width: 100% !important;
}
.sf-menu.sf-style-wall li.first a {
	border-left: none !important;
}

.sf-menu.sf-style-wall ul li a {
	text-indent: 20px;
}

.sf-menu.sf-style-wall ul li li a {
	text-indent: 40px;
}

.sf-menu.sf-style-wall a.menuparent {
  background: url('../../images/arrow-down.png') no-repeat 98% center  #000 !important;
}

.sf-menu.sf-style-wall a.menuparent:hover,
.sf-menu.sf-style-wall a.menuparent:focus,
.sf-menu.sf-style-wall a.menuparent:active,
.sf-menu.sf-style-wall li.active-trail a.menuparent.active {
  background: url('../../images/arrow-down-hover.png') no-repeat 98% center  #151515 !important;
}

#menu-left-wrapper {
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	text-align: left !important;
	background: #fff;
	margin-top: 0px !important;
	display: none;
	margin-left: 0px;
}

.region-menu-left {
	margin-left: 20px;
}

#sidebar-first-wrapper .grid-inner {
	padding-left: 0px;
}

#menu-left-wrapper .item-list ul li {
	background-position: left 10px !important;
	padding: 3px 0px 3px 10px;
}
 
#menu-left-wrapper .block .form-text, #menu-left-wrapper .block textarea {
	text-align: left;
}

#views_infinite_scroll-ajax-loader  {
	left: 39% !important;
}

#logo img { margin-left: 25px; }

.body-404 #main-wrapper{
	top: 60px;
	
}
#header .responsive-menu-button{ 
	display: block;
}
/* Ipad Style*/
.christmas-skin #logo {
  left: 45px;
}
.christmas-skin #header #search-block-form {
	right: 50px;
}
.christmas-skin #header .tb-left-menu-button {
	border: 1px dotted #CE6B5D;
	border-radius: 3px 3px 3px 3px;
	height: 33px;
	left: 10px;
	top: 19px;
	width: 33px;
}
.christmas-skin #header .tb-main-menu-button {
	border: 1px dotted #CE6B5D;
	border-radius: 3px 3px 3px 3px;
	height: 33px;
	right: 10px;
	top: 22px;
	width: 33px;
}
.christmas-skin #menu-bar-wrapper{
	top: 58px !important;
}

.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall li,
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall ul li.first, 
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall ul li, 
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall ul ul li.first, 
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall ul ul li {
  background: url('../../images/bg-menu-line-sub.png') bottom left repeat-x #810101 !important;
  min-height: 40px;
  height: auto;
}
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall ul li.last, 
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall ul ul li.last{
	background: none !important;
}

.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall a.menuparent{
	 background: url("../../images/arrow-down.png") no-repeat scroll 98% center #810101 !important;
	 height: 38px;
}

.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall li a{
  border-top: 0;
}
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall ul { 
	border-top: 0;
	box-shadow: none;
	background: url('../../images/bg-menu-line-sub.png') top left repeat-x, url('../../images/bg-menu-line-sub.png') bottom left repeat-x;
	margin-top: 0px !important;
	padding: 2px 0;
}
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall li.menuparent.sfHover ul li a{
	background-color: #810101;
	color: #e3c1c1;
	border-top: 0;
}

.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover,
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus,
.christmas-skin #menu-bar-wrapper .sf-menu.sf-style-wall li.menuparent.sfHover li a:active {
	background-color: #810101;
	color: #fff;
	text-shadow: 1px 1px 1px #640201;
}

.page-search-node .christmas-skin .region-content {
	padding: 0 10px;
}
form .form-item label {
  margin-bottom: 0px;

}

/* Color dark */
.color-dark-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover a, 
.color-dark-skin .block .sf-menu.sf-style-wall a:hover, 
.color-dark-skin .block .sf-menu.sf-style-wall a:focus, 
.color-dark-skin .block .sf-menu.sf-style-wall a:active {
  background: #fff;
  border-bottom: 0 none;
  color: rgb(76, 26, 26);
  text-decoration: none;
}
.color-dark-skin .sf-menu.sf-style-wall > li.sfHover > a {
  background: url("../../images/arrow-down.png") no-repeat scroll 98% center #fff !important;
  color: #4C1A1A;
}
.color-dark-skin .block .sf-menu.sf-style-wall .active-trail .sf-depth-1 {
  background: #fff !important;
  color: #4C1A1A;
}
.color-dark-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover, 
.color-dark-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus, 
.color-dark-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:active {
  background-color: #fff !important;
}
.color-dark-skin .block .sf-menu.sf-style-wall ul {
  border: none !important;
}
.color-dark-skin #menu-bar-wrapper {
  top: 45px !important;
}

.color-dark-skin .block .sf-menu.sf-style-wall ul li a:hover, 
.color-dark-skin .block .sf-menu.sf-style-wall ul li a:focus, 
.color-dark-skin .block .sf-menu.sf-style-wall ul li a:active, 
.color-dark-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a.active, 
.color-dark-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover, 
.color-dark-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus, 
.color-dark-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:active {
  background: #fff;
}

.color-dark-skin #menu-left-wrapper {
  width: 130px;
}

.color-dark-skin .region-menu-left {
  background: none repeat scroll 0 0 #000000;
  margin-left: 0;
  padding: 0 20px 0 10px;
  width: 100px;
}

.color-dark-skin .block ul.menu li.expanded a {
	text-align: right;
}

.color-dark-skin  #header #search-block-form .form-text,
.color-dark-skin  #header .responsive-menu-button {
	height: 46px;
}

/* Mini skin */
.mini-skin #header {
  margin-top: 25px;
}

.mini-skin #logo {
  background: none repeat scroll 0 0 #252525;
  height: 40px;
  margin: -11px 0 0 3px;
  width: 40px;
}

.mini-skin #logo img {
  display: block;
  height: 16px;
  padding: 13px 0;
  text-indent: -9999px;
  margin-left: 0;
  width: 36px;
}

.mini-skin #header #search-block-form {
  margin-top: 0;
}

.mini-skin #header #search-block-form {
  right: 33px;
}

.mini-skin #header .tb-main-menu-button {
  height: 30px;
  width: 30px;
}

.mini-skin .block .sf-menu.sf-style-wall a {
  padding: 10px 20px;
}

.mini-skin .block .sf-menu.sf-style-wall ul li,
.mini-skin .block .sf-menu.sf-style-wall ul li a {
  height: auto;
  line-height: normal;
}

.mini-skin #menu-left-wrapper {
  top: 125px;
}

.mini-skin #main-wrapper {
  z-index: 0;
}

/* teen-life */
.teen-life-skin #header .tb-main-menu-button {
  background-color: #222426;
  border: 1px dotted #494E53;
  border-radius: 3px;
  height: 28px;
  margin-top: 15px;
  right: 10px;
  width: 28px;
}

.teen-life-skin #header #search-block-form {
  right: 45px;
}

.teen-life-skin #logo {
  background: url("../../images/logo-mobile.png") 0 0 no-repeat;
  height: 28px;
  width: 118px;
  margin-top: 15px;
  margin-left: 60px;
}

.teen-life-skin #logo img {
  display: none;
}

.teen-life-skin #header .tb-left-menu-button {
  margin-top: 10px;
}

.teen-life-skin #menu-left-wrapper {
  top: 140px;
  margin-left: -2px;
}

.teen-life-skin #sidebar-first-wrapper .grid-inner {
  border-left: 1px solid #FF728E;
  border-top: none;
  margin-left: 10px;
  margin-top: 0;
}

.teen-life-skin #main-wrapper .front .left-menu-existed .page-main-inner, 
.teen-life-skin #main-wrapper .page-showcase .left-menu-existed .page-main-inner, 
.teen-life-skin #main-wrapper .page-taxonomy-term .left-menu-existed .page-main-inner, 
.teen-life-skin #main-wrapper .left-menu-existed .page-main-inner, 
.teen-life-skin #main-wrapper .page-showcase .left-menu-existed .page-main-inner, 
.teen-life-skin #main-wrapper .left-menu-existed #system-messages-wrapper .grid-inner {
  border-bottom: none;
  border-right: 1px solid #FF728E;
  margin-left: 10px;
  margin-right: 10px;
}


/* Retro */
.retro-skin #header .responsive-menu-button {
  background-color: #795356;
  border: 1px dotted #8E6468;
  height: 22px;
  margin-top: 12px;
  right: 10px;
  width: 28px;
}

.retro-skin #header #search-block-form .form-text {
  width: 30px;
}

.retro-skin #header #search-block-form .form-text:hover,
.retro-skin #header #search-block-form .form-text:focus {
  width: 180px;
}

.retro-skin #menu-left-wrapper {
  top: 147px;
}

.retro-skin #menu-left-wrapper, 
.retro-skin #menu-left-inner {
  background: #fff;
}

.retro-skin .block .sf-menu.sf-style-wall ul:after, 
.retro-skin .block .sf-menu.sf-style-wall ul:after {
  background: none;
}

.retro-skin .block .sf-menu.sf-style-wall ul li {
  border-top-color: #252525;
  border-bottom: none;
  border-radius: 0;
}

.retro-skin .block .sf-menu.sf-style-wall ul li a,
.retro-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a {
  background: none;
  text-shadow: none;
}

.retro-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover,
.retro-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus,
.retro-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:active,
.retro-skin .block .sf-menu.sf-style-wall ul li.sfHover a.menuparent,
.retro-skin .block .sf-menu.sf-style-wall ul li a.menuparent:hover,
.retro-skin .block .sf-menu.sf-style-wall ul li a.menuparent:focus,
.retro-skin .block .sf-menu.sf-style-wall ul li a.menuparent:active {
  background: none !important;
}

 /* blackboard-skin */
.blackboard-skin .block .sf-menu.sf-style-wall ul {
  background: #000;
  padding: 0 15px;
}
 
.blackboard-skin .block .sf-menu.sf-style-wall li {
  margin-right: 0;
  padding: 0;
}

.blackboard-skin .block .sf-menu.sf-style-wall a {
  padding: 10px 15px;
}

.blackboard-skin .block .sf-menu.sf-style-wall ul li a {
  background: none;
  color: #9d9d9d;
  padding-left: 0;
}

.blackboard-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover, 
.blackboard-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus, 
.blackboard-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a:active, 
.blackboard-skin .block .sf-menu.sf-style-wall ul li.sfHover a.menuparent, 
.blackboard-skin .block .sf-menu.sf-style-wall ul li a.menuparent:hover, 
.blackboard-skin .block .sf-menu.sf-style-wall ul li a.menuparent:focus, 
.blackboard-skin .block .sf-menu.sf-style-wall ul li a.menuparent:active, 
.blackboard-skin .block .sf-menu.sf-style-wall ul li a.active, 
.blackboard-skin .block .sf-menu.sf-style-wall li.menuparent.sfHover li a.active {
  background: none;
  color: #67EC43;
}

.blackboard-skin .block .sf-menu.sf-style-wall .active-trail .sf-depth-1,
.blackboard-skin .block .sf-menu.sf-style-wall ul:before, .block .sf-menu.sf-style-wall ul:before {
  background: none;
}

.blackboard-skin #header .responsive-menu-button {
  border: 1px dotted #252525;
  height: 23px;
  margin-top: 15px;
  right: 10px;
  width: 28px;
}

.blackboard-skin #menu-left-wrapper, 
.blackboard-skin #menu-left-inner {
  background: #2E2E2E;
}

.blackboard-skin #main-wrapper {
	top: 66px !important;
}

.blackboard-skin #menu-left-wrapper {
  margin-top: -20px;
  width: 150px;
}

.blackboard-skin .region-menu-left {
  width: 140px;
}

.blackboard-skin #menu-left-wrapper .block-inner, 
.blackboard-skin #menu-left-wrapper .block ul.menu {
  text-align: right !important;
}

.blackboard-skin #header .tb-left-menu-button {
  border: none;
  border-right: 1px dashed #3F3F3F;
  margin-top: 0;
  padding: 10px;
}