/* MAIN MENU MOBILE MENU */
.mmenu-nav .mm-list:nth-child(3) {
/*	background:#FFF;	*/
	border-bottom:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
}
.mmenu-nav.mm-fresh .mm-list,
.mm-menu .mm-list {
	padding:0px;
}
.mmenu-nav.mm-fresh > .mm-list li,
.mm-menu .mm-list li {
	border:none;
}
.mm-menu .mm-list li a {
	padding: 5px 0px !important;
}
.mm-menu .mm-list li a i {
	display:none !important;
}
.mm-menu > .mm-list {
	margin-top:0px !important;
}
#mmenu_right .mm-list > li > span {
    padding-bottom: 40px;
	overflow:auto;
}

#mmenu_right .views-exposed-form #edit-ambito-wrapper .bef-checkboxes {
    overflow: hidden;
}	
#mmenu_right .views-exposed-form .bef-checkboxes .form-item {
	float:left;
	margin-bottom: 20px !important;
	margin-right: 20px !important;
}


/* MENU CLOSE BUTTON */
.mm-menu .close-menu {
    text-indent: -9999px;
    text-align: left;
    display: block;
    width: 25px;
    height: 25px;
    border: 0;
    cursor: pointer;
    background: url('../images/close-menu.png') 0 6px no-repeat;
    position: absolute;
	right: 0px;
    top: 0px;
    z-index: 1;
}
#mmenu_right .close-menu {
	right: 15px;
}



/* SEARCH FORM BLOCK MOBILE MENU */
.mm-menu .block-search {
	width:70%;
}
.mm-menu #search-block-form--2 {
	position: relative;
	background-color: #e9e9e9;
	border: 1px solid #d4d4d4;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 34px;
	position: relative;
	z-index: 670;
/*	margin-left: 35px;	*/
	margin-top: 3px;
}
.mm-menu #search-block-form--2 .form-text {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
	line-height: 20px;
	height: 32px;
	margin-top:-5px!important;
	padding: 0 0 4px 10px!important;
	background: transparent;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 14px;
/*	width: 250px !important;	*/
	width:80%;
	color: #000 !important;
}
.mm-menu #search-block-form--2 .container-inline div {
    display: inline-block;
	width: 100%;
}
.mm-menu #search-block-form--2 .form-submit {
    display: inline-block;
    background: url('../images/search-bastian.png') 0 0 no-repeat!important;
    background-color: transparent;
    text-align: center;
    text-indent: -9999px;
    border: 0!important;
    width: 22px;
    padding: .5em 1.5em!important;
    min-width: 0;
/*	margin-left: -25px;	*/
    margin-left: -40px;
    margin-top: 2px;
}



/* IDIOMAS Y CESTA */
#mmenu_left .mm-list {
	float:none;
	clear:both;
}
#mmenu_left .mm-list:nth-child(2) {
/*	float:left;
	border:none;*/
	clear:left;
}
#mmenu_left .mm-list:nth-child(3) {
/*	float:right;
	margin-right:50px;
	border:none;		*/
	clear:right;
	margin-top:3px;
}
#mmenu_left .mm-list:nth-child(3) .block {
	padding: 0px;
}
#mmenu_left .mm-list:nth-child(2),
#mmenu_left .mm-list:nth-child(3) {
	float:left;
	margin-right:30px;
	border:none;
}
#mmenu_left .mm-list:nth-child(4) li.mmenu-mm-list-path-user a,
#mmenu_left .mm-list:nth-child(4) li.mmenu-mm-list-path-user-logout a {
	font-weight:bold;
}



/* FILTERS MOBILE MENU */
.mm-menu .views-exposed-widgets {
/*	overflow: auto;	*/
}
/*
.mm-menu .views-exposed-widgets > div:nth-child(3),
.mm-menu .views-exposed-widgets > div:nth-child(4) {
	display:inline-block !important;
}
*/
.mm-menu .views-exposed-widgets > div:nth-child(5) {
	margin-top:0px !important;
}
.mm-menu .views-exposed-widgets .filter-deselect-checkboxes,
.mm-menu .views-exposed-widgets .hide-filters {
	display:none !important;
}
.mm-menu .views-exposed-widgets .views-submit-button {
/*	position:inherit !important;	*/
}


/* LEFT SLIDER MENU */
#mmenu_left .mm-list .mmenu-mm-list-path-separator {
	border-bottom:1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px
}
#mmenu_left .mm-list .mmenu-mm-list-path-separator a {
	display:none;
}
#mmenu_left .mm-list a.mm-subclose {
	margin-top:0px;
}
#mmenu_left .mm-list.mmenu-mm-list-level-2 li a {
	text-indent:20px;
}


/* FILTERS RIGHT MOBILE MENU */
#mmenu_right {
	background:#FFF;
	border-left:1px solid #EEE;
}
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page .views-exposed-widgets .views-exposed-widget {
    width:auto;
	height:auto;
	margin:0px;
}
.mmenu-nav .mm-list:nth-child(3) > li > span {
    white-space: inherit !important;
}
.mmenu-nav .views-exposed-widgets > div:nth-child(5) {
	margin-top:0px !important;
}
.mmenu-nav .views-exposed-widgets .filter-deselect-checkboxes,
.mmenu-nav .views-exposed-widgets .hide-filters {
	display:none !important;
}
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page {
/*	height:auto !important;
    margin-left:35px !important;*/
    margin-bottom: 20px;
}
.views-exposed-form #edit-productos-wrapper,
.views-exposed-form #edit-productos-wrapper .form-item-Productos {
	margin-bottom: 5px !important;
}

.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page #edit-idioma-wrapper,
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page .views-exposed-widgets > div:nth-child(4),
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page .views-exposed-widgets > div:nth-child(5) {
	float:left;
}
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page .views-exposed-widgets > div:nth-child(4) {
	margin-top:25px;
}
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page .views-exposed-widgets > div:nth-child(5) {
	margin-top:0px;
}
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page .views-exposed-widgets > div:nth-child(3),
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page .views-exposed-widgets > div:nth-child(5) {
	clear:left;
}
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page #edit-ambito-wrapper {
	float:left;
    clear: both;
    margin-top: 15px;
}
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page #edit-ambito-wrapper label {
	margin-bottom:10px !important;
}
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page #edit-ambito-wrapper label[for="edit-ambito"] > span {
	display:inline-block;
}
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page .hide-filters,
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page .filter-deselect-checkboxes {
	display:none;
}
.mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page .views-submit-button {
	float:left;
    clear:both;	
	position:inherit;
/*  position: absolute;
  	bottom: -50px;
    left: 0%;
	right: 0%;
    top: 470px;*/
/*	margin-top:40px !important;	*/
}


/* SLIDE MENU ÁMBITOS */
#mmenu_right .views-exposed-form #edit-ambito-wrapper .bef-checkboxes .form-item {
/*.mmenu-nav #edit-ambito-wrapper .icono-ambito {*/
/*	background-size: 30px 30px !important;*/
	padding-top: 35px !important;
	width: 58px !important;
	background-position: top !important;
	background-size: 33px 33px !important;
	text-align:center;
    margin-bottom: 30px !important;
}
mmenu-nav #views-exposed-form-bastian-theme-of-front-page-2-page #edit-ambito-wrapper .bef-checkboxes div {
	width: 58px !important;
	background-position: top !important;
	background-size: 33px 33px !important;
}
#mmenu_right .views-exposed-form #edit-ambito-wrapper .bef-checkboxes .subambitos .form-item {
	text-align:left;
}
.mmenu-nav #edit-ambito-wrapper .icono-ambito.ui-state-active {
	border:none !important;
}
.mmenu-nav #edit-ambito-wrapper .subambitos {
	width:100%;
	float:left;
	height: auto !important;
	clear:both;
	margin-left:20px;
/*	position:absolute;
	left:10px;
	bottom:50px;	*/
}
#edit-ambito-wrapper .form-type-bef-checkbox label {
	display: inline-block !important;
	font-size: 9px !important;
	padding-left: 0px !important;
	text-align: center;
    margin-left: 0px !important;
	color:#555 !important;
}

/* SUBÁMBITOS */
#mmenu_right .views-exposed-form #edit-ambito-wrapper .bef-checkboxes .subambitos .form-item {
/*.mmenu-nav #edit-ambito-wrapper .subambitos .form-item {*/
	padding:0px !important;
	margin:0px !important;
	height:20px !important;
}
.mmenu-nav #edit-ambito-wrapper .item-child-1 label.option:before {
	display: inline-block;
	content: "";
	width: 11px;
	height: 10px;
	background: url('../images/checkboxBig.png') 0 0 no-repeat;
	position: relative;
	top: 0px;
	left: -2px;
}
.mmenu-nav #edit-ambito-wrapper .item-child-1 input[type="checkbox"]:checked + label.option:before {
	background: url('../images/checkedBig.png') 0 0 no-repeat;
}
.mmenu-nav #edit-ambito-wrapper .item-child-2 label.option:before {
	display: inline-block;
	content: "";
	width: 11px;
	height: 8px;
	background: url('../images/checkbox.png') 0 0 no-repeat;
	position: relative;
	top: 0px;
	left: -2px;
}
.mmenu-nav #edit-ambito-wrapper .item-child-2 input[type="checkbox"]:checked + label.option:before {
	background: url('../images/checked.png') 0 0 no-repeat;
}
/*
#views-exposed-form-bastian-theme-of-front-page-2-page .views-exposed-widgets #edit-ambito-wrapper .bef-checkboxes div {
	margin-right: 30px !important;
}
*/
#edit-ambito-wrapper .bef-checkboxes .first-line,
#edit-ambito-wrapper .bef-checkboxes .second-line {
	display: block !important;
	margin-bottom:40px !important;
}


#mmenu_right .views-exposed-form #edit-ambito-wrapper .bef-checkboxes .subambitos .item-child-1 label {
/*.mmenu-nav #edit-ambito-wrapper .subambitos .item-child-1 label {*/
	font-weight:bold;
	font-size:12px;
}
#mmenu_right .views-exposed-form #edit-ambito-wrapper .bef-checkboxes .subambitos .item-child-2 {
/*.mmenu-nav #edit-ambito-wrapper .subambitos .item-child-2 {*/
	margin-left:20px !important;
}


.icono-ambito-personal.visible,
.icono-ambito-personal.ui-state-active,
.premium .checked.icono-ambito-personal,
.icono-ambito-personal:hover {
	background: url(../images/ambito_personal.png) no-repeat !important;
    opacity: 1;
}
.icono-ambito-psicomotriz.visible,
.icono-ambito-psicomotriz.ui-state-active,
.premium .checked.icono-ambito-psicomotriz,
.icono-ambito-psicomotriz:hover {
	background: url(../images/ambito_psicomotriz.png) no-repeat !important;
    opacity: 1;
}
.icono-ambito-emocional.visible,
.icono-ambito-emocional.ui-state-active,
.premium .checked.icono-ambito-emocional,
.icono-ambito-emocional:hover {
	background: url(../images/ambito_emocional.png) no-repeat !important;
    opacity: 1;
}
.icono-ambito-ambiental.visible,
.icono-ambito-ambiental.ui-state-active,
.premium .checked.icono-ambito-ambiental,
.icono-ambito-ambiental:hover {
	background: url(../images/ambito_ambiental.png) no-repeat !important;
    opacity: 1;
}
.icono-ambito-intelectual.visible,
.icono-ambito-intelectual.ui-state-active,
.premium .checked.icono-ambito-intelectual,
.icono-ambito-intelectual:hover {
	background: url(../images/ambito_intelectual.png) no-repeat !important;
    opacity: 1;
}
.icono-ambito-interpersonal.visible,
.icono-ambito-interpersonal.ui-state-active,
.premium .checked.icono-ambito-interpersonal,
.icono-ambito-interpersonal:hover {
	background: url(../images/ambito_interpersonal.png) no-repeat !important;
    opacity: 1;
}
.icono-ambito-socialcivico.visible,
.icono-ambito-socialcivico.ui-state-active,
.premium .checked.icono-ambito-socialcivico,
.icono-ambito-socialcivico:hover {
	background: url(../images/ambito_socialcivico.png) no-repeat !important;
    opacity: 1;
}
.icono-ambito-trascendente.visible,
.icono-ambito-trascendente.ui-state-active,
.premium .checked.icono-ambito-trascendente,
.icono-ambito-trascendente:hover {
	background: url(../images/ambito_trascendente.png) no-repeat !important;
    opacity: 1;
}




