.view-search-page .grid.tb-wall-grid {
      width: 230px;
}
.page-search-page #header #search-block-form .form-text {
    text-indent: 0!important;
}
#block-block-13 .logos span.logo {
    background-image: url(../images/logos-footer.png);
    width: 55px;
    height: 54px;
    display: table-cell;
    margin-right: .5em;
    margin-left: 1em;
    background-repeat: no-repeat;
}
#block-block-13 .block-content{
	text-align: center;
}
#block-block-13 ul.logos {
/*  overflow: hidden;
    padding: 0;
    list-style: none;
    max-width: 850px;
    margin: 0 auto 2em;	*/
	margin: 2px auto;
}
#block-block-13 .logos li {
/*  float: left;
    width: 33%;
    margin: 0;
    display: table;	*/
	display: inline-block;
    margin: 0 50px 20px 50px;
}
#block-block-13 span.logo.pago {
    background-position: -81px 0;
}
#block-block-13 span.logo.calidad {
    background-position: -245px 0;
}
#block-block-13 span.logo.prueba {
    background-position: -165px 0;
}
#block-block-13 span.text {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-size: 12px;
  font-weight: 700;
  padding-left: 1em;
}

#block-menu-menu-footer-links ul.menu, #block-menu-menu-footerlinks ul.menu, #block-menu-menu-menu-footerlinks ul.menu {
    max-width: 100%;
    float: none;
    margin: 0 auto;
    padding-bottom: 1em;
    text-align: center;
}
label[for="edit-panes-uc-termsofservice-agreement-checkout-tos-agree-agreed"] {
    color: #D33742;
}
#block-menu-menu-footer-links ul.menu li, #block-menu-menu-footerlinks ul.menu li, #block-menu-menu-menu-footerlinks ul.menu li {
    border-right: 1px solid #b73943;
    display: inline-block;
    float: none;
}
#block-menu-menu-footer-links ul.menu li:last-child, #block-menu-menu-footerlinks ul.menu li:last-child, #block-menu-menu-menu-footerlinks ul.menu li:last-child {
    border-right: 0;
}
#block-menu-menu-footerlinks a, #block-menu-menu-menu-footerlinks a, #block-menu-menu-footer-links a {
    color: #b73943!important;
    padding: 0 10px!important;
    float: none;
    display: block;
}
.page-main-inner {
  background: white;
  border-radius: 10px;
  min-height: 0!important;
}
.grid .page-main-inner, .node-type-servicio .main-content-inner {
 /* background: transparent;*/
}

.page-main-inner {
    background: #fff;
}
.front .page-main-inner, .page-search-page .page-main-inner, .page-lista-deseos .page-main-inner, .page-sello-calidad-bastian  .page-main-inner{
    background: transparent;
}
#main-wrapper .container.grid-24 {
    background-color: transparent;
}
.node-servicio .group-superior {
    height: auto!important;
}
.subs-info h2 {
    text-align: center;
    text-transform: none;
}
.subs-info {
  padding: 30px 0 0;
  position: relative;
}
.subs-settings p {
    text-align: center;
}
.subs-settings > li {
  margin: 1em 4% 0em 0!important;
}
.subs-settings > li:last-child {
  margin-right: 0!important;
}
.article > .subscription {
    max-width: 750px;
    margin: 0 auto;
}
.node-servicio #block-bastian-subscription {
    margin-top: 50px;
}
.subs-info table {
    border-collapse: separate;
    border-spacing: 0px 15px
}
.subs-info th {
    font-size: 16px;
    font-weight: 700;
    border: 0;
}
.subs-info td {
    background-color: #e5e5e5;
    text-align: center;
    border-radius: 10px 0 0 10px;
    padding: .5em 1em;
}
.subs-info td:last-child {
    border-radius: 0 10px 10px 0;
}
td.index {
    font-weight: 700;
    text-align: left;
    background-color: transparent!important;
}
.tick {
    background: url('../images/tick.png') 0 0 no-repeat;
    display: block;
    width: 22px;
    height: 14px;
    margin: 0 auto;
}
#block-bastian-subscription .prices > li{
    cursor: pointer;
    width: 26%!important;
    margin: 0 3.5%!important;
}

.page-search-page #block-views-exp-search-page-page {
    display: none;
}

@media only screen and (max-width: 700px) {
    #block-bastian-subscription .prices > li{
          width: 100%!important;
          margin: 3em auto !important;
          max-width: 200px;
          float: none !important;
    }
    #block-block-13 .logos li {
        width: 50%;
        margin: 2em 0;
    }
}
@media only screen and (max-width: 400px) {
    #block-bastian-subscription .prices > li{
        float: none!important;
        margin: 4em auto!important;
    }
}
@media only screen and (max-width: 300px) {
    #block-block-13 .logos li {
        width: 100%;
    }
}
.premium #block-bastian-subscription .prices > li{
    cursor: default!important;
}
#block-bastian-subscription a.btn {
    border-radius: 10px;
    padding: 4px 6px!important;
    font-size: 18px;
}
#block-bastian-subscription div.extra {
  overflow: hidden;
  width: 100%;
  float: left;
  padding: 2em 3em;
  font-weight: 700;
  max-width: 750px;
  font-size: 11px;
}

#payment-pane #line-items-div {
    display: none;
}
#line-items-div {
    text-align: left;
}
#line-items-div #uc-order-total-preview{
    float: right;
    margin-right: 1.5em;
}
#coupon-pane .button {
  width: 100%;
  float: left;
  text-align: right;
  margin-top: 1em;
  text-transform: uppercase;
}
#uc-order-total-preview td.title {
    font-weight: 300;
      text-align: right;
}
.cart-review td.subtotal #subtotal-title, .cart-review td.subtotal .uc-price {
    display: none;
}
.cart-review tr.subtotal, .form-wrapper#payment-pane {
  border-top: 1px solid #f3f3f3;
}
.form-wrapper#coupon-pane, .form-wrapper#payment-pane {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 2em;
}
#payment-details {
    border-left: 0;
}
.uc-cart-checkout-form {
  padding: 2em 8em;
  overflow: hidden;
}
table.cart-review td.price{
    text-align: right;
}
div.total, .fieldset.subtotal {
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}
div.total .inner, .fieldset.subtotal .inner {
    border: 1px solid #D33742;
    border-radius: 5px;
    padding: .2em;
    margin-bottom: 1em;
    float: right;
    font-weight: 700;
    text-transform: uppercase;
}
.fieldset.subtotal .inner {
    border-color: #c3c3c3;
}
#subtotal-title {
    font-weight: normal;
    text-transform: none;
}
div.total .inner > span {
      margin: 0 2em
}

div.total .inner > span.money {
      margin-right: 8px;
}
 .fieldset.subtotal .inner > span {
     margin: 0 1em;
 }
 .fieldset.subtotal .inner > span.uc-price {
      margin-right: 9px;
}
#uc-order-total-preview .line-item-total, #uc-order-total-preview .line-item-subtotal {
    display: none;
}
#coupon-pane {
      padding-top: 0;
}
.form-item-panes-coupon-code {
    float: right;
      background: #f3f3f3;
      padding: .5em 0 .5em 1em;
      border-radius: 7px;
}
.form-item-panes-coupon-code > label, .form-item-panes-coupon-code > input {
    display: inline;
    width: 55%!important;
}
.form-item-panes-coupon-code > input {
    background: #fff!important;
    margin-left: 1em;
}
fieldset#payment-pane {
    width: 100%;
}
#billing-pane .fieldset-title, #delivery-pane .fieldset-title, fieldset#payment-pane .description h2, #payment-details h2 {
    color: #D33742;
    font-size: 16px;
}
.uc-cart-checkout-form #comments-pane, #uc_termsofservice_agreement_checkout-pane, .uc-cart-checkout-form #edit-actions {
    float: left;
    width: auto;
}
#comments-pane textarea {
  background: #f3f3f3;
  border-radius: 10px!important;
  border: 0;
  padding: 4px 10px;
  resize: none;
}
.uc-cart-checkout-form .form-wrapper#cart-pane {
    margin-bottom: 0;
    padding-bottom: 0;
}
.uc-cart-checkout-form #comments-pane .grippie {
    display:none;
}
.uc-cart-checkout-form #edit-actions {
    text-align: left;
    padding-left: 4em;
    margin-top: 0;
}
.uc-cart-checkout-form #edit-actions > span {
    float: right;
    margin: 0 .5em;
    text-transform: uppercase;
}
.uc-cart-checkout-form #edit-actions > span:first-child input {
  background: #f3f3f3!important;
  border-color: #f3f3f3!important;
  color: grey;
}
.uc-cart-checkout-form #edit-actions > span input {
  width: 200px;
  text-transform: uppercase;
}
.form-wrapper#uc_termsofservice_agreement_checkout-pane {
    padding-left: 5em;
    text-align: left;
}
.uc-cart-checkout-form .form-wrapper#cart-pane .fieldset-title {
    display: block;
      color: #D33742;
  font-size: 16px;
  font-weight: bold;
}
#payment-details select {
  background: #f3f3f3;
}
.uc-cart-checkout-form input[type="radio"] {
    display: none;
}
.uc-cart-checkout-form label.option:before {
    display: inline-block;
    content: "";
    width: 18px!important;
    height: 15px!important;
    background: url('../images/caixa.png') 0 0 no-repeat!important;
    position: relative;
    top: 0px;
    left: -2px;
}
.uc-cart-checkout-form input[type="checkbox"]:checked + label.option:before,
.uc-cart-checkout-form input[type="radio"]:checked + label.option:before {
    background: url('../images/caixaiok.png') 0 0 no-repeat!important;
}
.uc-cart-checkout-form #payment-details > p {
    display: none;
}








/*** BETTER MESSAGES ****/
#better-messages .messages-label {
    display: none;
}
#block-block-23 {
    float: left;
    z-index: 1000;
}
#block-block-23 button {
    text-indent: -9999px;
    text-align: left;
    display: block;
    width: 56px;
    height: 40px;
    border: 0;
    cursor: pointer;
    background: url('../images/main-menu.png') 0 6px no-repeat;
}
.select-language .attributes label[for="edit-attributes-3"] {
    display: none;
}
.main-menu-full.hidden {
    -webkit-transform: translate3d(-101%, 0, 0);
    transform: translate3d(-101%, 0, 0);
}
.main-menu-full .wrapper {
    position: relative;
}
/*
.main-menu-full .close-menu {
    text-indent: -9999px;
    text-align: left;
    display: block;
    width: 35px;
    height: 37px;
    border: 0;
    cursor: pointer;
    background: url('../images/close-menu.png') 0 6px no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
}	*/
.main-menu-full {
    position: fixed;
    z-index: 9999;
    width: 75%;
    max-width: 400px;
    background-color: #E4E4E4;
    height: 100%;
    padding: 40px 0 30px;
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 5px 8px #c6c6c6;
    overflow: hidden;
    -webkit-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
.main-menu-full a {
    color: #000;
    padding: .4em 3em;
    text-transform: uppercase;
    display: inline-block;
}
.main-menu-full ul {
  float: left;
  width: 100%;
  display: block;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu-full ul li {
    margin: 0;
}
#header-wrapper .grid-inner {
    padding-right: 0;
    padding: 0;
}
#block-block-24 {
    float: left;
    position: absolute;
    right: 25px;
    top: 13px;
    text-transform: uppercase;
    font-family: 'Droid Sans', sans-serif;
    color: #000;
    z-index: 1000;
}
#block-block-24 .block-content a {
    padding: 0 .5em;
}
.region-header div.block.block-views {
      width: 600px;
      margin: 0 auto;
      padding-top: 10px;
      position: fixed;
      left: 40%;
      z-index: 999;
}
#edit-ambito-wrapper ul.bef-tree-child.bef-tree-depth-1 {
    max-height: 260px;
    overflow-x: hidden!important;
}
.filtre-open #main-wrapper {
    opacity: .5;
}
.form-type-checkbox label.option {
    cursor: pointer;
}

#payment-details > h2, #payment-pane .description > h2 {display: none;}
#payment-details > h2:first-child, #payment-pane .description > h2:first-child {display: block;}
    #edit-ambito-wrapper .bef-tree-depth-1 input[type="checkbox"], .form-type-checkbox input[type="checkbox"] {
        display: none;
    }
    #edit-ambito-wrapper .bef-tree-depth-1 label.option:before, .form-type-checkbox label.option:before {
        display: inline-block;
        content: "";
        width: 11px;
        height: 10px;
        background: url('../images/checkboxBig.png') 0 0 no-repeat;
        position: relative;
        top: 0px;
        left: -2px;
    }
    #edit-ambito-wrapper .bef-tree-depth-1 input[type="checkbox"]:checked + label.option:before, .form-type-checkbox input[type="checkbox"]:checked + label.option:before {
        background: url('../images/checkedBig.png') 0 0 no-repeat;
    }
    #edit-ambito-wrapper .bef-tree-depth-2 label.option:before {
        display: inline-block;
        content: "";
        width: 11px;
        height: 8px;
        background: url('../images/checkbox.png') 0 0 no-repeat;
        position: relative;
        top: 0px;
        left: -2px;
    }
    #edit-ambito-wrapper .bef-tree-depth-2 input[type="checkbox"]:checked + label.option:before {
        background: url('../images/checked.png') 0 0 no-repeat;
    }
span.des {
    border: 0;
    display: inline-block;
    color: #b83a43;
    font-weight: bold;
    background: transparent;
    font-family: 'Droid Sans', sans-serif;
    font-size: 13px;
    padding-left: 0;
    cursor: pointer;
}
    .region-header div.block.block-views .block-title:before {
        display: block;
        width: 18px;
        height: 17px;
        background: url('../images/filtre-arrows.png') 0 0 no-repeat;
        content: ' ';
        position: absolute;
        left: 5px;
        top: 2px;
    }
    .region-header div.block.block-views .block-title {
        position: relative!important;
        clip: auto;
        padding-left: 30px;
        height: auto;
        color: #b73943;
        font-size: 18px;
        display: block;
        cursor: pointer;
        margin: 0 auto;
        width: 140px;
    }
    .region-header div.block.block-views .block-content {
        display: none;
        text-align: left;
        position: absolute;
        width: 100%;
        background-color: #fff;
        padding: 20px 30px 30px;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 3px 5px 8px #c6c6c6;
        top: 45px;
    }
        .region-header div.block.block-views .block-content .views-exposed-widgets {
            display: block;
            width: 100%;
        }
            .region-header div.block.block-views .block-content .views-exposed-widgets > label {
                display: block;
                width: 100%;
                color: #b73943;
                font-weight: 700;
                font-size: 12px;
                padding: 10px 0;
            }


#edit-ambito-wrapper .bef-tree-depth-0 > li > ul {
    display: none!important;
    padding-top: 20px;
    overflow: visible!important;
}
#edit-ambito-wrapper .bef-tree-depth-0 > li.visible > ul {
    display: block!important;
}
li.select-all {
    position: absolute;
    top: -2px;
}
.description-recurso.trimmed {
    position: relative;
    max-height: 240px;
    overflow: hidden;
    min-height: 150px;
}
.description-recurso .abs.subscribe-link a {
    font-size: 14px;
}
.remember-dto {
  display: block;
  float: left;
  width: 180px;
  height: 110px;
  margin-left: 1em;
  background: url('../images/topo_cast.png') 0 0 no-repeat;
  position: absolute;
  /*right: 183px;*/
 left: 127px;
  bottom: -10px;
}
.group-comprar {
    position: relative;
}

.field-name-field-disponible .field-label {
    display: none;
}

html[lang="ca"] .remember-dto {
    display: block;
    float: left;
    width: 180px;
    height: 110px;
    margin-left: 1em;
    background: url('../images/topo_cat.png') 0 0 no-repeat;
}
.gallery-thumbs .wrapper > ul {
    margin-left: 5px;
}
.gallery-thumbs .wrapper > ul > li {
    padding: 0 8px 0 0;
    border-radius: 10px;
}

.gallery-thumbs .wrapper > ul .slide-5, .gallery-thumbs .wrapper > ul .slide-6, .gallery-thumbs .wrapper > ul .slide-7, .gallery-thumbs .wrapper > ul .slide-8,
.gallery-thumbs .wrapper > ul .slide-9, .gallery-thumbs .wrapper > ul .slide-10, .gallery-thumbs .wrapper > ul .slide-11, .gallery-thumbs .wrapper > ul .slide-12,
.gallery-thumbs .wrapper > ul .slide-13, .gallery-thumbs .wrapper > ul .slide-14, .gallery-thumbs .wrapper > ul .slide-15, .gallery-thumbs .wrapper > ul .slide-16 {
    display: none;
}
#header-wrapper #block-search-form {
    position: relative;
    z-index: 1000;
}
.prev-link, .next-link {
    display: block;
    width: 60px;
    height: 60px;
    background: url('../images/arrows-sprite.png') 0 0 no-repeat;
    position: fixed;
    text-indent: -9999px;
    z-index: 999;
}
.home-link {
    display: block;
    width: 60px;
    height: 60px;
    background: url('../images/backhome.png') 0 0 no-repeat;
    position: fixed;
    text-indent: -9999px;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}
.prev-link {
    left: 10px;
    top: 40%;
    background-position: -60px 0;
}
.next-link {
    right: 10px;
    top: 40%;
}
.node-teaser div.fivestar-widget-static .star span.on {
    background-size: 68%;
    background-position: 0 -12px;
}
.node-teaser div.fivestar-widget-static .star span.off, .node-teaser div.fivestar-widget-static .star {
  background-size: 68%;
  height: 11px;
}
.view-productos-relacionados .grid.views-col {
    width: 230px;
}
#node_product_full_group_product_right {
    margin-left: 0;
}
#header-wrapper #block-block-25 h2.block-title {
    display: none;
}
#header-wrapper #block-block-25 .block-content {
    display: none;
}

#header-wrapper #block-block-25 {
    background: url('../images/search-bastian.png') 0 0 no-repeat!important;
    width: 23px;
    cursor: pointer;
    position: absolute;
    z-index: 999999;
    left: 199px;
    height: 28px;
    display: none;
}

.page-search-page .main-content-inner.grid-inner {
    background-color: #E4E4E4;
}
@media only screen and (max-width: 1300px) {
    .uc-cart-checkout-form {
      padding: 2em 5em;
    }
}
@media only screen and (max-width: 1000px) {
    #header-wrapper #block-search-form {
        display: none;
    }
    #header-wrapper #block-block-25 {
        /*display: block;*/
    }
    #header #search-block-form {
        right: 0 !important;
        margin-top: 45px;
    }
    .uc-cart-checkout-form {
      padding: 2em 2em;
    }
}
@media only screen and (max-width: 900px) {
    .node-full.recurso .field-group-div, #node_product_full_group_inferior, #block-commentsblock-comment-form-block {
        width: 100%;
    }
    #node_product_full_group_inferior {
        margin-top: 0;
    }
    #block-commentsblock-comment-form-block {
        margin-left:0;
    }
    .node-full .group-galleryformatter {
        height: auto;
        padding-bottom: 2em;
    }
    .prev-link, .next-link, .home-link {
        display: none;
    }
    div.node-product.node-full > .node-content, div.node-recursos.node-full > .node-content, div.node-product-kit.node-full > .node-content, div.node-otros-productos.node-full > .node-content {
        width: 100%;
    }
    .gallery-thumbs {
        display: none;
    }
    #node_product_full_group_product_right, #block-views-productos-relacionados-block h2.block-title, .view.view-productos-relacionados.view-id-productos_relacionados {
        margin-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    #uc-cart-checkout-form fieldset.fieldset {
        width: 100%;
        float: none;
    }

    #uc-cart-checkout-form fieldset#payment-pane .description,
    #uc-cart-checkout-form fieldset#payment-pane #payment-details {
        float: none;
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    #login-form, #register-form {
        width: 100%;
        max-width: 300px;
        display: block;
        float: none;
        padding-bottom: 3em;

    }
    .login-bastian {
        display: none;
    }
}
@media only screen and (max-width: 575px) {
    .region-header div.block.block-views .block-title {
        display: none;
    }
    #uc-cart-view-form td.image, #uc-cart-view-form thead th:nth-child(2) {
        display: none;
    }
}
@media only screen and (max-width: 490px) {
    #header #search-block-form {
        margin-top: 0;
    }
}
@media only screen and (max-width: 450px) {
    .gallery-thumbs {
        display: none;
    }
/*    #block-views-cbdd7d98ea91a7f99d7de8a79cc87429 {
        display: none;
    }	*/
}






body.page-node-172.node-type-servicio div.article.node-subs {
    background: #fff;
}

body.page-node-172.node-type-servicio .main-content-inner.grid-inner,
body.page-node-712.node-type-servicio .main-content-inner.grid-inner,
body.page-node-231.node-type-servicio .main-content-inner.grid-inner,
body.page-node-235.node-type-servicio .main-content-inner.grid-inner {
    background: #fff;
}

#payment-pane .description .form-item-panes-payment-payment-method #paypal-includes {
    display: none
}

#payment-pane .description .form-item.form-type-radio label {
    color: #000;
}

.footer-end {
    padding-bottom: 30px;
}
.address-pane-table .field-label, .payment-details-credit label {
    font-weight: normal;
}
#delivery-pane > legend {
      margin-bottom: 1.5em;
}
