/*		ROJO: #D33742 / rgba(237,153,125)			*/

/* TEXTO FICHA PRODUCTO - LECTURAS */
.texto-ancho {
	line-height:1.75em;
}
/*.texto-ancho .field-item::first-letter,
.texto-ancho .field-item div::first-letter {	*/
.texto-ancho .drop-caps::first-letter,
.texto-ancho .drop-caps div::first-letter {
    display: block;
    float: none;
	font-size: 100%;
	margin-top: 0px;
}
/*.texto-ancho .field-item::first-letter,
.texto-ancho .field-item div:first-child:first-letter {*/
.texto-ancho .drop-caps::first-letter,
.texto-ancho .drop-caps div:first-child:first-letter {
    display: block;
    float: left;
	font-size: 3.5em;
/*	margin-top: 5px;	*/
	height:.7em; 
	line-height:.85em; 
	*line-height:1em; /* IE7 Only */ 
	margin:5px 0 -5px 0; 
	padding:0 .1em 0 0; 
}


/* ESCAPARATE: QUITAMOS FONDO BLANCO Y BORDE */
.grid.views-col .grid-inner .node.node-escaparate {
	border:none;
	background:none;
	box-shadow:none;
}


/* NODE FULL - SHARE THIS */
.node-full .sharethis-buttons {
	display: block;
    clear: both;
	padding-top:10px;
	float:left;
}
.node-full .sharethis-buttons span {
    height: 25px;
    width: 25px;
    margin-right: 3px;
}
.node-full .sharethis-buttons .st_facebook_custom {
	background: url("../images/facebook_24.png") no-repeat scroll left top transparent;
}
.node-full .sharethis-buttons .st_twitter_custom {
	background: url("../images/twitter_24.png") no-repeat scroll left top transparent;
}
.node-full .sharethis-buttons .st_email_custom {
	background: url("../images/email_24.png") no-repeat scroll left top transparent;
}
.node-full .sharethis-buttons .st_pinterest_custom {
	background: url("../images/pinterest_24.png") no-repeat scroll left top transparent;
}
.node-full .sharethis-buttons .st_sharethis_custom {
	background: url("../images/sharethis_24.png") no-repeat scroll left top transparent;
}


/* NODE FULL - FLAG WISH */
.node-full .flag-outer {
  float:none;
  line-height: 28px;
  margin-top: 10px;
}
span.flag-message.flag-success-message.flag-auto-remove {
	display:inherit !important;
}
.flag-message {
	top:0.2em;
	left:2.5em;
	color: #808080;
	font-size: 12px;
}


/* NODE FULL - COMPRAR PRODUCTO */
#node_product_full_group_product_right .price-item {
	clear:both;
}
.node-full .group-product-right .display-price .uc-price {
	color:#FF0000;
	text-decoration:line-through;
	margin-right:10px;
}
.node-full .group-product-right .display-price .precio-descuento {
    font-size: 24px;
	color:#333;
	text-decoration:none;
	margin-right:10px;
}

/* NODE TEASER - COMPRAR PRODUCTO */
.node-teaser .group-contenido .display-price .uc-price {
	color:#FF0000;
	text-decoration:line-through;
	margin-left:5px;
}
.node-teaser .group-contenido .display-price .uc-price.precio-descuento {
	color:#333;
	text-decoration:none;
}


/* NODE FULL - TAMBIÉN DISPONIBLE EN OTRO IDIOMA */
.field-name-field-disponible-catalan,
.field-name-field-disponible-castellano,
.field-name-field-disponible-ingles {
	margin:20px 0;
}
.field-name-field-disponible-catalan a,
.field-name-field-disponible-castellano a,
.field-name-field-disponible-ingles a {
	background:#e3e3e3 !important;
	color:#444 !important;
	padding:10px 20px !important;
}
.field-name-field-disponible-catalan a:hover,
.field-name-field-disponible-castellano a:hover,
.field-name-field-disponible-ingles a:hover {
	text-decoration:none;
	background:#D33742 !important;
	color:#FFF !important;
}



/* VIEW BULK PEDIDOS */
.view-bulk-pedidos .form-type-checkbox input[type="checkbox"],
.view-bulk-productos .form-type-checkbox input[type="checkbox"] {
    display: inherit;
}


/* QUIENES SOMOS */
.view-quienes-somos {
	margin:0 150px;
}
.view-quienes-somos .views-row {
	float:left;
/*	width:200px;	*/
	margin-bottom:30px;
	margin-right:30px;
}
.view-quienes-somos .quienes-fotos {
	width:400px;
    float:left;
}
.view-quienes-somos .quienes-fotos .views-field-field-image {
	width:153px;
}
.view-quienes-somos .quienes-fotos .views-field-field-imatge-hover {
	display:none;
}
.view-quienes-somos .quienes-textos {
/*	margin-left:430px;
    width:450px;		*/
	text-align: justify;
}
.view-quienes-somos .views-field-title h2 {
	margin-bottom:0px;
    color:#D33742;
}
.view-quienes-somos .views-field-field-subtitulo h4 {
	font-size:110%;
	margin-top:0px;
}

/* BLOCK QUIENES SOMOS */
#block-block-28 {
	margin:50px 150px;
}
#block-block-28 h2 {
    color:#D33742;
	margin-top:0px;
}

.responsive-block-center {
	width: 60%; 
	margin: 0 auto;
}


/* BOTÓN SUBMIT */
.boton-submit, .boton-submit:hover, .boton-submit:visited, .boton-submit:active {
	background-color:#D33742;
	color:#FFFFFF;
	font-weight:bold;
	padding:5px 10px;
	border-radius:10px;	
	text-decoration:none;
}



/* HEADER BLOCKS */
#block-block-19,
#block-block-22,
#block-language-switcher-fallback-language-switcher-fallback,
#block-block-24,
#block-block-26,
#block-block-27 {
    float: left !important;
    position: relative !important;
	z-index:2;
}
#block-language-switcher-fallback-language-switcher-fallback,
#block-block-24,
#block-block-26,
#block-block-19 {
    float: right !important;
}
#block-language-switcher-fallback-language-switcher-fallback, /* IDIOMAS */
#block-block-19 {	/* CESTA */
	top:0px;
	right:0px;
	margin:0px 20px 0 0;
/*	height: 10px;	*/
	vertical-align: middle !important;
	height: auto !important;
	padding: 15px 0
}
#block-language-switcher-fallback-language-switcher-fallback { /* IDIOMAS */
/*	top: -20px;	*/
	padding:0px;
}
#block-language-switcher-fallback-language-switcher-fallback ul {
	margin:0px;
}
#block-language-switcher-fallback-language-switcher-fallback ul li {
	line-height: 40px;
}
#block-block-27 {	/* MENU BUTTON */
    margin:0 20px;
/*	padding: 10px 0;	*/
	line-height:40px;
}
#block-block-19	{	/* CESTA */
	padding: 10px 0
}
#block-block-26 {	/* FILTRA BUTTON */
    margin:0px 35px 0 0;
/*	padding: 10px 0;	*/
	line-height:40px;
}
#block-block-22 {	/* LOGO BASTIAN */
    position: absolute !important;
	left: 0;
	right: 0;
	text-align: center;
	z-index:1;
	line-height: 40px;
}
/* FILTRA BUTTON i MENU BUTTON */
#block-block-26 a:hover,	
#block-block-26 a:active,
#block-block-27 a:active,
#block-block-27 a:hover {
	text-decoration:none;
}


@media screen and (max-width: 1050px) {
	/* QUIENES SOMOS */
	#block-block-28 {
		margin:50px 100px;
	}
	.view-quienes-somos {
		margin:0 100px;
	}
	.view-quienes-somos .quienes-fotos {
		width:400px;
	}

}

@media screen and (max-width: 768px) {
	/* QUIENES SOMOS */
	.view-quienes-somos .quienes-textos {
		clear:both;
	}

	.responsive-block-center {
		width: 90%;
	}

}


@media screen and (max-width: 550px) {
	#block-block-22 img { /* LOGO */
		height: 30px;
		vertical-align: middle;
	}
	#block-language-switcher-fallback-language-switcher-fallback, /* IDIOMAS */
	#block-block-19 {	/* CESTA */
		display:none;
	}
	#block-block-27 {	/* MENU BUTTON */
		margin:0 5px;
	}
	#block-block-26 {	/* FILTRA BUTTON */
		margin:0px 15px 0 0;
	}

	/* QUIENES SOMOS */
	#block-block-28 {
		margin:50px 50px;
	}
	.view-quienes-somos {
		margin:0 50px;
	}

	.responsive-block-center {
		width: 100%;
	}

}


/* MENU OPEN BUTTON */
button.top-menu-button,
a.top-menu-button {
	color:#D33742;
	background:#FFF;
	cursor:pointer;
	border:none;
	border-top:3px solid #D33742;
	border-bottom:3px solid #D33742;
	font-weight: bold;
	font-family: 'Droid Sans', sans-serif;
	font-size:110%;
}
#block-block-27 {
	float:left;
}
#block-block-26 {
	float:right;
}






/* INPUT BOX BORDER */
#main-wrapper input[type="text"] {
	border:1px solid #d0d0d0;
}


/* EU COMPLIANCE POPUP */
#sliding-popup .popup-content #popup-text {
    max-width: 90%;
}

/* LOGIN FORM */
#login-form {
	margin-top: 0px;
}
#login-form > form {
	padding-top: 0px;
}
#login-form #user-login input, #register-form #user-register-form input {
	padding: 2px;
	border: 1px solid #DDD;
	border-radius:2px;
}
#register-form {
	float:right;
}


/* LINK DE AFILIACIÓN */
#affiliate-click-link,
#affiliate-url {
	margin:20px 0;
}
#affiliate-click-link a {
	padding:10px;
	background:#D33742;
	color:#FFF;
	font-weight:bold;
	border-radius:4px;
}
#affiliate-url .affiliate-url-prefix {
    margin-bottom: 10px;
    color: #D33742;
}
#affiliate-url textarea {
	background-color:#ddd;
    font-size: 90%;
}

/* LINK DE AFILIACIÓN */
#afiliacion {
	margin:20px 0;
}
#afiliacion-enlace {
	padding:10px;
	background:#D33742;
	color:#FFF;
	font-weight:bold;
	border-radius:4px;
}
#afiliacion-enlace,
#afiliacion-enlace:hover {
	text-decoration:none;
}
#afiliacion-textarea {
	width:100%;
    margin-top: 20px;
/*	height:100px;	*/
	min-height:100px;
	max-height:200px;
	background-color:#e3e3e3;
    font-size: 100%;
	font-family: monospace;
	display:none;
}


/* ATRIBUTOS: PERSONALIZAR PRODUCTO */
.group-comprar.field-group-div .attribute label {
	font-size:12px;
}
.group-comprar.field-group-div .attribute-6 {
    margin: 20px 0 40px 0;
}
.group-comprar.field-group-div .attribute-6 .form-radios .form-item {
    background: #D33742;
    color: white;
    border-radius: 4px;
	margin-right: 10px;
	padding:8px;
    display: inline-block;
	min-width: 50px;
    text-align: center;
	text-transform: uppercase;
}
.field-name-field-primer-capitulo {
	clear:both;
	padding:20px 0;
}
.field-name-field-primer-capitulo a,
.field-name-field-primer-capitulo a:hover {
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}


/* AVISO DE VACACIONES */
div.aviso-vacaciones {
	padding:10px;
	border:1px solid #D33742;
	border-radius:6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	font-size: 1.2em;
}



/* NEWSLETTER SUSCRIPCIÓN */
#splash-block-splash {
	padding:0px 10px !important;
}
.webform-suscripcion-newsletter .header {
	display:none;
}
.webform-suscripcion-newsletter form {
	background:url(../images/POP-UP_NEWSLETTER_01.png) no-repeat;
	background-size:contain;
	background-position:center;
	text-align:center;
	display:block;
/*	width:621px;
	height:621px;	*/
	min-height:621px; 
}
.i18n-ca .webform-suscripcion-newsletter form {
	background:url(../images/POP-UP_NEWSLETTER_01-CA.png) no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}
.webform-suscripcion-newsletter .form-email {
	background:transparent;
	border:none;
	position:absolute;
	top:515px;
	left:310px;
/*  margin-top:410px;
    margin-left:100px;	*/
	line-height:16px;
	width:500px;
	color:#D33742;
	font-size:16px;
	padding:0px;
}
.webform-suscripcion-newsletter .form-email:active,
.webform-suscripcion-newsletter .form-email:visited,
.webform-suscripcion-newsletter .form-email:focus {
	background:#FFF;
}
.webform-suscripcion-newsletter .form-type-checkbox label {
/*	display:none;	*/
}
.webform-suscripcion-newsletter .form-type-checkbox input[type="checkbox"] {
	display:none;
}
.webform-suscripcion-newsletter .form-type-checkbox input[type="checkbox"] + label {
	height:30px;
    width:30px;
    display:inline-block;
    padding:0 0 0 0px;
	position: absolute;
	left: 265px;
	bottom: 20px;
/*    margin-top:17px;
    margin-left:33px;	*/
	display:inline-block;
    font-size:0px;
}
.webform-suscripcion-newsletter .form-type-checkbox label.option:before{
	display:inline-block;
	content:"";
	width:15px;
    height:15px;
    background:none;
    position:relative;
    top:5px;
    left:0px;
}
.webform-suscripcion-newsletter .form-type-checkbox input[type="checkbox"]:checked + label.option:before  {
    background: url('../images/Newsletter-check.png') 0 0 no-repeat;
	height:32px;
	width: 18px;
	display:inline-block;
	padding:0 0 0 0px;
	left:5px;
    top:-5px;
}
.webform-suscripcion-newsletter span.button input.form-submit {
	background:transparent !important;
    background: url('../images/POPUP-SEND.png') 0 0 no-repeat !important;
	border:none !important;
	border-radius:26px;
    position:absolute;
	top:565px;
/*    left:50%;	*/
	margin-left:130px;
	line-height:32px;
	width:160px;
	color:#D33742;
	font-size:18px;
    text-indent:-4000px;
}
.webform-suscripcion-newsletter a.condiciones-privacidad {
	display: block;
	background: transparent;
	height: 30px;
	width: 180px;
	position: absolute !important;
	top: 570px;
	right: 40%;
}
#splash-block-splash .webform-suscripcion-newsletter .form-email {
	top:523px;
	left:60px;
}
#splash-block-splash .webform-suscripcion-newsletter .form-type-checkbox input[type="checkbox"] + label {
	bottom:58px;
	left:23px;
}
#splash-block-splash .webform-suscripcion-newsletter span.button input.form-submit {
	top:570px;
    margin-left:120px;
}
#splash-block-splash .webform-suscripcion-newsletter a.condiciones-privacidad {
	width:160px;
	right:34%;
}