#comments > h2 {
  background: #333;
  color: #fff;
  font-size: 1.1em;
  margin-top: 1em;
  padding: 5px 10px;
}

.comment {
  border-top: 1px dotted #cdcdcd;
  margin-bottom: 0;
  margin-top: 0;
  padding: 15px 0;
}

.comment-form-wrapper {
  border-top: 1px dotted #cdcdcd;
  padding: 10px 0 0;
}

#comments .indented {
  background: url(images/indent-tree.gif) no-repeat left 10px;
  margin-bottom: 1em;
  margin-left: 0;
  padding-left: 20px;
}

#comments .indented .comment {
  border-top: 0;
  margin-top: 0;
}

.comment > .header {
  border-bottom: 0;
  padding-bottom: 0;
}

.comment-title {
  font-size: 1.1em;
}

.comment-title a,
.comment-title a:visited {
  text-decoration: none;
}

.comment-title a:hover,
.comment-title a:active,
.comment-title a:focus {
  text-decoration: underline;
}

.ta-l .comment-title {
  text-align: left;
}

.ta-r .comment-title {
  text-align: right;
}

.ta-c .comment-title {
  text-align: center;
}

.comment-title .new {
  color: #ff8000;
}

.comment > .footer {
  color: #7b7b7b;
  margin-bottom: 1em;
}

.comment ul.links {
  display: block;
  margin: 0;
  padding: 0;
}

.comment ul.links li {
  padding: 0 0 0 .25em;
}

.comment ul.links li a {
  background: url(images/grad-1.gif) repeat-x top #cdcdcd;
  border: 1px solid #cdcdcd;
  color: #666;
  display: inline-block;
  font-weight: 700;
  padding: 2px 10px;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: middle;
}

.comment ul.links li a:hover,
.comment ul.links li a:focus,
.comment ul.links li a:active {
  background: url(images/grad-d1.gif) repeat-x top #08c;
  border: 1px solid #08c;
  color: #fff;
}

#autocomplete {
  background: #fff;
  padding: 2px 5px;
}

#edit-email {
  padding-left: 0;
}


#comments .submitted {
  font-style:italic;
}
#comment-form .form-type-item {
  display:none;
}