/* COMMON GRID ELEMENTS
--------------------------------------------------------- */
.wrap { clear: both; width: 100%; }

/* MASONRY PRESETS
--------------------------------------------------------- */
/* Percentage width reference:
- 100%   ~ 1 col
- 50%    ~ 2 cols
- 33.3%  ~ 3 cols
- 25%    ~ 4 cols
- 20%    ~ 5 cols
- 16.6%  ~ 6 cols
- 14.2%  ~ 7 cols
- 12.5%  ~ 8 cols
- 11.1%  ~ 9 cols
- 10%    ~ 10 cols
*/
/* Default (Medium) ----*/
.grid.views-col { width: 25%; /* 4 cols */ max-width: 100%; }

.grid.views-col .grid-inner { padding: 0; margin: 0; }

.grid.views-col .grid-inner .node { margin: 10px; padding: 20px; position: relative; }

.grid.tb-wall-large-style { width: 50%; }

/* Auto Inner Grids ---*/
.col { float: left; }

.cols-1 .col { width: 100%; }

.cols-2 .col { width: 50%; }

.cols-3 .col { width: 33.3%; }

.cols-4 .col { width: 25%; }

.cols-5 .col { width: 20%; }

.single-grid { width: 250px; }

.double-grid { width: 500px; }

.triple-grid { width: 750px; }

/* MAIN CONTAINER
--------------------------------------------------------- */
.grid.views-col.tb-wall-single-style { width: 230px; }
.view-front-page-2 .grid.tb-wall-grid {
    width: 230px;
}

.grid.views-col.tb-wall-double-style { width: 470px; }

.grid.views-col.tb-wall-triple-style { width: 710px; }

.block.grid-single { width: 250px; float: left; }

.block.grid-double { width: 500px; float: left; }

.block.triple-double { width: 750px; float: left; }

.sidebar .block { width: 250px; float: left; max-width: 100%; }
