/* POSICIONAMENT D'IMATGES EN EL CONTINGUT */
.imatge_esquerra {
	float:left;
	margin-right:10px;
}
.imatge_dreta {
	float:right;
	margin-left:10px;
}
/* POSICIONAMENT D'IMATGES EN EL CONTINGUT */

@import url(http://fonts.googleapis.com/css?family=Give+You+Glory);