/* --- Articles (nodes) --- */
/* Teaser */
/* Article Title */
.node-title {
	color: #333;
	font-size: 2em;
	margin: 0;
	font-weight: bold;
}

.node-title a,
.node-title a:visited { color: #222; }

.node-title a:hover,
.node-title a:active,
.node-title a:focus { color: #222; }

.grid.views-col .node-title { font-size: 1.1em; font-weight: 600; line-height: 1.3; }

.grid.views-col.tb-wall-double-style .node-title { font-size: 1.5em; }

.node-tb-rss-feed .header ,
.node-tb-social-feed .header  {
	margin-bottom: 10px;
}

/* Meta */
.node > .submitted {
	color: #999;
	line-height: 1.1;
	padding: 5px 0 15px;
	font-size: .92em;
	margin-top: 0;
	vertical-align: middle;
}

.node > .submitted a { color: #999; }

.node > .submitted a:hover,
.node > .submitted a:active,
.node > .submitted a:focus { color: #222; text-decoration: none; }

/* Article Links */
.node-links .menu { margin-top: 1.5em; }

.node-links ul.links {
	color: #999;
	font-size: .92em;
	margin: 20px 0 0;
	display: block;
	line-height: 1.3;
}

.node-links ul.links li {
	margin: 0 .2em 0 0;
	padding: 0;
	line-height: normal;
	background-position: left center;
}

.node-links ul.links li a { color: #2985e8; display: inline-block; padding: 3px 0; }

.node-links ul.links li a:hover,
.node-links ul.links li a:active,
.node-links ul.links li a:focus { color: #12639b; }

.node-links ul.links li.node-readmore a { color: #2985e8; }

.node-showcase .node-links ul.links {
	margin-top: 0px;
}

/* --- Blogs --- */
.node {
	border: 1px solid #E5E5E5;
	margin: 10px 10px 20px;
	padding: 20px;
	position: relative;
	background: #fff;
}

.node-content { position: relative; }

/* Blog User Picture */
.node > .submitted .user-picture { width: 45px; display: inline-block; float: left; }

.node-blog .user-picture { display: inline-block; vertical-align: text-top; }

.node > .submitted .user-picture a,
.node > .submitted .user-picture a:hover,
.node > .submitted .user-picture a:focus,
.node > .submitted .user-picture a:active { border: none; }

.user-picture img {
	width: 35px;
	height: 35px;
	max-width: 100%;
	margin-right: 10px;
}

/* Field Image */
.node .field-type-image { border: 0; margin: 0 0 15px; }

.page-showcase .node .field-type-image {
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
}

/* Blog Links */
.node-links ul.links li {
	background: url("../images/bullet.png") no-repeat 0 4px;
	padding-left: 10px;
}

.node-links ul.links li.first{ background: none; padding-left: 0; }

/* grid ---*/
.grid.views-col .grid-inner .node { background: #FFF; border: 1px solid #E5E5E5; }

.grid.views-col .grid-inner .node:hover { border-color: #c5c5c5; }

.grid.views-col .grid-inner .node .field-type-image img { max-width: 100%; height: auto; }

.grid.views-col.tb-wall-grid .grid-inner .node .field-type-image img { width: 100%; height: auto; }
.grid.views-col.tb-wall-grid .grid-inner .node .field-type-youtube iframe, .grid.views-col.tb-wall-grid .grid-inner .node .field-type-link-field iframe {
    height: auto;
    width: 100%;
}

.node .field-type-media iframe{
  max-width: 100%;
}

.page-user #main-content .block-inner { padding-left: 10px; padding-right: 10px; }

/* Item Youtube ---*/
.grid.views-col .grid-inner .node .field-name-field-youtube img,
.grid.views-col .grid-inner .node .field-name-field-vimeo img { max-width: 100%; height: auto; margin-bottom: 15px; }
.node.node-tb-social-feed .field-name-field-youtube img,
.node.node-tb-social-feed .field-name-field-vimeo img,
.node-tb-social-feed iframe{
	margin-bottom: 15px; 
}


/* Item Black ---*/
.grid.views-col.tb-wall-black-background .grid-inner .node {
	background: #2A2A2A;
	border-color: #E0E0E0;
	color: #ccc;
}

.grid.views-col.tb-wall-black-background .node-title a, 
.grid.views-col.tb-wall-black-background .node-title a:visited { color: #fff; border-color: #f8f8f8; }

.grid.views-col.tb-wall-black-background .node > .submitted a { color: #f8f8f8; border-color: #f9f9f9; }

.grid.views-col.tb-wall-black-background .node > .submitted a:hover,
.grid.views-col.tb-wall-black-background .node > .submitted a:focus,
.grid.views-col.tb-wall-black-background .node > .submitted a:active { color: #fff; border-color: #fff; }

.grid.views-col.tb-wall-black-background .node > .submitted a:hover,
.grid.views-col.tb-wall-black-background .node > .submitted a:focus ,
.grid.views-col.tb-wall-black-background .node > .submitted a:active { color: #f8f8f8; border-color: #f5f5f5; }

/* Item Green ---*/
.grid.views-col.tb-wall-green-background .grid-inner .node { background: #8bca31; color: #fff; }

.grid.views-col.tb-wall-green-background .node-title a, 
.grid.views-col.tb-wall-green-background .node-title a:visited { color: #fff; }

.grid.views-col.tb-wall-green-background .node > .submitted { color: #f8f8f8; }

.grid.views-col.tb-wall-green-background .node > .submitted a { color: #f8f8f8; border-color: #f8f8f8; }

.grid.views-col.tb-wall-green-background .node > .submitted a:hover,
.grid.views-col.tb-wall-green-background .node > .submitted a:focus,
.grid.views-col.tb-wall-green-background .node > .submitted a:active { color: #fff; border-color: #fff; }

.grid.views-col.tb-wall-green-background .node-links ul.links li.node-readmore a,
.grid.views-col.tb-wall-green-background .node-links ul.links li.node-readmore a:hover,
.grid.views-col.tb-wall-green-background .node-links ul.links li.node-readmore a:focus,
.grid.views-col.tb-wall-green-background .node-links ul.links li.node-readmore a:active { color: #fff; }

/* Item Blue ---*/
.grid.views-col.tb-wall-blue-background .grid-inner .node { background: #33C9BA; color: #fff; }

.grid.views-col.tb-wall-blue-background .node-title a, 
.grid.views-col.tb-wall-blue-background .node-title a:visited { color: #fff; }

.grid.views-col.tb-wall-blue-background .node > .submitted { color: #f3f3f3; }

.grid.views-col.tb-wall-blue-background .node > .submitted a { color: #f1f1f1; border-color: #f1f1f1; }

.grid.views-col.tb-wall-blue-background .node > .submitted a:hover,
.grid.views-col.tb-wall-blue-background .node > .submitted a:focus,
.grid.views-col.tb-wall-blue-background .node > .submitted a:active { color: #fff; border-color: #fff; }

.grid.views-col.tb-wall-blue-background .node-links ul.links li.node-readmore a,
.grid.views-col.tb-wall-blue-background .node-links ul.links li.node-readmore a:hover,
.grid.views-col.tb-wall-blue-background .node-links ul.links li.node-readmore a:focus,
.grid.views-col.tb-wall-blue-background .node-links ul.links li.node-readmore a:active { color: #fff; }

/* Item Yellow ---*/
.grid.views-col.tb-wall-yellow-background .grid-inner .node { background: #f7921e; color: #fff; }

.grid.views-col.tb-wall-yellow-background .node-title a, 
.grid.views-col.tb-wall-yellow-background .node-title a:visited { color: #fff; }

.grid.views-col.tb-wall-yellow-background .node > .submitted { color: #f3f3f3; }

.grid.views-col.tb-wall-yellow-background .node > .submitted a { color: #f1f1f1; border-color: #f1f1f1; }

.grid.views-col.tb-wall-yellow-background .node > .submitted a:hover,
.grid.views-col.tb-wall-yellow-background .node > .submitted a:focus ,
.grid.views-col.tb-wall-yellow-background .node > .submitted a:active { color: #fff; border-color: #fff; }

.grid.views-col.tb-wall-yellow-background .node-links ul.links li.node-readmore a,
.grid.views-col.tb-wall-yellow-background .node-links ul.links li.node-readmore a:hover,
.grid.views-col.tb-wall-yellow-background .node-links ul.links li.node-readmore a:focus,
.grid.views-col.tb-wall-yellow-background .node-links ul.links li.node-readmore a:active { color: #fff; }

/* Item Violet ---*/
.grid.views-col.tb-wall-violet-background .grid-inner .node { background: #613A80; color: #fff; }

.grid.views-col.tb-wall-violet-background .node-title a, 
.grid.views-col.tb-wall-violet-background .node-title a:visited { color: #fff; }

.grid.views-col.tb-wall-violet-background .node > .submitted { color: #f3f3f3; }

.grid.views-col.tb-wall-violet-background .node > .submitted a { color: #f1f1f1; border-color: #f1f1f1; }

.grid.views-col.tb-wall-violet-background .node > .submitted a:hover,
.grid.views-col.tb-wall-violet-background .node > .submitted a:focus,
.grid.views-col.tb-wall-violet-background .node > .submitted a:active { color: #fff; border-color: #fff; }

.grid.views-col.tb-wall-violet-background .node-links ul.links li.node-readmore a,
.grid.views-col.tb-wall-violet-background .node-links ul.links li.node-readmore a:hover,
.grid.views-col.tb-wall-violet-background .node-links ul.links li.node-readmore a:focus,
.grid.views-col.tb-wall-violet-background .node-links ul.links li.node-readmore a:active { color: #fff; }

/* Item Red ---*/
.grid.views-col.tb-wall-red-background .grid-inner .node {
	background: #cb333f;
	border-color: #ee726c;
	color: #fff;
}

.grid.views-col.tb-wall-red-background .node-title a, 
.grid.views-col.tb-wall-red-background .node-title a:visited { color: #fff; }

.grid.views-col.tb-wall-red-background .node > .submitted { color: #f3f3f3; }

.grid.views-col.tb-wall-red-background .node > .submitted a { color: #f1f1f1; border-color: #f1f1f1; }

.grid.views-col.tb-wall-red-background .node > .submitted a:hover,
.grid.views-col.tb-wall-red-background .node > .submitted a:focus,
.grid.views-col.tb-wall-red-background .node > .submitted a:active,
.grid.views-col.tb-wall-red-background .node > .submitted a:visited { color: #fff; border-color: #fff; }

.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a,
.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a:hover,
.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a:focus,
.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a:active { color: #fff; }

/* Item Hot ---*/
.grid.views-col div.item-separator,
div.item-separator { display: none; }

.grid.views-col.tb-wall-new-badge .node-title:before {
	content: "New";
	background: #33C83D;
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	padding: 1px 6px;
	text-transform: uppercase;
	vertical-align: top;
	display: inline-block;
	line-height: normal;
	margin-top: 0px;
}

.grid.views-col.tb-wall-hot-badge .node-title:before {
	content: "Hot";
	background: #EF2A33;
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	padding: 1px 6px;
	text-transform: uppercase;
	vertical-align: top;
	display: inline-block;
	line-height: normal;
	letter-spacing: 0px;
	margin-top: 0px;
}

.grid.views-col.tb-wall-adv-badge .node-title:before {
	content: "Sponsored";
	background: orange;
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	padding: 1px 6px;
	text-transform: uppercase;
	vertical-align: top;
	display: inline-block;
	line-height: normal;
	margin-top: 0px;
}

.grid.views-col.tb-wall-free-badge .node-title:before {
	content: "Free";
	background: #cc3c95;
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	padding: 1px 6px;
	text-transform: uppercase;
	vertical-align: top;
	display: inline-block;
	line-height: normal;
	margin-top: 0px;
}

.grid.views-col.tb-wall-feature-badge .node-title:before {
	content: "Feature";
	background: orange;
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	padding: 1px 6px;
	text-transform: uppercase;
	vertical-align: top;
	display: inline-block;
	margin-top: 0px;
}

.grid.views-col.tb-wall-double-style.tb-wall-hot-badge .node-title:before,
.grid.views-col.tb-wall-double-style.tb-wall-feature-badge .node-title:before,
.grid.views-col.tb-wall-double-style.tb-wall-free-badge .node-title:before,
.grid.views-col.tb-wall-double-style.tb-wall-adv-badge .node-title:before,
.grid.views-col.tb-wall-double-style.tb-wall-new-badge .node-title:before {
	margin-top: 4px;
}

/* Item Free ---*/
.grid.views-col .item-separator,
.grid.views-col .item-symbol,
.grid.views-col .item-icon-view,
.item-separator,
.item-symbol,
.item-icon-view { display: none; }

img.node-image { width: 100%; max-width: 100%; }

/* Youtube --*/
.image-view-item { position: relative; }

.grid.youtube .grid-inner .item-icon-view,
.grid.vimeo .grid-inner .item-icon-view {
	background: url("../images/icon-play.png") no-repeat left top;
	width: 50px;
	height: 40px;
	position: absolute;
	z-index: 10;
	top: 30%;
	left: 41%;
	display: block;
}

.grid.youtube.tb-wall-double-style.views-col .item-icon-view,
.grid.vimeo.tb-wall-double-style.views-col .item-icon-view { top: 42%; left: 47%; }

.grid.youtube.tb-wall-triple-style.views-col .item-icon-view,
.grid.vimeo.tb-wall-double-style.views-col .item-icon-view { top: 46%; left: 47%; }

/* Social Feed --*/
.grid-inner .node-tb-social-feed .item-symbol,
.node-tb-social-feed .item-symbol {
	background-image: url("../images/social-icon.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	float: left;
	margin-right: 5px;
}

#colorbox .grid .item-symbol { background: url("../images/social-icon.png") left -120px; }

.grid.twitter .grid-inner .node .item-symbol { background-position: left -120px; }

.grid.twitter .grid-inner .node:hover .item-symbol,
.node.twitter .item-symbol 
.node:hover.twitter .item-symbol { background-position: right -120px ; }

.grid.youtube .grid-inner .node .item-symbol { background-position: left -96px; }

.grid.youtube .grid-inner .node:hover .item-symbol,
.node.youtube .item-symbol,
.node.youtube:hover .item-symbol { background-position: right -96px; }

.grid.instagram .grid-inner .node .item-symbol { background-position: left 0; }

.grid.instagram .grid-inner .node:hover .item-symbol,
.node.instagram .item-symbol,
.node.instagram:hover .item-symbol { background-position: right 0; }

.grid.vimeo .grid-inner .node .item-symbol { background-position: left -72px; }

.grid.vimeo .grid-inner .node:hover .item-symbol,
.node.vimeo .item-symbol,
.node.vimeo:hover .item-symbol { background-position: right -72px; }

.grid.flickr .grid-inner .node .item-symbol { background-position: left -48px; }

.grid.flickr .grid-inner .node:hover .item-symbol,
.node.flickr .item-symbol,
.node.flickr:hover .item-symbol { background-position: right -48px; }

.grid.facebook .grid-inner .node .item-symbol { background-position: left -24px; }

.grid.facebook .grid-inner .node:hover .item-symbol,
.node.facebook .item-symbol,
.node.facebook:hover .item-symbol { background-position: right -24px; }

/* --- Article --- */
.aboutus {
	position: relative;
	margin-top: 10px;
}

.aboutus .info_company{
	position: absolute;
	right: 0px;
	bottom: 20px;
	width: 34%;
}


div.author { margin-top: 20px; }

.author span { font-size: .95em; display: block; }

.author span.name_author {
	font-size: 2em;
	font-weight: bold;
	line-height: normal;
	color: #2985E8;
}

.ico-social,
.ico-social:hover,
.ico-social:focus,
.ico-social:active {
	width: 24px;
	height: 24px;
	font-size: 0px;
	line-height: 24px;
	text-indent: -999em;
	background-image: url('../images/social-icon.png');
	background-repeat: no-repeat;
	display: inline-block;
	text-decoration: none;
}

.ico-social.facebook { background-position: left -24px; }

.ico-social.facebook:hover,
.ico-social.facebook:focus,
.ico-social.facebook:active { background-position: right -24px; }

.ico-social.twitter { background-position: left -120px; }

.ico-social.twitter:hover,
.ico-social.twitter:focus,
.ico-social.twitter:active { background-position: right -120px; }

.ico-social.google { background-position: left -240px; }

.ico-social.google:hover,
.ico-social.google:focus,
.ico-social.google:active { background-position: right -240px; }

/* Popup Page---*/
body.toolbar-drawer.tb-wall-popup-iframe,
body.tb-wall-popup-iframe { padding-top: 0; overflow: hidden !important; background: #fff !important }
#colorbox body { background: #fff !important;}

body.tb-wall-popup-iframe #main-wrapper { top: 0; }

.tb-wall-popup-iframe ul.primary{ display: none; }

.tb-wall-popup-iframe #main-wrapper .container { margin: 0; padding: 0; }

.tb-wall-popup-iframe .node { border: none; padding: 10px; margin-top: 0; }

.tb-wall-popup-iframe .galleryformatter { margin-top: 0; }

.tb-wall-popup-iframe .galleryformatter .view-full,
.tb-wall-popup-iframe a.btn-btt { display: none !important; }

.tb-wall-popup-iframe .node-tb-social-feed .field-type-image { margin-bottom: 15px; }

.tb-wall-popup-iframe .node-tb-social-feed .menu.node-links,
.node-tb-social-feed .menu.node-links,
.tb-wall-popup-iframe .node-tb-social-feed #comments,
.node-tb-social-feed #comments,
.tb-wall-popup-iframe .node .menu.node-links,
.tb-wall-popup-iframe .node #comments {
	display: none !important;
}

body.tb-wall-popup-iframe #block-system-main .block-content {
	width: 99% !important; 
	overflow: hidden;
}

.cboxIframe { overflow: hidden; }

body.tb-wall-popup-iframe { overflow: hidden; }

/* Color Node---*/
#cboxClose { top: -13px !important; z-index: 1000; }

#cboxTopLeft,
#cboxTopRight,
#cboxTopCenter { width: auto !important; }

#cboxWrapper { overflow: hidden !important; }

#cboxContent{ overflow: visible !important; }

#cboxMiddleRight,
#cboxMiddleLeft {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}

#cboxContent #cboxNode .node { border: none !important; }

#cboxContent .item-icon-view,
#cboxContent .item-symbol { display: none !important; }

#cboxNode .menu.node-links { display: none !important; }

#cboxContent .contextual-links-wrapper a,
#cboxContent .contextual-links-wrapper a:hover,
#cboxContent .contextual-links-wrapper a:focus,
#cboxContent .contextual-links-wrapper a:active { text-decoration: none !important; text-indent: -999em; }

#cboxContent .contextual-links-wrapper ul li a,
#cboxContent .contextual-links-wrapper ul li a:hover,
#cboxContent .contextual-links-wrapper ul li a:focus,
#cboxContent .contextual-links-wrapper ul li a:active { text-indent: 0; }

#cboxClose {
	background: url("../images/close.png") no-repeat left top !important;
	border: none;
	height: 18px !important;
	width: 18px !important;
	right: 2px;
}

#cboxClose:hover,
#cboxClose:focus,
#cboxClose:active {
	background: url("../images/close-hover.png") no-repeat left top !important;
}

#cboxLoadedContent { overflow: hidden !important; }

.sharethis-buttons {
	margin: 0px;
	display: inline-block;
	position: absolute;
	right: 0px;
	bottom: -40px;
}
.logged-in .node .sharethis-buttons,
.logged-in .node-tb-social-feed .sharethis-buttons,
.node-tb-social-feed .sharethis-buttons,
.logged-in.tb-wall-popup-iframe .node-showcase .sharethis-buttons,
.logged-in .node-showcase .sharethis-buttons,
.logged-in.tb-wall-popup-iframe .node .sharethis-buttons,
.tb-wall-popup-iframe .node .sharethis-buttons {
	bottom: 0px;
	position: static;
}

.stButton .chicklets,
.stButton {
   
    height: 24px !important;
    line-height: 24px !important;
    width: 24px !important;
    
    padding: 0px !important;
    margin: 0px 2px !important;
}

.stButton .facebook {
    background-position: left -24px !important;
    background-image: url("../images/social-icon.png")!important;
     background-repeat: no-repeat !important;
}

.stButton:hover .facebook {
    background-position: right -24px !important;
}

.stButton .twitter {
    background-position: left -264px !important;
    background-image: url("../images/social-icon.png")!important;
     background-repeat: no-repeat !important;
}

.stButton:hover .twitter {
    background-position: right -264px !important;
}

.stButton .googleplus {
    background-position: left -240px !important;
    background-image: url("../images/social-icon.png")!important;
     background-repeat: no-repeat !important;
}

.stButton:hover .googleplus {
    background-position: right -240px !important;
}

.stButton .pinterest {
    background-position: left -192px !important;
    background-image: url("../images/social-icon.png")!important;
     background-repeat: no-repeat !important;
}

.stButton:hover .pinterest {
    background-position: right -192px !important;
}

.stButton .delicious {
    background-position: left -168px !important;
    background-image: url("../images/social-icon.png")!important;
     background-repeat: no-repeat !important;
}

.stButton:hover .delicious {
    background-position: right -168px !important;
}

.stButton .blogger {
    background-position: left -216px !important;
    background-image: url("../images/social-icon.png")!important;
     background-repeat: no-repeat !important;
}

.stButton:hover .blogger {
    background-position: right -216px !important;
}

.field-name-field-reference-url a{
	background: url("../images/icon-source.png") no-repeat left center;
	padding: 2px 0px 2px 20px;
	font-size: .92em;
	color: #555;
}

.grid-inner .node-tb-social-feed .item-symbol, .node-tb-social-feed .item-symbol{
  display: none;
}

.grid.vimeo .grid-inner .node .item-symbol,
.grid.facebook .grid-inner .node .item-symbol,
.grid.twitter .grid-inner .node .item-symbol,
.grid.youtube .grid-inner .node .item-symbol,
.grid.instagram .grid-inner .node .item-symbol{
  display: inline-block;
}