/**
 *
 * TODO: check all D7 field class names, these are mostly from D6 CCK...
 */
/* Wrapper for all fields. */
/* Field Title */
.views-field-title .field-content a { color: #333; font-size: 1.5em; margin: 0; }

.views-field-title .field-content a:hover,
.views-field-title .field-content a:active,
.views-field-title .field-content a:focus { color: #222; }

/* Field labels */
.field-label { margin: 0; }

.field-lable-inline .field-label { display: inline; }

/* Imagefields */

/* Term reference fields. */
.field-type-taxonomy-term-reference { font-size: 1em; color: #999; margin-bottom: 10px; }

.field-type-taxonomy-term-reference .field-label {
	font-weight: normal;
	float: left;
	line-height: normal;
}

.field-type-taxonomy-term-reference ul {
	margin: 0;
	padding: 0;
	float: left;
	line-height: normal;
	width: 60%;
}

.field-type-taxonomy-term-reference ul li {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.field-type-taxonomy-term-reference ul li a {
	color: #2985E8;
	display: inline-block;
	padding: 0;
	line-height: normal;
}

.field-type-taxonomy-term-reference ul li a:hover,
.field-type-taxonomy-term-reference ul li a:active,
.field-type-taxonomy-term-reference ul li a:focus { color: #12639b; }

.view-frontpage .field-type-taxonomy-term-reference { margin-top: 4px; border: solid 1px transparent; }

.view-frontpage .field-type-taxonomy-term-reference ul li a { color: #999; border-bottom: solid 1px #e5e5e5; }

.view-frontpage .field-type-taxonomy-term-reference ul li a:hover,
.view-frontpage .field-type-taxonomy-term-reference ul li a:active,
.view-frontpage .field-type-taxonomy-term-reference ul li a:focus { color: #222; border-color: #222; text-decoration: none; }

/* Syntax Highlighter *
.syntaxhighlighter {
	border: 1px solid #E0E0E0;
	clear: both;
	opacity: 0.3;
	filter: alpha(opacity=30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	padding: 5px 0;
	transition-duration: 600ms;
	transition-property: opacity;
	width: 90%;
}

.syntaxhighlighter {
    background-color: white !important;
}

.syntaxhighlighter:hover,
.syntaxhighlighter:focus {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

-----------*/
.lazyloader-icon { display: none; }

.grid .node .field-type-image img.lazyloader-icon,
.grid.views-col .grid-inner .node .field-name-field-youtube img.lazyloader-icon,
.grid.views-col .grid-inner .node .field-name-field-vimeo img.lazyloader-icon{
	max-width: 32px !important;
	height: 32px !important;
	width: 32px !important;
	left: 45% !important;
	display: inline-block;
}

html.js .tb-wall-grid .node div.contextual-links-wrapper { display: none !important; }

html.js .tb-wall-grid .node:hover div.contextual-links-wrapper { display: block !important; }