html { font-size: 62.5%; /* Change base font-size to 10px. */ }

body {
	background: #fff;
	color: #333;
/*	line-height: 1.6; */ /* Unit-less line-height means line height can scale. */
	font-weight: normal;
}
a {
	color:#333333;
}

/* Headings */
h1 { font-size: 2.5em; }

h2 { font-size: 1.5em; }

h3 { font-size: 1.167em; }

h4 { font-size: 1em; }

h5,
h6 { font-size: 1em; }

h1,
h2,
h3,
h4,
h5,
h6 { line-height: 1.25; margin: 1em 0 .5em; }

p { margin: 10px 0; padding: 0; }

p:first-child { margin-top: 0; }

em,
dfn { font-style: italic; }

ins { border-bottom: none; text-decoration: none; }

pre,
code,
tt,
samp,
kbd,
var { font-size: 12px; }

blockquote,
q { font-style: italic; quotes: "" ""; }

blockquote { margin: 0 0 1.5em; padding: 0 0 0 3em; }

blockquote:before,
blockquote:after,
q:before,
q:after { content: ""; }

blockquote p { margin: 0; }

strong,
dfn,
caption,
th { font-weight: bold; }

/* Reset horizonatal rules */
hr { border-style: inset; border-width: 1px; display: block; }

/* Lists */
ul,
ol { margin: 0 0 1.5em 2em; padding: 0; }

ol { margin-left: 2em; }

.item-list ul,
.item-list ol { margin: 0 0 0 1em; padding: 0; }

ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul { margin-bottom: 0; }

ul { list-style-type: disc; }

ul ul ul { list-style-type: square; }

ol { list-style-type: decimal; }

ol ol { list-style-type: lower-alpha; }

ol ol ol { list-style-type: lower-roman; }

ul ul,
ul ul ul ul { list-style-type: circle; }

dt { font-weight: bold; }

dd { margin: 0 0 1.5em 1.538em; }

/* Common Tables ---*/
table { font-size: 100%; margin: 0; padding: 0; width: 100%; }

table.sticky-table { margin-top: 1em; margin-bottom: 1em; }

table.sticky-header { z-index: 10; }

/* Table Head */
th {
	/*background: #333;*/
	border-bottom: 2px solid #000;
	color: #333333;
	font-family:  'Droid Sans', sans-serif;
	font-weight: 400;
	padding: .75em 2em;
}

th a { color: #000; }

th a:hover,
th a:active,
th a:focus { color: #000; }

/* Table Body */
td { padding: .75em 1em; }

tr.even,
tr.odd { background-color: transparent; border-bottom: 0; }

tr.even td,
tr.odd td {
	padding-top: 25px;
}

tr.even { background-color: transparent; }

/* View Cart---*/
tr.pane-title td {
	color: #222;
	font-weight: normal !important;
	text-transform: uppercase;
}

html.js input.form-autocomplete { background-position: 100% 6px !important; }
