/* --- Common Links --- */
a { 
	text-decoration: none; 
	outline: none; 
	color: #2985e8; 
}
a:hover,
a:active,
a:focus { 
	text-decoration: underline; 
	color: #12639b; 
}

/* Any menu block in the menu-bar region */
.nav { clear: both; margin: 0; }

.nav li,
.nav .menu li { display: inline; float: left; list-style: none; }

.nav li a,
.nav .menu li a { display: block; padding: 0 10px; white-space: nowrap; }

.nav ul,
.nav ul.menu,
.nav ul.menu li { margin: 0; padding: 0; }

.nav .block { margin: 0; padding: 0; }

/* --- Default Drupal Menu --- */
.block ul.menu ul { font-weight: normal; }

.block ul.menu li {
	list-style-image: none;
	list-style-type: none;
	margin: 0;
}

ul.menu li.expanded,
ul.menu li.collapsed,
ul.menu li.leaf { padding: 0; }

.block ul.menu li a { color: #2985E8; display: block; padding: .4em 0; }

.block ul.menu li li a { padding-left: .6em; }

.block ul.menu li a:hover,
.block ul.menu li a:focus,
.block ul.menu li a:active { color: #12639B; text-decoration: underline; }

/* Expanded Items */
.block ul.menu li.expanded a {
	color: #212121;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.2;
	margin: 0 0 5px;
	padding: 0;
	font-weight: bold;
}

.block ul.menu li.expanded a:hover,
.block ul.menu li.expanded a:focus,
.block ul.menu li.expanded a:active { color: #212121; text-decoration: none; }

.block ul.menu li.expanded ul li { line-height: 1.6; }

.block ul.menu li.expanded ul li a{
	color: #2985E8;
	text-transform: none;
	padding: 5px 0;
	font-weight: normal;
	margin-bottom: 0;
	line-height: 1.6;
}

.block ul.menu li.expanded.active-trail a,
.block ul.menu li.expanded.active-trail a:hover,
.block ul.menu li.expanded.active-trail a:focus,
.block ul.menu li.expanded.active-trail a:active {
	color: #212121;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

.block ul.menu li.expanded.active-trail ul li a{ color: #2985E8; text-transform: none; line-height: 1.4; font-weight: normal;}

.block ul.menu li.expanded ul li a:hover,
.block ul.menu li.expanded ul li a:focus,
.block ul.menu li.expanded ul li a:active { color: #12639b; text-decoration: underline; font-weight: normal;}

.block ul.menu li.expanded.active-trail ul li a:hover,
.block ul.menu li.expanded.active-trail ul li a:focus,
.block ul.menu li.expanded.active-trail ul li a:active {
	color: #12639b;
	text-decoration: underline;
	text-transform: none;
	font-weight: normal;
}

.block ul.menu li.expanded.active-trail ul li a.active {
	color: #212121;
	text-decoration: none;
	text-transform: none;
	font-weight: normal;
}

/* Active Items */
.block ul.menu li.active-trail > a,
.block ul.menu li > a.active { color: #12639B; text-decoration: underline; }

.block ul.menu li li a.active { background: none; }

/* Misc. Items */
.block ul.menu li.last { border-bottom: 0; }

.block ul.menu li.content { padding: 0; }

/* --- Breadcrumb --- */
#breadcrumb-wrapper { font-size: .92em; margin-bottom: 1em; }

#breadcrumb-wrapper h2 {
	background: #ddd;
	clip: auto;
	color: #7b7b7b;
	display: block;
	float: left;
	font-size: 1em;
	font-weight: normal;
	margin: 0 .5em 0 0;
	padding: .25em .5em;
	position: relative !important;
}

#breadcrumb-wrapper ol {
	display: block;
	float: left;
	margin: 0;
	padding: .1em 0;
}

#breadcrumb-wrapper ol li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#breadcrumb-wrapper ol li span {
	display: block;
	float: left;
	line-height: 16px;
	text-align: center;
	width: 20px;
}

#breadcrumb-wrapper ol li a { display: block; float: left; font-weight: bold; }

/* --- Seconday Menu (User Menu) --- */
#secondary-menu {
	clear: right;
	display: block;
	padding-top: .75em;
	text-align: right;
}

#secondary-menu ul { margin: .5em 0 0; }

#secondary-menu ul li { display: inline; margin: 0; padding: 0 0 0 .5em; }

/* --- Footer Menu --- */
#footer ul.menu { float: left; margin: -3px 0 0; padding: 0; }

#footer ul.menu li {
	border-right: 1px dotted #ccc;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#footer ul.menu li a {
	display: block;
	float: left;
	padding: 3px 10px;
	color: #2985e8;
}

#footer ul.menu li a:hover,
#footer ul.menu li a:active,
#footer ul.menu li a:focus { color: #12639b; text-decoration: underline; }

#footer ul.menu li a.active { color: #12639b; text-decoration: underline; }

/* --- Pager --- */
.item-list ul.pager {
	border: 1px solid #E5E5E5;
	margin: 10px;
	text-align: center;
	background: #fff;
}

.item-list .pager li,
ul.pager li {
	padding: 0;
	font-size: 1em;
	display: inline-block;
	line-height: 36px;
	width: 34px;
	border: none;
	margin: 0 -2px;
}

ul.pager li.pager-current {
	display: inline-block;
	color: #bbb;
	background: url(../images/bg_page_nav.gif) no-repeat center center;
	margin: 0 -2px;
	width: 36px;
}

.item-list ul.pager li a {
	color: #333;
	display: block;
	width: 36px;
	background: url(../images/bg_page_nav.gif) no-repeat center center;
}

.item-list ul.pager li a:hover,
.item-list ul.pager li a:active,
.item-list ul.pager li a:focus { color: #bbb; }

ul.pager li.pager-first,
ul.pager li.pager-last { display: none; }

ul.pager li.pager-previous,
ul.pager li.pager-next {
	text-indent: -9999px;
	width: 36px;
	height: 36px;
	padding: 0;
	margin: 0;
}

ul.pager li.pager-previous {
	border-right: 1px solid #e5e5e5;
	float: left;
	margin: 0 0 0 -1px;
	background: url(../images/page-nav.png) left top;
}

ul.pager li.pager-previous a,
ul.pager li.pager-next a{ border: none; background: none; }

ul.pager li.pager-previous:hover,
ul.pager li.pager-previous:focus { background-position: left bottom; }

ul.pager li.pager-next {
	border-left: 1px solid #e5e5e5;
	float: right;
	margin: 0 -1px 0 0;
	background: url(../images/page-nav.png) right top;
}

ul.pager li.pager-next:hover,
ul.pager li.pager-next:focus { background-position: right bottom; }

/* Pager Links */
ul.pager-links { margin-top: 5px; }

/* --- Items List --- */
.item-list ul { margin: 0; padding: 0; }

.item-list ul li {
	background: url(../images/bullet.png) no-repeat 0 10px;
	list-style: none;
	margin: 0;
	padding: 3px 0 3px 10px;
}

.item-list ul li a { color: #2985e8; }

.item-list ul li a:hover,
.item-list ul li a:active,
.item-list ul li a:focus { color: #12639b; }

#menu-left-wrapper .item-list ul li {
	font-size: .92em;
	background-position: right 10px;
	padding: 3px 10px 3px 0;
}

/* --- Action Links --- */
ul.action-links { list-style: none; margin: 5px; padding: .5em 1em; }

ul.action-links li { display: inline-block; margin-left: 10px; }

ul.action-links li a {
	background: url(../images/plus.png) no-repeat left center;
	margin: 0 10px 0 0;
	padding-left: 15px;
}

/* SUPERFISH
----------------------------------------------------*/
.sf-menu a { padding: .5em 1em; text-decoration: none; }

.sf-menu li { background: transparent; }

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active { outline: 0; }

/* --- Supperfish --- */
.block-superfish .block-inner,
.block-superfish .block-inner .block-content { margin: 0; padding: 0; }

.block-superfish ul,
.block-superfish ul ul,
.block-superfish ul ul ul,
.block-superfish ul ul ul ul,
.block-superfish li { margin: 0; padding: 0; }

.sf-vertical,
.sf-vertical li { width: 100%; }

.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
	left: 100%; /* match ul width */
	margin: 0;
	padding: 0;
	top: 0;
}

ul.sf-navbar {
	padding-bottom: 38px !important; /* Height for navbar */
}

/**
 * Tabs
 */
/* --- System Tabs --- */
ul.primary {
	border-bottom-color: #ddd;
	line-height: normal;
	margin: 10px 10px 1em 10px;
}

ul.primary li { margin: 0; }

ul.primary li a {
	background-color: #fff;
	border: 1px solid #fff;
	border-bottom: none;
	color: #2985e8;
	font-weight: bold;
	margin-right: .08em;
	padding: .7em 1em .68em;
	display: inline-block;
}

ul.primary li a:hover {
	background-color: #eee;
	border-color: #eee;
	color: #12639b;
}

ul.primary li.active a {
	background-color: #fff;
	border-color: #ddd;
	border-bottom: solid 1px #fff;
	margin-bottom: -1px;
	color: #555;
	text-decoration: underline;
}

.local-tasks ul.primary li a:hover {
	background-color: transparent;
	border-color: #ddd;
	color: #c00;
}

.local-tasks ul.primary li.active a { background-color: #fff; border-bottom-color: #ccc; }

.local-tasks ul.primary li.active a:hover,
.local-tasks ul.primary li.active a:focus { text-decoration: none; }

ul.secondary {
	border-bottom: 1px solid #ccc;
	margin: 1em 10px 0 10px;
	padding: 0 0 1em 0;
}

ul.secondary li { border-right: 0; list-style: none; padding: 0 2em 0 0; }

ul.secondary li a:hover,
ul.secondary li a.active { border-bottom: none; text-decoration: underline; }

/**
 * Misc.
 */
#tasks { margin-bottom: 1em; }

/* Back To Top */
a.btn-btt {
	background: url("../images/arrow_top.png") no-repeat scroll center 10px #333;
	bottom: 10px;
	color: #FFF;
	font-size: 11px;
	height: 20px;
	right: 20px;
	padding: 30px 0 0;
	text-align: center;
	text-transform: uppercase;
	width: 50px;
	z-index: 9999;
	display: block;
	position: fixed;
}

a.btn-btt:hover,
a.btn-btt:active,
a.btn-btt:focus { text-decoration: none; }

/* Contextual Links */
.contextual-links-wrapper ul li { background-image: none; }

/* Feed Icon */
a.feed-icon { display: inline-block; margin-top: 1.5em; }

a.feed-icon img { margin: 0; padding: 0; }

#views_infinite_scroll-ajax-loader {
	background: url("../images/trans-black-70.png") repeat 0 0;
	bottom: 40px;
	color: #FFF;
	left: 45%;
	padding: 10px;
	text-align: center;
	width: 200px;
	height: 100px;
	z-index: 2000;
	position: fixed;
}

#views_infinite_scroll-ajax-loader img {
	width: 70px !important;
	height: 70px !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
