#fancy_login_dim_screen
{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display:none;
}

#fancy_login_login_box
{
	display:none;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    position:fixed;
    top:50%;
    left:50%;
    padding:0 15px;
}

#fancy_login_close_button
{
	border:1px solid #999;
	color:#FFF;
	background-color:#F00;
	float:right;
	font-size:15px;
	font-weight:bold;
	margin-right:-10px;
	margin-top:3px;
	padding-left:3px;
	padding-right:3px;
}

#fancy_login_close_button:hover
{
	text-decoration:none;
	background-color:#FFF;
	color:#F00;
}

#fancy_login_login_box .form-item-name
{
	margin-top:0;
	clear:both;
}

#fancy_login_login_box .item-list, #fancy_login_login_box .item-list li
{
	list-style: none;
}

#ssl_icon
{
	float:right;
	position:relative;
	height:50px;
	width:50px;
}

#ssl_icon:hover #ssl_login_popup
{
	display:block;
}

#ssl_icon img
{
	margin:0;
	padding:0;
}

#ssl_login_popup
{
	height:75px;
	width:100px;
	position:absolute;
	bottom:32px;
	right:-84px;
	display:none;
	background:url(../images/popup.png) no-repeat transparent;
}

#ssl_login_popup p
{
	margin-top:75px;
	height:0;
	line-height:normal;
	overflow:hidden;
}

.ssl_icon_above .form-text
{
	width:100px;
}

#fancy_login_messages_container_wrapper
{
	position:fixed;
	left:0;
	top:0;
	width:96%;
	z-index: 9998;
	left: 2%;
}

.admin-menu #fancy_login_messages_container_wrapper
{
	top:21px;
}

#fancy_login_messages_container_wrapper .fancy_login_messages_container .messages
{
	position:relative;
	margin-top:0;
	padding:10px 32px 10px 40px;
	opacity:0.9;
	border-radius:0 0 3px 3px;
	box-shadow: 3px 3px 5px #888888;
	background-color:#fff789;
	border:solid #b9ad7d 1px;
	color:#564e2b;
	margin: 0 auto 10px;
	font-size: 120%;
	line-height: 1.2em;
	display:block;
	text-align: center;
	z-index:11;
}

#fancy_login_messages_container_wrapper .fancy_login_messages_container ul, #fancy_login_messages_container_wrapper .fancy_login_messages_container li
{
	list-style:none;
}

.fancy_login_message_close_button
{
	height:10px;
	width:10px;
	float:right;
	cursor:pointer;
	margin-left:10px;
	color:#bbb;
	font-size: 100%;
	z-index: 9999;
	position: relative;
	background: #fff;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #bbb;
	border-radius: 50%;
}

.fancy_login_message_close_button:hover
{
	color:#000;
	border: 1px solid #000;
}

@media (min-width: 720px)
{
	#fancy_login_messages_container_wrapper
	{
		position:fixed;
		left:0;
		top:0;
		width:600px;
		z-index: 9998;
		left: 50%;
		margin-left: -300px;
	}

	#fancy_login_messages_container_wrapper .fancy_login_messages_container .messages
	{
		font-size: 150%;
	}
}
