.galleryformatter-greenarrows { }

.galleryformatter-greenarrows .gallery-thumbs { padding: 0 46px; }
.galleryformatter-greenarrows .gallery-slides { }
.galleryformatter-greenarrows .gallery-slide { }

.galleryformatter-greenarrows .gallery-thumbs .arrow,
.galleryformatter-greenarrows .gallery-thumbs .wrapper,
.galleryformatter-greenarrows .gallery-thumbs li.active a,
.galleryformatter-greenarrows .gallery-thumbs li a:hover,
.galleryformatter-greenarrows .view-full { background:url("images/sprite.png") no-repeat scroll 0 0 transparent; }

.galleryformatter-greenarrows .gallery-slides .panel-overlay {
  position: absolute;
  bottom: 0.5em; left: 0;
  background: transparent url(images/bg-trans.png) repeat;
  width:100%;
  color: white;
}
.galleryformatter-greenarrows .gallery-slides .panel-overlay .overlay-inner { padding: 10px; }
.galleryformatter-greenarrows .gallery-thumbs .wrapper {
  overflow: auto;
  line-height:0;
  background-position: center -326px;
  background-repeat: repeat-x;
  border-bottom: 1px solid #EEEEEE;
}
.galleryformatter-greenarrows .view-full {
  background-position:center -205px;
  height:46px; width:46px;
  margin:10px;
  position:absolute;
  right:0; top:0;
  text-indent:-9999px;
}
.galleryformatter-greenarrows a:hover .view-full {
  background-position: center -252px;
}
.galleryformatter-greenarrows .gallery-thumbs ul { list-style: none; }
.galleryformatter-greenarrows .gallery-thumbs li {
  float: left;
  background: transparent none;
  overflow:hidden;
  padding-top: 3px;
}
.galleryformatter-greenarrows .gallery-thumbs li a {
  display: block;
  padding: 19px 0 7px;
}
.galleryformatter-greenarrows .gallery-thumbs li a:hover { background-position: center -307px; }
.galleryformatter-greenarrows .gallery-thumbs li.active a { background-position: center -303px; }

.galleryformatter-greenarrows .gallery-thumbs li.active img,
.galleryformatter-greenarrows .gallery-thumbs li a:hover img {
  filter:alpha(opacity=100);
  -ms-filter:”alpha(opacity=100)”;
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;
}
.galleryformatter-greenarrows .gallery-thumbs li img {
  filter:alpha(opacity=60);
  -ms-filter:”alpha(opacity=60)”;
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

.galleryformatter-greenarrows .gallery-thumbs .arrow {
  bottom:0;
  display:block;
  height:46px;
  position:absolute;
  text-indent:-9999px;
  width:46px;
}

/*
.galleryformatter-greenarrows .gallery-thumbs .forward {
  background-position: 0px 0;
  right: 0;
}

.galleryformatter-greenarrows .gallery-thumbs .back {
  background-position: -4px -102px;
  left: 0;
}

.galleryformatter-greenarrows .gallery-thumbs .forward:hover { background-position: 0px -52px; }

.galleryformatter-greenarrows .gallery-thumbs .back:hover { background-position: -4px -156px; }

.galleryformatter-greenarrows .slide-button {
  background: transparent url(images/next-prev.png) no-repeat top left;
  height: 64px;
  width: 32px;
  top: 43%;
  text-indent: -9999px;
  filter:alpha(opacity=20);
  -ms-filter:”alpha(opacity=20)”;
  -moz-opacity:0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
}

.galleryformatter-greenarrows .prev-slide {
  background-position: top left;
}
.galleryformatter-greenarrows .next-slide {
  background-position: top right;
}
.galleryformatter-greenarrows .slide-button:hover {
    filter: alpha(opacity=100);
  -ms-filter: ”alpha(opacity=100)”;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

*/