/**
  Teen Life Color
*/
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Handlee);
body {
  background: url("images/bg-body.png") repeat 0 0;
  color: #6e6e6e;
  font-size: 13px !important;
}

body.bf-a, 
.bf-a .form-text, 
.snf-a .site-name, 
.ssf-a .site-slogan, 
.ptf-a #page-title, 
.ntf-a .node-title, 
.ctf-a .comment-title, 
.btf-a .block-title {
  font-family: 'Pontano Sans',Arial,Helvetica,sans-serif
}

a {
  color: #FE779E;
}

a:hover,
a:focus,
a:active {
  color: #FE779E;
  text-decoration: underline;
}

.node > .submitted {
  color: #626262;
  font-weight: bold;
}

.node > .submitted a {
  color: #999;
  font-weight: normal;
}

.node-links ul.links li a,
.item-list ul li a {
  color: #333;
  font-size: 92%;
  padding: 6px 0;
}

.node-links ul.links li a:hover, 
.node-links ul.links li a:active, 
.node-links ul.links li a:focus,
.item-list ul li a:hover,
.item-list ul li a:focus,
.item-list ul li a:active {
  color: #FE779E;
}

.node {
  background: url("images/line-bd.gif") repeat-x left bottom;
  border: none; 
}

.comment .new {
  color: #FF728E;
  font-weight: bold;
}

.comment-title a:hover, 
.comment-title a:active, 
.comment-title a:focus {
  color: #FF728E;
  text-decoration: none;
}

/**
  * Header
  */
#header-wrapper {
  background: url("images/bg-header.png") repeat-x 0 0;
  min-height: 80px;
}

#logo {    
    border: none;
    height: 339px;
    left: -10px;
    position: absolute;
    top: 0;
    width: 156px;
}

#logo img {
  margin-left: 0;
  width: auto;
}

.region-menu-left {
  margin-left: 0;
  width: 146px;
}

#menu-left-wrapper {
    background: url("images/bottom-sidebar.gif") no-repeat left bottom;
    color: #696969;
    font-family: 'Handlee',cursive;
	margin: 0 0 20px 10px;   
    padding-bottom: 45px;
    text-shadow: none;
    top: 365px;
    width: 146px;    
}

.not-logged-in #menu-left-wrapper {
  top: 300px;
}

#menu-left-inner {  
  background: url("images/bg-sidebar.png") repeat-y left top;
}

#menu-left-wrapper .block-inner {
  border-top: none;
  margin-top: 0;
}

.block ul.menu > li.expanded > a {
  border-bottom: 1px solid #f3d2d4;
  color: #ed0332;
  font-size: 105%;
  font-weight: normal;
  line-height: 24px;
  margin: 0 10px;
}

#menu-left-wrapper .block li.expanded ul {
  margin-left: 0;
}

.block ul.menu li.expanded ul li a,
.block ul.menu li.expanded.active-trail ul li a {
    border-radius: 0;
    color: #343434;
    display: block;
    float: none;
    font-size: 120%;
    line-height: 20px;
    padding: 2px 10px 0px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    text-transform: none;
}

.block ul.menu li.expanded ul li a:hover, 
.block ul.menu li.expanded ul li a:focus, 
.block ul.menu li.expanded ul li a:active,
.block ul.menu li.expanded.active-trail ul li a.active,
.block ul.menu li.expanded.active-trail ul li a:hover,
.block ul.menu li.expanded.active-trail ul li a:focus, 
.block ul.menu li.expanded.active-trail ul li a:active {
  color: #fe779e;
  text-decoration: none;
}

.block ul.menu li.expanded ul li {
    background: url("images/arround.png") no-repeat left center;
    border-bottom: 1px solid #f3d2d4;
    cursor: pointer;
    display: block;
    line-height: normal;
    margin: 0 10px;
    overflow: hidden;
    padding: 3px 0 3px 10px;
    text-align: center;
}

#menu-left-wrapper .block ul.menu {
  text-align: center;
}

#menu-left-wrapper .block li.expanded ul {
  border-bottom: none;
  padding-bottom: 0;
}

/* Search */
#header #search-block-form {
  top: 15px;
}

#header #search-block-form .form-text {
    background: url("images/icon-search.png") no-repeat 8px center #222426;
    border: 1px solid #494e53;
    border-radius: 5px;
    color: #fff;
	font-size: 92%;
	font-weight: bold;
	height: auto;
	line-height: normal;
    padding-bottom: 6px;
    padding-top: 6px;
    text-transform: none;
    transition: none 0s ease 0s;
    width: 160px;
}

#header #search-block-form .form-text:focus {
    background-color: #fff;
    box-shadow: none;
    color: #000;
    width: 230px;
}

/* Superfish */
.block .sf-menu.sf-style-wall {
  padding-top: 10px;
}

.block .sf-menu.sf-style-wall a {
  background: url("images/line-bg.gif") repeat-y right top;
  border-right: none;
  color: #ccc;
  font-family: 'Handlee', cursive;
  font-size: 113%;
  font-weight: normal;
  height: 48px;
  line-height: 48px;
}

.block .sf-menu.sf-style-wall a:hover, 
.block .sf-menu.sf-style-wall a:focus, 
.block .sf-menu.sf-style-wall a:active {
  background: url("images/line-bg.gif") repeat-y right top;
  color: #f67e98;
}

.block .sf-menu.sf-style-wall li.first a {
  border-left: none;
}

.block .sf-menu.sf-style-wall li.menuparent.sfHover a {
  background: #fe779e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
}

.block .sf-menu.sf-style-wall ul {
  background: #fe779e;
  border-radius: 0 5px 5px 5px;
  margin-top: 4px;
  min-width: 220px;
}

.block .sf-menu.sf-style-wall ul li, 
.block .sf-menu.sf-style-wall ul ul li,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a {
  background: none;
  color: #fff;
}

.block .sf-menu.sf-style-wall ul li a {
  border-top: none;
  color: #fff;
  font-size: 12px;
  height: auto;
  line-height: normal;
  padding: 10px 0 10px 35px;
}

.block .sf-menu.sf-style-wall ul li {
  background: url("images/line-menu.gif") repeat-x left top;
  display: block;
  padding-top: 2px;
}

.block .sf-menu.sf-style-wall ul li.first {
  background: none;
  padding-top: 0; 
}

.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:active,
.block .sf-menu.sf-style-wall ul li.sfHover a.menuparent,
.block .sf-menu.sf-style-wall ul li a.menuparent:hover,
.block .sf-menu.sf-style-wall ul li a.menuparent:focus,
.block .sf-menu.sf-style-wall ul li a.menuparent:active {	
  background: url("images/icon-heart.png") no-repeat 15px center #f56e88;
  border-radius: 0;
  color: #fff;
}

.block .sf-menu.sf-style-wall li.menuparent.sfHover li.first a:hover {
  border-radius: 0 5px 0 0;
  padding-top: none;
}

.block .sf-menu.sf-style-wall .active-trail .sf-depth-1 {
  background: url("images/active-bg.png") no-repeat left bottom;
  color: #fff;
  text-indent: 15px;
  border-left: none;
  text-decoration: none;
}

.block .sf-menu.sf-style-wall .active-trail.menuparent.sfHover .sf-depth-1 {
  background: #fe779e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
}

.block .sf-menu.sf-style-wall .active-trail {
  background: url("images/active-bg-r.png") no-repeat right bottom;
  padding-right: 22px;
  padding-left: 22px;
}

.block .sf-menu.sf-style-wall .active-trail ul {
  margin-left: 22px;
}

.block .sf-menu.sf-style-wall .active-trail.menuparent.sfHover{
  background: none;
}

.block .sf-menu.sf-style-wall .active-trail.menuparent.sfHover .active-trail {
  background: url("images/line-menu.gif") repeat-x left top;
  padding-right: 0;
  padding-left: 0;
}

/**
  * Main content
  */
.left-menu-existed .page-main-inner {
  background: #fff;  
  border: 1px solid #FF728E;
  border-right: none;
  margin-left: 165px;
  margin-top: 48px;
  padding-left: 0;
}

.no-sidebars .left-menu-existed .page-main-inner, 
.page-showcase .left-menu-existed .page-main-inner, 
.page-taxonomy-term .left-menu-existed .page-main-inner, 
.left-menu-existed #system-messages-wrapper .grid-inner {
  background: none;
  border: none;
  margin-left: 165px;
  margin-top: 38px;
  padding-left: 0;
  padding-top: 0;
}

.sidebar .grid-inner, .main-content-inner.grid-inner, 
.page-showcase .main-content-inner.grid-inner {
  padding: 15px;
}

/* Grid */
.grid.views-col .grid-inner .node {
  border-color: #e0e0e0 #e0e0e0 #cfcfcf;
  border-radius: 5px;
  color: #6e6e6e;
  padding: 15px 15px 0;
}

.grid.views-col .grid-inner .node:hover {
  border-color: #ff728e;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.grid.views-col .grid-inner .node:hover .node-title a {
  color: #fe779e;
}

.grid.views-col .grid-inner .node:hover .node-title a:hover,
.grid.views-col .grid-inner .node:hover .node-title a:focus {
  text-decoration: none;
}

.grid.views-col.tb-wall-hot-badge .node-title,
.grid.views-col.tb-wall-new-badge .node-title {
  font-size: 140%;
  font-weight: 300;
  position: relative;
  text-indent: 45px;
}

.grid.views-col.tb-wall-hot-badge .node-title:before {
    background: url("images/badge.png") no-repeat 0 0;
    border-radius: 0;
    color: #ff;
    content: "";
    height: 16px;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 35px;
}

.no-sidebars  .node-links ul.links li.node-readmore a {
   background: url("images/heart.png") no-repeat 8px 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
   color: #262626;
   float: none;
   font-size: 92%;
   padding: 5px 12px 5px 25px;
   text-shadow: 1px 1px #fff;
   transition: all 0s ease 0s;
   margin: 0
}

.no-sidebars  .grid.views-col .grid-inner .node:hover li.node-readmore a {
    background: url("images/heart-hover.png") no-repeat 8px 5px #fe88ab;
    border: 1px solid #ea507c;
    box-shadow: -1px 1px #feb2c8 inset;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.no-sidebars .node-links ul.links li.node-readmore a:hover,
.no-sidebars .node-links ul.links li.node-readmore a:focus {
  text-decoration: none;
}

.page-showcase .node .field-type-image {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
}

.grid.views-col.tb-wall-red-background .grid-inner .node {
   background-color: #FD655E;
   border: none;
   color: #fff;
}

.no-sidebars .node-links ul.links {
  background: url("images/bg-1.gif") repeat-x 0 0 #F5F6F7;
    border-radius: 0 0 5px 5px;
    border-top: medium none;
    color: #666;
    margin: 10px -15px 0;
    padding: 19px 15px 15px;
	text-align: right;
    text-shadow: none;
	overflow: hidden;
}

.grid.views-col.tb-wall-red-background .node-links ul.links {
  background: url("images/bg-6.gif") repeat-x 0 0 #D14740;
  border: none;
  color: #fff;
}

.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a {
   background-color: #fff;
   border: none;
   box-shadow: none;
   color: #262626;
}

.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a:hover,
.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a:focus {
  background-color: #fff;
  color: #FD655E;
  text-decoration: none;
}

.grid.views-col.tb-wall-red-background .grid-inner .node:hover li.node-readmore a {
	background: url("images/heart-hover4.png") no-repeat scroll 8px 5px #fff;
	border: none;
	box-shadow: none;
    color: #FD655E;
    text-shadow: none;
}

.grid.views-col.tb-wall-red-background .grid-inner .node:hover .node-title a {
  color: #fff;
}

.grid.views-col.tb-wall-blue-background .grid-inner .node {
   background: #76C4CE;
   border: none;
   color: #fff;
}

.grid.views-col.tb-wall-blue-background .node-links ul.links li.node-readmore a {
   background-color: #fff;
   border: none;
   box-shadow: none;
   color: #262626;
}

.grid.views-col.tb-wall-blue-background .node-links ul.links {
  background: url("images/bg-blue.gif") repeat-x 0 0 #42B1B8;
  border: none;
  color: #fff;
}

.grid.views-col.tb-wall-blue-background .node-links ul.links li.node-readmore a:hover,
.grid.views-col.tb-wall-blue-background .node-links ul.links li.node-readmore a:focus {
  background-color: #fff;
  color: #76C4CE;
  text-decoration: none;
}

.grid.views-col.tb-wall-blue-background .grid-inner .node:hover li.node-readmore a {
	background: url("images/heart-blue.png") no-repeat scroll 8px 5px #fff;
	border: none;
	box-shadow: none;
    color: #76C4CE;
    text-shadow: none;
}

.grid.views-col.tb-wall-blue-background .grid-inner .node:hover .node-title a {
  color: #fff;
}

.grid.views-col.tb-wall-red-background .item-symbol {
    background: url("images/icon5.png") no-repeat left top;
    content: "";
    display: block;
    height: 55px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 52px;
    z-index: 2; 
}

.grid.views-col.tb-wall-yellow-background .grid-inner .node {
   border: none;
   color: #fff;
}

.grid.views-col.tb-wall-yellow-background .node-links ul.links li.node-readmore a {
   background-color: #fff;
   border: none;
   box-shadow: none;
   color: #262626;
}

.grid.views-col.tb-wall-yellow-background .node-links ul.links {
  background: url("images/bg-yellow.gif") repeat-x 0 0 #d9831f;
  border: none;
  color: #fff;
}

.grid.views-col.tb-wall-yellow-background .node-links ul.links li.node-readmore a:hover,
.grid.views-col.tb-wall-yellow-background .node-links ul.links li.node-readmore a:focus {
  background-color: #fff;
  color: #f7921e;
  text-decoration: none;
}

.grid.views-col.tb-wall-yellow-background .grid-inner .node:hover li.node-readmore a {
	background: url("images/heart-yellow.png") no-repeat scroll 8px 5px #fff;
	border: none;
	box-shadow: none;
    color: #f7921e;
    text-shadow: none;
}

.grid.views-col.tb-wall-yellow-background .grid-inner .node:hover .node-title a {
  color: #fff;
}

.grid.views-col.tb-wall-black-background .grid-inner .node {
   background: #2A2A2A;
   border: none;
   color: #fff;
}

.grid.views-col.tb-wall-black-background .node-links ul.links li a {  
  color: #fff;
}

.grid.views-col.tb-wall-black-background .node-links ul.links li.node-readmore a {
   background-color: #fff;
   border: none;
   box-shadow: none;
   color: #262626;
}

.grid.views-col.tb-wall-black-background .node-links ul.links {
  background: url("images/bg-black.gif") repeat-x 0 0 #000;
  border: none;
  color: #fff;
}

.grid.views-col.tb-wall-black-background .node-links ul.links li.node-readmore a:hover,
.grid.views-col.tb-wall-black-background .node-links ul.links li.node-readmore a:focus {
  background-color: #fff;
  color: #2A2A2A;
  text-decoration: none;
}

.grid.views-col.tb-wall-black-background .grid-inner .node:hover li.node-readmore a {
	background: url("images/heart-black.png") no-repeat scroll 8px 5px #fff;
	border: none;
	box-shadow: none;
    color: #2A2A2A;
    text-shadow: none;
}

.grid.views-col.tb-wall-black-background .grid-inner .node:hover .node-title a {
  color: #fff;
}

.grid.views-col.tb-wall-green-background .grid-inner .node {
   background: #9ebf64;
   border: none;
   color: #fff;
}

.grid.views-col.tb-wall-green-background .node-links ul.links li.node-readmore a {
   background-color: #fff;
   border: none;
   box-shadow: none;
   color: #262626;
}

.grid.views-col.tb-wall-green-background .node-links ul.links {
  background: url("images/bg-green.gif") repeat-x 0 0 #80a53f;
  border: none;
  color: #fff;
}

.grid.views-col.tb-wall-green-background .node-links ul.links li.node-readmore a:hover,
.grid.views-col.tb-wall-green-background .node-links ul.links li.node-readmore a:focus {
  background-color: #fff;
  color: #9ebf64;
  text-decoration: none;
}

.grid.views-col.tb-wall-green-background .grid-inner .node:hover li.node-readmore a {
	background: url("images/heart-green.png") no-repeat scroll 8px 5px #fff;
	border: none;
	box-shadow: none;
    color: #9ebf64;
    text-shadow: none;
}

.grid.views-col.tb-wall-green-background .grid-inner .node:hover .node-title a {
  color: #fff;
}

.grid.views-col.tb-wall-new-badge .node-title:before {
    background: url("images/badge.png") no-repeat 0 -32px;
    border-radius: 0;
    color: #fff;
    content: "";
    height: 16px;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 35px;
}

/* Primary menu */
ul.primary {
  border-bottom-color: #FCBBCD;
}

ul.primary li a {
  background-color: #FCBBCD;
  border-radius: 5px 5px 0 0;
  color: #fff;
}

ul.primary li a:hover,
ul.primary li a:focus {
  background-color: #fff;
  border-color: #FCBBCD #FCBBCD #fff;
  color: #FE779E;
}

ul.primary li.active a {
  color: #FE779E;
  border-color: #FCBBCD #FCBBCD #fff;
  text-decoration: none;
}

/* Scroll */
.myScrollbarV > div {
  background-color: #FCBBCD ;
}

/**
  * Sidebar
  */
#sidebar-first-wrapper .grid-inner {
  background: #fff;
  border: 1px solid #FF728E;
  border-left: none;
  margin-top: 48px;
  margin-right: 10px;
}

.sidebar .block-title {
  background: none ;
    border-bottom: none;
    border-radius: 0;
    color: #262626;
    font-family: 'Handlee',cursive;
    font-size: 150%;
    font-weight: normal;
    padding: 0;
    text-transform: none;
}

.sidebar .block-inner {
  border: none;
}

.badge_gallery .block-title:before {
  margin-top: 5px;
}

.sidebar .item-list ul li {
  background: url("images/line-bd.gif") no-repeat left bottom;
  padding: 5px 0;
}

.sidebar .item-list ul li a {
    background: url("images/icon-heart1.png") no-repeat left 6px;
    color: #7B7B7B;
    padding-left: 18px;
}

.sidebar .item-list ul li a:hover,
.sidebar .item-list ul li a:focus {
  background-image: url("images/icon-heart-active.png");
  color: #FE779E;
  text-decoration: none;
}

.sidebar .block-user .item-list ul li {
  background: none;
}

.sidebar .item-list ul.popular_tags li {
  background: none;
}

.sidebar .item-list ul.popular_tags li a {
  background: none;
  padding: 0 10px 0 0;
}

/* blog Page */
.node-title a:hover, 
.node-title a:active,
.node-title a:focus {
  color: #FE789F;
  text-decoration: none;
}

.node-links ul.links li.comment-comments {
  float: left;
}

.field-type-taxonomy-term-reference ul li a {
  color: #333;
}

.field-type-taxonomy-term-reference ul li a:hover,
.field-type-taxonomy-term-reference ul li a:focus {
  color: #FE789F;
}

.node-links ul.links {
  font-size: 13px;
}

.node-links ul.links li {
  background: none;
}

.node-links ul.links li.node-readmore,
.node-links ul.links li.blog_usernames_blog {
  float: right;
}

.node-links ul.links li.node-readmore a,
.node-links ul.links li.blog_usernames_blog a {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e8e8));
	background: -moz-linear-gradient(top,  #ffffff,  #e8e8e8);
	background: -o-linear-gradient(#ffffff,#e8e8e8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffe8e8e8', GradientType=0);
	border: 1px solid #ccc;
	border-radius: 5px 5px 5px 5px;
    color: #262626;
    float: left;
	margin-right: 5px;
    padding: 5px 12px;
    text-shadow: 1px 1px #fff;
    transition: all 0s ease 0s;
}

.node-links ul.links li.node-readmore a:hover,
.node-links ul.links li.node-readmore a:focus,
.node-links ul.links li.blog_usernames_blog a:hover,
.node-links ul.links li.blog_usernames_blog a:focus {
    background-color: #fe749b;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe88ab), to(#fe749b));
    background: -moz-linear-gradient(top,  #fe88ab,  #fe749b);
	background: -o-linear-gradient(#fe88ab,#fe749b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffe88ab', endColorstr='#fffe88ab', GradientType=0);
    border: 1px solid #EA507C;
    box-shadow: -1px 1px #FEB2C8 inset;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.sidebar .view-archive .item-list ul li {
  background: url("images/icon-calendar.png") no-repeat left center;
    border-bottom: 1px solid #eee;
    padding: 5px 0 5px 20px;
}

.sidebar .view-archive .item-list ul li a {
  background: none;
  padding-left: 0;
}

#colorbox .main-content-inner {
  background: #fff;
}

/* Pager */
.item-list ul.pager {
  border: none;
  overflow: hidden;
}

.item-list .pager li, ul.pager li {
  float: left;
  border: none;
  line-height: normal;
  margin: 0;
  padding: 0 5px;
  width: auto;
}

.item-list ul.pager li a {
  background: -moz-linear-gradient(center top , #FFFFFF, #E8E8E8) repeat 0 0;
  background: -o-linear-gradient(center top , #FFFFFF, #E8E8E8) repeat 0 0;
  background: -webkit-linear-gradient(center top , #FFFFFF, #E8E8E8) repeat 0 0;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    box-shadow: none;
    color: #262626;
    display: inline-block;
    font-size: 85%;
	height: auto;
	line-height: normal;
    padding: 2px 8px;
    text-shadow: 1px 1px #FFFFFF;
	width: auto;
}

ul.pager li.pager-first, ul.pager li.pager-last {
  display: inline-block;
}

ul.pager li.pager-previous, ul.pager li.pager-next,
ul.pager li.pager-first, ul.pager li.pager-last  {
  background: none;
  border: none;
  text-indent: 0;
  height: auto;
  line-height: normal;
  width: auto;
  padding: 0 5px;
  margin: 0;
}

ul.pager li.pager-next {
  float: left;
}

ul.pager li.pager-current {
  background: #FE88AB;
    border: 1px solid #EA507C;
    border-radius: 5px;
    box-shadow: -1px 1px #FEB2C8 inset;
    color: #fff;
    display: inline-block;
    font-size: 85%;
	margin: 0 5px;
    padding: 2px 8px;
    text-decoration: none;
    text-shadow: none;
	width: auto;	
}

.item-list ul.pager li a:hover, .item-list ul.pager li a:active, .item-list ul.pager li a:focus {
   background: -moz-linear-gradient(center top , #FE88AB, #FE749B) repeat 0 0 #FE88AB;
   ackground: -o-linear-gradient(center top , #FE88AB, #FE749B) repeat 0 0 #FE88AB;
   ackground: -webkit-linear-gradient(center top , #FE88AB, #FE749B) repeat 0 0 #FE88AB;
    border: 1px solid #EA507C;
    box-shadow: -1px 1px #FEB2C8 inset;
    color: #FFFFFF;
    text-decoration: none !important;
    text-shadow: none;
}

.badge_new .block-title:after {
	background: url("images/badge.png") no-repeat 0 -32px;
	height: 15px;
	width: 34px;
}

.badge_hot .block-title:after {
  background: url("images/badge.png") no-repeat left top;
	height: 15px;
	width: 34px;
}

.badge_top .block-title:after {
  background: url("images/badge.png") no-repeat 0 -50px;
	height: 15px;
	width: 34px;
}

/* Contact */
.region-mass-top .block-title {
  background: none;
    border-bottom: none;
    border-radius: 0 0 0 0;
    color: #262626;
    font-family: 'Handlee',cursive;
    font-size: 150%;
    font-weight: normal;
    padding: 0;
    text-transform: none;
}

.page-contact .page-inner-wrapper {
  border: none;
}

span.button input.form-submit,
a#edit-cancel {
	background-color: #F0F0F0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e8e8));
	background: -moz-linear-gradient(top,  #ffffff,  #e8e8e8);
	background: -o-linear-gradient(#ffffff,#e8e8e8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
	border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    color: #262626;
    padding: 5px 12px;
    text-shadow: 1px 1px #FFFFFF;
	box-shadow: none;
    transition: all 0s ease 0s;
	margin-right: 5px;
	font-weight: bold;
}

span.button input.form-submit:hover, 
span.button input.form-submit:focus,
a#edit-cancel:hover,
a#edit-cancel:focus {
	background-color: #fe749b;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe88ab), to(#fe749b));
    background: -moz-linear-gradient(top,  #fe88ab,  #fe749b);
	background: -o-linear-gradient(#fe88ab,#fe749b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffe88ab', endColorstr='#fffe749b', GradientType=0);
	border: 1px solid #EA507C;
    box-shadow: -1px 1px #FEB2C8 inset;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: none;
}

.author span.name_author {
  color: #FE779E;
}

/* Color Box */
#cboxClose,
#cboxClose:hover,
#cboxClose:focus {
  background: url("images/icon_close.png") no-repeat center #666 !important;
  color: #fff;
  position: absolute;
  display: block;
  width: 30px !important;
  height: 30px !important;
  border-radius: 15px;
  box-shadow: 0 -1px 2px rgba(0,0,0,.2);
  text-indent: -999em;
  top: -10px !important;
}

/* Social */
.grid.instagram .grid-inner .node .node-title:before,
.grid.youtube .grid-inner .node .node-title:before {
  background: none;
}

.grid.instagram .grid-inner .node .node-title,
.grid.youtube .grid-inner .node .node-title {
  text-indent: 0;
}

.field-name-field-reference-url {
  margin-bottom: 15px;
}