.region-content .node-blog {
  margin-bottom: 20px;
  padding-top: 20px;
}

.region-content .node-blog:first-child {
  padding-top: 0;
}

.region-content .views-row,
.region-content .node-blog {
/*  border-top: 1px dotted #cdcdcd;	*/
}

.region-content .views-row:first-child,
.region-content .node-blog:first-child {
  border-top: none;
}

.view .article {
  margin-bottom: 20px;
  padding-top: 20px;
}

.view .views-row-first .article {
  padding-top: 0;
}

.node-title {
  font-family: Arial,Helvetica,sans-serif !important;
  font-size: 1.273em;
  font-weight: 700;
  line-height: normal;
}

.node-title a:hover,
.node-title a:focus {
  color: #323232;
  text-decoration: none;
}

.node-title a:active {
  color: #333;
  text-decoration: none;
}

.ta-l .article-title {
  text-align: left;
}

.ta-r .article-title {
  text-align: right;
}

.ta-c .article-title {
  text-align: center;
}

.article .user-picture {
  display: inline-block;
  vertical-align: text-top;
}

.article .user-picture img {
  max-height: 16px;
}

.node-author {
  color: #999;
}

.article > .submitted {
  color: #7b7b7b;
  font-style: italic;
  line-height: 1;
  padding: 0.5em 0 1.5em;
}

.article .field-type-image {
  border: 1px solid #cdcdcd;
  display: inline-block;
  padding: 3px;
}

.block-content .article .field-type-image {
  float: none;
  margin: 0 0 1em;
}

.block-content .view-content .article .field-type-image {
  float: right;
  margin: .5em 0 1em 1em;
}

.article .menu {
  margin-top: 1em;
}

.article ul.links {
  color: #999;
  font-size: .92em;
  margin: 0;
}

.article ul.links li {
  background: none;
  border-left: none;
  display: inline-block;
  float: left;
  margin: 0 5px 5px 0;
  padding: 0 0 2px;
  white-space: nowrap;
}

.article ul.links li a {
  background: url(images/grad-1.gif) repeat-x top #cdcdcd;
  border: 1px solid #cdcdcd;
  color: #666;
  display: inline-block;
  font-weight: 700;
  padding: 2px 10px;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: middle;
}

.article ul.links li.node-readmore a,
.article ul.links li a:hover,
.article ul.links li a:focus,
.article ul.links li a:active {
  background: #4b7fb0;
  border: 1px solid #4b7fb0;
  color: #fff;
}

.article ul.links li.node-readmore a:hover,
.article ul.links li.node-readmore a:focus,
.article ul.links li.node-readmore a:active {
  background: url(images/grad-1.gif) repeat-x top #cdcdcd;
  border: 1px solid #cdcdcd;
  color: #666;
}
