form {
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  background:none;
}

textarea {
  overflow: hidden;
}

.webform-client-form textarea {
  width:500px;
}

fieldset {
  background: transparent;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
}

fieldset fieldset:last-child {
  margin-bottom: 0;
}

legend {
  font-weight: 700;
}

.form-item,
.form-action {
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-item input.form-text {
  overflow: visible;
}

#user-register-form {
	padding-bottom:40px;
}

#user-register-form .form-item .description {
  float: none;
}

form a,
form a:visited {
  color: #0088cc;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

.form-item label {
  font-weight: 100;
  padding: 0 10px 5px 0;
}

#uc-cart-view-form .qty .form-item input.form-text {
  text-align: center;
}

.form-text:focus,
.form-checkbox:focus,
.form-radio:focus,
.form-select:focus {
  background: #ffffcc;
}

textarea:focus {
  background: #fff;
  border: 1px solid #fc0;
}

input.text,
input.title {
  font-size: 1.385em;
  padding: .5em;
}

input.form-text,
textarea {
  border: 1px solid #ccc;
  height: auto;
  padding: 2px;
}

input.form-text {
  padding: 3px;
}

textarea,
input {
  font: 1em normal Arial, Helvetica, sans-serif;
}

input.form-submit,
a.button,
a.button:visited {
  background: url(../images/bg-button-hover.png) repeat-x left top;
  border-color: #cdcdcd;
  color: #3f73a3;
  font-size: 0.83em;
  font-weight: 700;
  padding: 3px 5px;
  text-transform: uppercase;
}

input.form-submit {
/*  height: 24px;	*/
  line-height: 1.6;
}

input.form-submit:hover,
a.button:hover,
input.form-submit:focus,
a.button:focus {
  background: url(../images/bg-button.png) repeat-x left top;
  border-color: #3f73a3;
  color: #fff;
}


/* DESTACAMOS BOTONES DE SUBMIT */
.page-cart input#edit-checkout--2,
.page-cart input#edit-continue,
.page-cart-checkout input#edit-submit {
  background: url(../images/bg-button-dark-hover.gif) repeat-x left top;
  border-color: #274460;
  color: #fff;
}
.page-cart input#edit-checkout--2:hover,
.page-cart input#edit-continue:hover,
.page-cart-checkout input#edit-submit {
  background: url(../images/bg-button.png) repeat-x left top;
  border-color: #3f73a3;
/*  color: #3f73a3;	*/
}



.form-type-checkbox label {
  font-weight: 100;
}

input.form-checkbox {
  border: none;
}

.form-type-radio label {
  font-weight: 100;
}

input.form-radio {
  border: none;
  float: left;
  margin: 2px 5px 0 0;
}

fieldset {
  background: transparent;
  border: 1px solid #dadada;
  margin: 10px 0;
  padding: 10px;
}

fieldset fieldset:last-child {
  margin-bottom: 0;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0;
}

*:first-child+html fieldset {
  background-color: transparent;
  background-position: 0 10px;
  padding: 0 10px 10px;
}

*:first-child+html fieldset > .description,
*:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 10px;
}

fieldset legend {
  display: block;
  font-weight: 400;
  padding: 0 10px 0 0;
}

*:first-child+html fieldset legend,
*:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 5px;
}

.exposed-filters .form-item {
  margin-bottom: 10px;
  margin-top: 0;
}

.form-item textarea.error {
  padding: 2px;
}

#article-admin-filter ul {
  padding: .5em 0;
}

#edit-operation-wrapper select {
  margin: .5em;
}

div.resizable-textarea textarea {
  margin-top: 0;
}

fieldset {
  background: transparent;
  border: 1px solid #dadada;
  margin: 10px 0;
  padding: 10px;
}

fieldset fieldset:last-child {
  margin-bottom: 0;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0;
}

*:first-child+html fieldset {
  background-color: transparent;
  background-position: 0 10px;
  padding: 0 10px 10px;
}

*:first-child+html fieldset > .description,
*:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 10px;
}

fieldset legend {
  display: block;
  font-weight: 400;
  padding: 0 10px 0 0;
}

*:first-child+html fieldset legend,
*:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 5px;
}

fieldset#edit-advanced fieldset {
  float: left;
  margin: 0 10px 10px 0;
}

fieldset#edit-advanced fieldset .fieldset-legend {
  background: none;
  padding-left: 1em;
}

.advanced-search-submit {
  clear: both;
}

.search-advanced .criterion {
  float: none;
  margin: 0 5px;
}

#edit-keywords-fieldset .form-item:first-child {
  margin-top: 5px;
}

#search-form .container-inline {
  overflow: hidden;
}

#search-form {
  margin: 10px 0;
}

#search-form .form-item-keys {
  display: block;
  float: left;
  margin-top: 0;
}

#search-form .form-item-keys label {
  display: block;
  float: left;
  margin-right: 5px;
  padding-top: 4px;
}

#search-form .form-item-keys input.form-text {
  float: left;
  margin-right: 5px;
  padding: 3px 5px;
  width: 225px;
}

#user-login-form ul {
  margin: 0;
  padding: 0;
}

#user-login ul {
  margin: 0 0 5px;
}

#user-login ul li {
  margin: 0;
}

#user-login-form .item-list li {
  list-style: none;
  margin: 0;
}

#block-user-login .block-content {
  padding: 0 16px;
}

#user-login-form li.openid-link,
#user-login li.openid-link {
  background: none;
  padding-left: 0;
}

#user-login-form .form-text {
  background: url(images/grad-1.gif) repeat-x;
  padding: 3px;
  width: 150px;
}

#user-login-form .form-text:focus,
#user-login-form .form-text:hover {
  background: #ffffcc;
}

#user-login-form label {
  font-weight: 600;
}

#user-login-form .openid-links {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.hide-label label {
  background: none;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

#user-admin-filter ul li,
#article-admin-filter ul li {
  list-style: none;
}

.description {
  color: #555;
}

.field-type-text-long fieldset {
  padding: 10px 0;
}

.field-type-text-long fieldset .form-item {
  margin: 0;
  padding: 0 0 0 15px;
}

fieldset .filter-help {
  padding: 0 10px 5px 5px;
}

.filter-guidelines {
  font-size: .923em;
  margin: 0;
  padding: 5px 18px 10px;
}

#devel-switch-user-form {
  margin-bottom: 0;
}

.poll .vote-form,
.poll .vote-form .choices {
  margin: 0;
  text-align: left;
}

form.fivestar-widget {
  clear: none;
}

form.fivestar-widget div.description {
  float: none;
}



/* MOLLOM */
div.form-item-mollom-captcha {
	margin-top:40px;
}

/* FORMULARIO DE CONTACTO - ESCONDEMOS EL CAPTCHA */
#webform-client-form-14 #edit-mollom-draggable-wrapper {
	display:none;
}
