a {
/*  color: #3f73a3;	*/
  color: #323232;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #454545;
/*  text-decoration: underline;	*/
  text-decoration: none;
}

.nav {
  clear: both;
  margin: 0;
}

.nav li,
.nav .menu li {
  background: transparent;
  display: inline;
  float: left;
  list-style: none;
}

.nav li a,
.nav .menu li a {
  display: block;
  padding: 0 10px;
  white-space: nowrap;
}

.nav ul,
.nav ul.menu,
.nav ul.menu li,
.nav .block {
  margin: 0;
  padding: 0;
}

.block ul.menu {
/*  border-top: 1px dotted #dedede;	*/
  margin: 0;
  padding: 0;
}

.block ul.menu li {
  background: none;
/*  border-bottom: 1px dotted #dedede;	*/
  border:none;
  list-style-image: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.block ul.menu li li {
  border-bottom: none;
}

.block ul.menu li a {
/*  background: url(../images/arrow-7.png) 0 12px no-repeat;	*/
  color: #333;
  display: block;
  outline: none;
  padding: 6px 0;
  font-weight: normal;
/*  text-indent: 13px;	*/
}

.block ul.menu li a:hover,
.block ul.menu li a:focus,
.block ul.menu li a:active,
.block ul.menu li li a:hover,
.block ul.menu li li a:focus,
.block ul.menu li li a:active {
  color: #454545;
}

.block ul.menu li.active-trail a,
.block ul.menu li a.active {
  background: url(../images/arrow-11.png) 0px 10px no-repeat;
  padding-left:10px;
/*  background: none;	*/
  font-weight: bold;
/*  color:#E31A13;	*/
/*  color:#9AD3D7;	*/
}

.block ul.menu li.leaf a.active,
.block ul.menu li li a.active {
  font-weight: 700;
}

.block ul.menu li.expanded ul {
  margin: 0;
  padding: 0 10px;
}

.block ul.menu li.expanded ul ul {
  border-bottom: 0;
}

.block ul.menu li li.collapsed a,
.block ul.menu li.expanded li.collapsed a {
  background: url(images/arrow.png) no-repeat 5px center;
  color: #333;
  font-weight: 100;
}

.block ul.menu li.expanded li.leaf a {
  background: url(../images/bullet4.png) 0 14px no-repeat;
  font-weight: 100;
  text-indent: 10px;
}

.block ul.menu li.expanded li.leaf a.active {
  color: #3b6f9e;
}

.block ul.menu li.last {
  border-bottom: none;
}

.block ul.menu li.content {
  padding: 0;
}


/* AJAX REGISTER */
#block-ajax-register-ajax-register-block li {
  border-right:1px solid #ccc;
  padding:0 8px 0 0;
  margin:0 0 0 5px;
  line-height:10px;
}
#block-ajax-register-ajax-register-block li a {
  font-size:10px;
  color:#626262;
  text-transform:none;
  line-height:10px;
}
#block-ajax-register-ajax-register-block li.first {
  margin:0;
}
#block-ajax-register-ajax-register-block li.last {
/*  border-right:none;	*/
}


/* WELCOME USER */
#block-block-5 {
  display:inline-block;
  line-height:0.8em;
  margin-left:30px;
  font-weight:bold;
  color:#E31A13;
  font-size:1.2em;
/*  float:right;	*/
}
#block-block-5 * {
  padding:0px;
  margin:0px;
}

/* MENU USUARIO */
#block-system-user-menu ul.menu {
  list-style:none;
  padding:0px;
  margin:0px;
}
#block-system-user-menu ul.menu li {
/*  padding:14px 20px 10px 20px;	*/
  padding:0 8px 0 0;
  margin:0 0 0 5px;
  display:inline;
  line-height:1.2em;
  border-right:1px solid #ccc;
}
#block-system-user-menu ul.menu li a {
  margin:0 0 0 3px;

  font-size:1.2em;
  color:#626262;
  display:inline-block;
  text-transform:none;
  background:none;
  line-height:10px;
  text-indent:0px;
  padding:0px;
/*  padding:14px 20px 10px 20px;	*/
}
#block-system-user-menu ul.menu li.first {
/*  margin:0;	*/
}
#block-system-user-menu ul.menu li.last {
  border-right:none;
}
#block-system-user-menu ul.menu li a:hover {
  text-decoration:underline;
}


/* MENU PRINCIPAL */
#block-system-main-menu ul.menu li {
  width:auto;
  margin-right:11.5px;
  display:inline-block;
/*  padding:14px 20px 10px 20px;	*/
}
#block-system-main-menu ul.menu li.last {
  margin-right:0px;
}
#block-system-main-menu ul.menu li a {
  font-size:14px;
  font-size:1.8em;
  width:100px;
/*  padding:14px 20px 10px 20px;	*/
/*  padding:5px 10px 5px 0;	*/
  padding:5px 6px 5px 6px;
  background:none;
  text-align:center;

  display:inline-block;

/*  color:#FFFFFF;	*/
  color:#272C2D;
/*  background: #F27C08;	* NARANJA */
  background: #97A5A2;	/* GRIS */

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

#block-system-main-menu ul.menu li a:hover {
/*  background: #333; 
  background: rgba(0,0,0,0.7);	*/
  opacity:.9;
  filter:alpha(opacity=90);
/*  background:rgba(0,0,0,0.7);	*/
  
}
#block-system-main-menu ul.menu li a.active {
/*  background: #E31A13;	* ROJO */
/*  background: rgba(227,26,19,1);	*/

  background: #9AD3D7;	/* ROJO */
  background: rgba(154,211,215,1);
}


#breadcrumb-wrapper .container {
  background: #f6f7f8;
}

#breadcrumb-wrapper .container .grid-inner {
  border: 1px solid #cdcdcd;
  border-bottom: none;
  padding: 5px 10px;
}

#breadcrumb-wrapper h2 {
  color: #333;
  display: block;
  float: left;
  font-size: .917em;
  font-weight: 700;
  margin: 0 .5em 0 0;
  padding: 0 .5em;
  position: relative !important;
}

#breadcrumb-wrapper ol {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

#breadcrumb-wrapper ol li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#breadcrumb-wrapper ol li span {
  display: block;
  float: left;
  text-align: center;
  width: 20px;
}

#breadcrumb-wrapper ol li a {
  color: #333;
  display: block;
  float: left;
  font-size: .917em;
}

#breadcrumb-wrapper ol li a:hover,
#breadcrumb-wrapper ol li a:active,
#breadcrumb-wrapper ol li a:focus {
  color: #08c;
  text-decoration: none;
}

a.btn-btt {
  display: inline-block;
  float: right;
  padding: 1px 3px;
}

a.btn-btt:hover,
a.btn-btt:active,
a.btn-btt:focus {
  background: #08c;
  color: #fff;
  text-decoration: none;
}

#footer-wrapper #footer {
  color:#272C2D;
  padding: 0px 0 10px 0;
}

#footer-wrapper #footer a:hover {
  color:#272C2D;
  text-decoration:underline;
}

#footer-wrapper ul.menu {
  float: left;
  margin: 0;
}

#footer-wrapper ul.menu li {
  border: 0;
  border-left: 1px solid #cdcdcd;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: auto;
}

#footer-wrapper ul.menu li:first-child {
  border-left: none;
}

#footer-wrapper ul.menu li a {
  border: 0;
  color: #08c;
  display: block;
  float: left;
  margin: 0;
  padding: 0 10px;
  text-indent: 0;
}

#footer-wrapper ul.menu li a:hover,
#footer-wrapper ul.menu li a:active,
#footer-wrapper ul.menu li a:focus {
  color: #333;
}

#footer-wrapper ul.menu li a.active {
  background: #f6f7f8;
  color: #333;
}

#footer-wrapper .tb-copyright {
  color: #999;
  float: right;
  margin: 0;
  padding-right: 15px;
}

#footer-wrapper .tb-copyright a {
  color: #333;
}

#footer-wrapper .tb-copyright a:hover,
#footer-wrapper .tb-copyright a:focus {
  color: #0088cc;
  text-decoration: none;
}

.item-list ul.pager {
  border-top: 1px solid #cdcdcd;
  padding-top: 20px;
}

.item-list ul.pager li {
  display: inline-block;
  font-size: 0.83em;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
}

.item-list ul.pager li a {
  background: url(../images/bg-button.png) repeat-x left top #386b9a;
  border: 1px solid #3f73a3;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
}

.item-list ul.pager li:hover a,
.item-list ul.pager li:active a,
.item-list ul.pager li:focus a {
  background: url(../images/bg-button-hover.png) repeat-x 0 100%;
  border: 1px solid #cdcdcd;
  color: #828282;
  text-decoration: none;
}

.item-list ul.pager li.pager-current {
  background: url(../images/bg-button-hover.png) repeat-x 0 100%;
  border: 1px solid #cdcdcd;
  color: #828282;
  padding: 5px 10px;
}

.item-list ul {
  margin: 0;
  padding: 0;
}

.item-list ul li {
  list-style: none;
  margin: 0;
}

.item-list ul li a {
  text-decoration: none;
}

ul.action-links {
  margin-left: 0;
}

ul.action-links li {
  list-style: none;
}

ul.action-links li a {
  background: url(images/grad-1.gif) repeat-x center top #cdcdcd;
  border: 1px solid #cdcdcd;
  color: #666;
  display: inline-block;
  font-weight: 700;
  padding: 2px 10px;
  text-decoration: none;
}

ul.action-links a:hover,
ul.action-links a:active,
ul.action-links a:focus {
  background: url(images/grad-d1.gif) repeat-x center top #0088cc;
  border: 1px solid #0088cc;
  color: #fff;
}

.more-link {
  border-top: 1px solid #cdcdcd;
  padding-top: 3px;
}

.more-link a {
  background: url(images/arrow.png) no-repeat right center;
  font-size: .92em;
  padding-right: 10px;
}

.sf-menu li:hover,
.sf-menu li.sfhover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
  outline: 0;
}

.sf-vertical li:hover ul,
.sf-vertical li.sfhover ul {
  left: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}

ul.sf-navbar {
  padding-bottom: 35px !important;
}

ul.primary {
  border-bottom-color: #ccc;
  margin: .5em 0;
  padding: 0 0 5px;
}

ul.primary li a {
  background-color: #f5f5f5;
  border-color: #ccc;
  font-weight: 700;
  margin-right: .08em;
  padding: 5px 8px;
}

ul.primary li a:hover {
  background-color: #3f73a3;
  border-bottom-color: #3f73a3;
  border-color: #ccc;
  color: #fff;
}

ul.primary li.active a {
  background-color: #3f73a3;
  border-color: #3f73a3;
  color: #fff;
}

.local-tasks ul.primary li a:hover,
.local-tasks ul.primary li.active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

ul#secondary-menu-links {
  float: right;
  margin: 0;
}

ul#secondary-menu-links li {
  padding: 0;
}

ul#secondary-menu-links li a {
  border-right: 1px solid #ccc;
  list-style: none;
  padding: 0 1em;
}

ul#secondary-menu-links li.last a {
  border-right: none;
}

ul#secondary-menu-links li a:hover,
ul#secondary-menu-links li a.active {
  border-bottom: none;
  text-decoration: underline;
}

#secondary-menu-links-menu {
  float: right;
  margin-top: -5px;
  text-align: right;
}

.quicktabs_main {
  padding: 10px 0.75em;
}

.quicktabs-style-default ul.quicktabs_tabs {
  background: #dedede;
  margin: 0 0 .5em;
  overflow: hidden;
  padding: 0;
}

.quicktabs-style-default ul.quicktabs_tabs li {
  background: none;
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

.quicktabs-style-default ul.quicktabs_tabs li a {
  color: #666;
  display: block;
  float: left;
  padding: 5px 6px;
}

.quicktabs-style-default ul.quicktabs_tabs li a:hover,
.quicktabs-style-default ul.quicktabs_tabs li a:active,
.quicktabs-style-default ul.quicktabs_tabs li a:focus {
  text-decoration: none;
}

.quicktabs-style-default ul.quicktabs_tabs li.active a {
  background: #fff;
  color: #333;
}

#tasks {
  margin-bottom: 1em;
}

.contextual-links-wrapper ul li {
  background-image: none;
  padding-left: 0;
}

a.feed-icon {
  display: inline-block;
  margin-top: 1em;
}

a.feed-icon img {
  margin: 0;
  padding: 0;
}
