/* COLORS: */

/* OLD: */ 
/* RED: #E31A13 	 */
/* ORANGE: #F27C08 	 */
/* GRIS: #F1F1F1	 */

/* NEW: */ 
/* BLUE: #9AD3D7   	 */
/* BLACK: #272C2D  	 */
/* GREY: #97A5A2   	 */


body {
/*  background:url(../images/fondo_web.png) repeat-y; 	*/
  background:#97A5A2;
}

#page {
/*  background: url(../images/bg-page.png) no-repeat right 0;	*/
}

#header-wrapper,
#main-wrapper {
/*  width:960px;	*/
  width:982px;
  margin:0 auto;
  background:#FFFFFF;
}

#main-wrapper {
  min-height:600px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  margin-bottom:20px;
}

#main-wrapper .container-inner > .grid:first-child {
  float: right;
}


/* HEADER */
#header-wrapper {
  margin-top:20px;
/*  position:relative;	*/
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#header-wrapper .container {
/*  position: relative;	*/
}

#header {
/*  clear: both;
  padding: 15px 0 3px;	*/
  width:100%;
/*  color: #fff;	*/
}

#header li a {
  color: #fff;
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
}

#logo-wrapper {
  position:relative;
  float:left;
/*  margin:15px 0 0 15px;		*/
/*  margin:27px 0 0 -25px;		*/
/*  margin:5px 0 0 -15px;		*/
  margin:5px 0 0 -15px;	
/*  padding-bottom: 10px;
  padding-top: 5px;	*/
}

#logo-wrapper a {
  display:block;
}

#name-and-slogan {
  float: left;
  line-height: 1.2;
  margin-bottom: 1em;
  padding-top: 17px;
}

.grid .grid-inner {
  background: #fff;
  padding: 0 15px;
/*  border:1px solid #FFF;	*/
}

.col-first .grid-inner {
  border-left: none;
}

.site-name {
  font-size: 4.8em;
  margin:25px 0 0 12px;
  position:absolute;
}

.site-name a {
  text-decoration: none;
  text-transform:uppercase;
  font-weight:normal;
/*  color:#E83610;	*/
}

.site-name a:hover,
.site-name a:focus,
.site-name a:active {
/*  color: #007fc8;
  color:#F27C08;	*/
  text-decoration: none;
}

.site-slogan {
  color: #999;
  font-size: 1em;
  font-weight: 400;
}

.region-header {
/*  clear: right;	*/
/*  float: right;	*/
  position:relative;
  height:165px;
}


/* MENU BAR */
/*
#menu-bar-wrapper {
  float:right;
  margin-top:130px;
}
#menu-bar-wrapper .container {
  width:740px;
  color:#303030;
  font-weight:bold;
}
#menu-bar-wrapper .block-content {
  padding: 0;
}
*/


/* AJAX MENU */
#block-ajax-register-ajax-register-block {
/*  position:absolute;
  left:205px;	*/
  float:left;
  top:20px;
  margin:15px 0 0 25px;
}


/* USER MENU */
#block-system-user-menu {
/*  position:absolute;
  left:205px;	*/
  float:left;
  margin:15px 0 0 25px;
/*  margin:15px 0 0 35px;
  top:20px;	*/
}


/* MAIN MENU */
#block-system-main-menu {
/*  width:740px;	*/
/*  margin:0px 0 0 0;
  float:left;		*/
  position:absolute;
/*  left:205px;	*/
  left:208px;
  bottom:0px;
}





/* MAINTENANCE MODE */
#logo-title {
  padding-top:20px;
}
#content-content {
  font-size:14px;
  margin:10px 0 0 10px;
}
#content-content a {
   font-style:italic;	
}
.in-maintenance #page-title {
  padding: 10px;
}






/* MAIN CONTENT */

#main-content > .grid-inner {
/*  border-left: 1px solid #cdcdcd;	*/
  padding: 15px 12px 0 8px;
  margin:0;
}

.front #main-content > .grid-inner {
  padding-bottom: 0;
}

#main-content .region-content {
/*  border-top: 5px solid #E31A13;	*/
}

#main-content .region-content .grid .grid-inner {
/*  border-left: 1px dotted #cdcdcd;	*/
  padding-bottom: 10px;
  padding-top: 10px;
}

#main-content .region-content .col-first .grid-inner {
  border-left: none;
}

#main-content .region-content #block-system-main {
  border-bottom: 0;
}

#main-content .region-content #block-system-main .block-inner,
#main-content .region-content #block-system-main .block-content {
  padding: 0;
}

#page-title {
/*  border-top: 5px solid #F27C08;	*/
  border-top: 5px solid #97A5A2;
  font-size: 1.8em;
  line-height: 1.8em;
  font-weight: 700;
  color: #323232;
  margin: 0px;
  padding: 9px 0 10px;
/*  text-transform: uppercase;	*/
}

.region-sidebar-second {
  padding-right: 10px;
}


/* SIDEBAR */

#sidebar-first-wrapper {
  width:18%;
  background: #fff;
  float: left;
  margin:0 0 0 12px;
}

#sidebar-first-wrapper .grid-inner {
  padding: 15px 0 0;
}

#sidebar-first-wrapper a:hover {
  font-weight:bold;
}


/* MESSAGES */
#system-messages-wrapper {
}


.poll {
  margin-bottom: 10px;
}

.poll .title {
  font-weight: 700;
  margin-bottom: 10px;
}

.panel .views-view-grid .grid-inner {
  border-left: 1px solid #444;
  padding: 15px 15px 5px;
}

.panel .views-view-grid .grid:first-child .grid-inner {
  border-left: none;
}

#panel-first-wrapper {
  background: #fafafa;
  border-bottom: 4px solid #303030;
  border-top: 4px solid #cdcdcd;
  padding: 20px 0;
}

#panel-first-wrapper .grid-inner {
  background: none;
  border-left: 1px solid #cdcdcd;
  padding: 0 15px;
}

#panel-first-wrapper .panel-column-first .grid-inner {
  border-left: none;
  padding-left: 0;
}

#panel-first-wrapper .block-content {
  padding: 0;
}

#panel-first-wrapper .block-title {
  background: none;
  font-size: 1.4em;
  padding: 0;
}

#panel-second-wrapper {
  background: #1b1b1b;
}

#panel-second-wrapper .container {
  color: #888;
  padding: 20px 0;
}

#panel-second-wrapper .panel-column .grid-inner {
  background: none;
  border-left: 1px solid #444;
  padding: 0 15px;
}

#panel-second-wrapper .panel-column:first-child .grid-inner {
  border-left: none;
  padding-left: 0;
}

#panel-second-wrapper a {
  color: #888;
  text-decoration: none;
}

#panel-second-wrapper a:hover,
#panel-second-wrapper a:active,
#panel-second-wrapper a:focus {
  color: #fff;
}

#panel-second-wrapper .more-link {
  border-top: none;
}

#panel-second-wrapper .views-field-title {
  color: #cdcdcd;
  margin-bottom: 0;
}

#panel-second-wrapper .views-field-title a {
  border-bottom: 0;
  color: #cdcdcd;
}

#panel-second-wrapper .item-list li {
  background: none;
  border-bottom: 1px solid #444;
  padding: 5px 0 6px;
}

#panel-second-wrapper .item-list li a {
  border-bottom: 0;
  color: #cdcdcd;
}

#panel-second-wrapper .item-list li a:hover,
#panel-second-wrapper .item-list li a:focus,
#panel-second-wrapper .item-list li a:active {
  color: #fff;
}

#footer-wrapper {
  background: #202020;
  border-top: 4px solid #303030;
}

#footer-wrapper .container {
  padding: 10px 0;
  text-align: center;
}

.feed-icon img {
  padding: 0 10px;
}

.search-results {
  margin: 0;
}

.search-results .search-result {
  border-bottom: 1px dotted #cdcdcd;
  padding-bottom: 10px;
}

.search-results .title {
  font-size: 1.154em;
}

.search-results .search-snippet-info {
  padding: 0;
}

.search-results p {
  margin: 0;
}

.search-results .search-info {
  font-size: .923em;
}

.feed-source {
  margin: 1em 0;
}

.maintenance-page #skip-link {
  position: absolute;
  top: -99em;
}

.maintenance-page footer {
  margin: 10px 0 0;
}

.maintenance-page footer a {
  color: #ccc;
  text-decoration: none;
}

div.contextual-links-wrapper {
  z-index: 9;
}

.tabledrag-toggle-weight-wrapper {
  margin-bottom: 10px;
}

.tabledrag-toggle-weight {
  font-size: 1em;
}


/* NODE PRODUCT */
.node-product .field-type-image img,
.node-product-kit .field-type-image img {
  margin-bottom:20px;
}

.node-product .group-caracteristicas {
  background:#F1F1F1;
  border:1px solid #97A5A2;
}
/*.node-product .group-caracteristicas .field-name-field-autor {	*/
.node-product .group-caracteristicas .field {
  float:left;
  clear:left;
}
.node-product .group-caracteristicas .field .field-items {
  margin-bottom:10px;
}
.node-product .group-caracteristicas .field {
  max-width:320px;
}
.node-product .group-caracteristicas .field .field-label {
  font-size:12px;
  text-transform:uppercase;
}
.node .field.field-name-field-edad,
.node-product .group-caracteristicas .field.field-name-field-edad {
  float:right;
  margin-right:0;
}
.node-product .group-caracteristicas .field.field-name-field-edad .field-item {
  display:inline-block;
}
.node-product .group-caracteristicas .field.field-name-field-edad .field-type-image {
  margin:0;
}
