body {
  background: none;
  color: #000;
  font-family: Garamond, Perpetua, "Nimbus Roman No9 L", "Times New Roman", serif;
  font-size: 11pt;
  letter-spacing: 0.2pt;
  line-height: 1.4;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  word-spacing: 1.1pt;
}

header,
footer,
#branding,
#container,
#columns,
.columns-inner,
#content-column,
.content-inner,
.region,
.region-header,
.region-content,
.article,
.article-title,
.article-content,
.comment,
.comment-title,
.comment-content,
.block,
.block-inner,
.block-title,
.block-content,
table {
  background: none !important;
}

.sidebar,
#breadcrumb,
.nav,
.field-type-taxonomy-term-reference,
ul.links,
ul.links a,
.feed-icon,
.poll .bar,
.poll .bar .foreground,
.comment-form,
#comment-form,
.book-navigation,
.tabs {
  display: none;
}

.region-content {
  display: block !important;
}

.content-inner {
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
#site-name {
/*  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	*/
  font-family: 'Ruluko', sans-serif;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 13pt;
}

h3 {
  font-size: 12pt;
}

h4,
h5,
h6 {
  font-size: 11pt;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
#site-name a {
  text-decoration: none !important;
}

h1#page-title {
  margin-top: 1em;
}

pre,
code,
tt,
samp,
kbd,
var {
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 10pt;
}

blockquote {
  font-size: 10pt;
  font-style: italic;
  margin: 1.3em;
  padding: 1em;
}

hr {
  background-color: #ccc;
}

header {
  padding-bottom: 15px;
}

#logo img {
  float: none !important;
  margin: 0 !important;
  padding: 0 10px 0 0;
}

.hgroup a:link,
.hgroup a:visited {
  text-decoration: none;
}

img {
  float: left;
  margin: 4px 20px 10px 0;
  page-break-inside: avoid;
}

a img {
  border: none;
}

a:link,
a:visited {
  background: transparent;
  color: #333;
  font-weight: 700;
  text-decoration: underline;
}

a:link[href^="http://"]:after,
a[href^="http://"]:visited:after {
  content: " (" attr(href) ") ";
  font-size: 10pt;
}

a[href^="http://"] {
  color: #000;
}

table {
  margin: 1px;
  text-align: left;
}

th {
  border-bottom: 1px solid #333;
  font-weight: 700;
}

td {
  border-bottom: 1px solid #333;
}

th,
td {
  padding: 4px 10px 4px 0;
}

tfoot {
  font-style: italic;
}

caption {
  background: #fff;
  margin-bottom: 1em;
  text-align: left;
}

thead {
  display: table-header-group;
}

tr {
  page-break-inside: avoid;
}

form {
  margin-bottom: 10px;
}

.poll .text,
.poll .percent,
.poll .total {
  text-align: left;
}

.poll form {
  margin-bottom: 0;
}

.article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
