/**
  Classic Color
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

body {
  background: rgb(238, 238, 238);
  color: rgb(101, 101, 101);
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 1.6;
}
#cboxWrapper {
  background: none repeat scroll 0 0 rgb(238, 238, 238);
}

.tb-wall-popup-iframe .node {
  margin: 10px;
}

a,
.field-type-taxonomy-term-reference ul li a,
.item-list ul li a {
  color: rgb(101, 101, 101);
  text-decoration: none;
  transition: background 0s ease 0s, color 0.2s linear 0s;
}

a:hover, 
a:active, 
a:focus,
.field-type-taxonomy-term-reference ul li a:hover, 
.field-type-taxonomy-term-reference ul li a:active, 
.field-type-taxonomy-term-reference ul li a:focus,
.item-list ul li a:hover, 
.item-list ul li a:active, 
.item-list ul li a:focus {
  color: rgb(242, 101, 49);
  text-decoration: none;
}

.node {
  background: rgb(255, 255, 255);
  border: 0;
  margin:10px;
  padding: 20px;
  position: relative;
}

.sharethis-buttons {
	bottom: -55px;
}

#cboxWrapper {
  background: #fff;
}

#main-wrapper #main-content > .grid-inner {
	padding: 0;
}

#cboxWrapper  .grid-inner { 
	background: #fff;
}

.field-name-field-reference-url {
	margin: 0 0 20px 0;
	width: 100%;
	float: left;
}

.region-mass-top .block-title,
.article .node-title {
	font-size: 250%;
	font-weight: normal;
	color: rgb(53, 53, 53);
}

.region-mass-top .block-title {
  border-bottom: 0;
  margin: 0 0 15px;
  padding: 0;
  text-transform: none;
}

.page-showcase  .article .node-title  {
	margin: 20px 0 10px;
}

h2.typo-title {
  color: #222222;
}

#header-wrapper {
  background: none repeat scroll 0 0 rgb(16, 16, 17);
  border-bottom: 10px solid rgb(229, 229, 229);
  color: rgb(133, 133, 133);
  height: 45px;
}

#logo img {
  height: 24px;
  margin: 0 0 0 10px;
  width: 56px;
}

.author span.name_author {
	color: rgb(242, 101, 49);
}

.grid.views-col .grid-inner .node {
  border: none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  transition: box-shadow .2s ease 0s;
  -o-transition: box-shadow .2s ease 0s;
  -moz-transition: box-shadow .2s ease 0s;
  -webkit-transition: box-shadow .2s ease 0s;
}

.grid.views-col .grid-inner .node:hover {
  border: none;
  -webkit-box-shadow: 0 3px 5px 5px #ddd;
	-moz-box-shadow: 0 3px 5px 5px #ddd;
	box-shadow: 0 3px 5px 5px #ddd;
  transition: box-shadow .2s ease 0s;
  -o-transition: box-shadow .2s ease 0s;
  -moz-transition: box-shadow .2s ease 0s;
  -webkit-transition: box-shadow .2s ease 0s;
}

.grid.views-col .node-title {
	font-size: 150%;
}

.grid.views-col .node-title a:hover, 
.grid.views-col .node-title a:focus, 
.grid.views-col .node-title a:active {
  color: rgb(204, 0, 0);
  text-decoration: none;
}

.block .sf-menu.sf-style-wall a {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.167em;
	font-weight: 700;
	height: 45px;
	letter-spacing: 1px;
	line-height: 45px;
	text-shadow: none;
	text-transform: uppercase;
}
.block .sf-menu.sf-style-wall li.menuparent.sfHover a,
.block .sf-menu.sf-style-wall a:hover, 
.block .sf-menu.sf-style-wall a:focus, 
.block .sf-menu.sf-style-wall a:active {
	background: none repeat scroll 0 0 rgb(255, 255, 255);
	border-bottom: 0 none;
	color: rgb(76, 26, 26);
	text-decoration: none;
}
.block ul.menu li.active-trail > a, 
.block ul.menu li > a.active {
	text-decoration: none;
}

.block .sf-menu.sf-style-wall .active-trail .sf-depth-1 {
   background: none repeat scroll 0 0 rgb(242, 101, 49);
   border-bottom: 0 none;
   color: rgb(255, 255, 255);
}

.block .sf-menu.sf-style-wall li.first a,
.block .sf-menu.sf-style-wall li.first { 
  border-left: 0;
}

.sf-menu li:hover ul, 
.sf-menu li.sfHover ul {
  top: 46px;
  margin: 0;
  min-width: 14em;
}

.block .sf-menu.sf-style-wall ul {
	background: #fff;
	border: 1px solid #d4d4d4;
	border-top: none;
	margin-left: -1px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.block .sf-menu.sf-style-wall ul li, 
.block .sf-menu.sf-style-wall ul ul li {
	background: none;
	border-bottom: 1px solid #e5e5e5;
	border-right: 0;
	border-left: 0;
}

.block .sf-menu.sf-style-wall ul  li a {
	font-size: 0.833em;
	color: rgb(101, 101, 101);
	font-weight: 300;
	height: 30px;
	letter-spacing: 1px;
	line-height: 30px;
	text-shadow: none;
	text-transform: uppercase;
}

.block .sf-menu.sf-style-wall ul  li a:hover, 
.block .sf-menu.sf-style-wall ul  li a:focus, 
.block .sf-menu.sf-style-wall ul  li a:active,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a.active,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover, 
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus, 
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:active {
	background: none repeat scroll 0 0 transparent;
	color: rgb(242, 101, 49);
	text-decoration: none;
}

.block .sf-menu.sf-style-wall ul li.first { 
  border-left: 0;
  border-right: 0;
} 

.block .sf-menu.sf-style-wall ul li.last  { 
  border-bottom: 0;
} 

.block .sf-menu.sf-style-wall li.menuparent.sfHover li a {
  background: 0;
  border-top: 0;
  color: rgb(101, 101, 101);
}

ul.primary li a{
	background: rgb(255, 255, 255);
	color: rgb(101, 101, 101);
}

ul.primary li a:active,
ul.primary li a:focus,
ul.primary li a:hover{
	background: rgb(16, 16, 16);
	color: rgb(229, 229, 229);
}



#menu-left-wrapper {
  margin-top: 0;
  background: none;
}

#menu-left-wrapper .block-inner {
  border-top: 0;
  padding: 0;
  margin: 6px 0 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	#menu-left-wrapper {
		top: 55px;
	}
}

#menu-left-wrapper .block li.expanded ul {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  width: 100%;
  float: right;
}

.myScrollbarV {
  width: 7px;
}

#menu-left-inner {
	background: none;
}

.block ul.menu li.expanded ul li {
	line-height: 100%;
	width: 100%;
	float: right;
	margin: 5px 0 0;
}

.block ul.menu li.expanded a {
	color: rgb(242, 101, 49);
	font-family: 'PT Sans',sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.block ul.menu li.expanded a:hover, 
.block ul.menu li.expanded a:focus, 
.block ul.menu li.expanded a:active {
  color: rgb(242, 101, 49);
  text-decoration: none;
}

.block ul.menu li.expanded.active-trail ul li a, 
.block ul.menu li.expanded ul li a {
	background: rgb(255, 255, 255);
	border-radius: 2px 2px 2px 2px;
	color: rgb(101, 101, 101);
	float: right;
	font-family: 'PT Sans',sans-serif;
	padding: 5px 10px 6px;
	text-transform: uppercase !important;
	letter-spacing: 1px;
	line-height: 100%;
	font-size: 100%;
}

.block ul.menu li.expanded.active-trail ul li a:active,
.block ul.menu li.expanded.active-trail ul li a:focus,
.block ul.menu li.expanded.active-trail ul li a:hover,
.block ul.menu li.expanded ul li a:hover, 
.block ul.menu li.expanded ul li a:focus, 
.block ul.menu li.expanded ul li a:active {
	background: rgb(16, 16, 16);
	border-bottom: 0 none;
	color: rgb(229, 229, 229);
	text-decoration: none;
}

.block ul.menu li.expanded.active-trail a, 
.block ul.menu li.expanded.active-trail a:hover, 
.block ul.menu li.expanded.active-trail a:focus, 
.block ul.menu li.expanded.active-trail a:active {
  font-weight: normal;
  color: rgb(204, 0, 0);
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.block ul.menu li.expanded.active-trail ul li a.active {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: none;
  text-transform: uppercase;
}

.sidebar .block-title {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 0 none;
  color: rgb(242, 101, 49);
  font-family: 'PT Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 15px 0;
  text-indent: 0;
  text-transform: uppercase;
}
.badge_new .block-title:after,
.badge_hot .block-title:after,
.badge_top .block-title:after {
    background: none;
	font-size: 10px;
	width: 44px;
	border-radius: 3px;
	color: #fff;
	padding: 2px 0;
	text-align: center;
	text-transform: none;
}
.badge_new .block-title:after {
	background-color: #33C83D;
	content: "New";
}
.badge_hot .block-title:after {
	background-color: #EF2A33;
	content: "Hot";
}
.badge_top .block-title:after {
	background-color: #333;
	content: "top";
}
/*node style*/
.grid.views-col .grid-inner .node {
	background: rgb(255, 255, 255);
}

.grid.views-col .grid-inner .node:hover { 
	background: rgb(16, 16, 16);
	color: #a5a5a5;
}

.node-title {
  color: rgb(51, 51, 51);
  font-size: 150%;
  font-weight: normal;
  margin: 0 0 7px;
  font-weight: bold;
  font-family: 'PT Sans',sans-serif;
}

.grid.views-col .grid-inner .node:hover .node-title a{
  color: rgb(255, 255, 255);
} 

.grid.views-col .grid-inner .node {
	padding: 0;
}

.grid.views-col .grid-inner .article-header,
.grid.views-col .grid-inner .footer,
.grid.views-col .grid-inner .node-content { 
	padding: 0 20px;
}

.grid.views-col .grid-inner .footer {
	margin: 0 0 5px 0;
}


.page-showcase .grid.views-col .grid-inner  .footer {
	margin: 0 0 20px;
}

.node-links ul.links {
	width: 100%;
	float: left;
	margin: 0;
}

.node-links ul.links li {
	background: 0;
	float: right;
}
.node-links ul.links li a {
  color: rgb(51, 51, 51);
  font-size: 12px;
}

.node.node-full .node-links ul.links {
	margin: 15px 0 0;
}

.node.node-full .node-links ul.links li{ 
	float: left;
}

.node.node-full .node-links ul.links li.node-readmore a {
  background: url("images/readon-bg.png") no-repeat left 1px;
  border-left: 0;
  color: rgb(51, 51, 51);
  float: left;
  height: auto;
  padding: 0 0 0 15px;
  text-decoration: none;
  text-indent: 0;
  width: auto;
}


.node.node-blog  .node-links ul.links li.node-readmore a {
  background: url("images/readon-bg.png") no-repeat left 1px;
  border-left: 0;
  color: rgb(51, 51, 51);
  float: left;
  height: auto;
  padding: 0 0 0 15px;
  text-decoration: none;
  text-indent: 0;
  width: auto;
}

.node.node-blog  .node-links ul.links li {
	float: left;
	margin: 12px 0;
}

.node-title a, 
.node-title a:visited {
  color: rgb(51, 51, 51);
}

.node-links ul.links li.node-readmore{
	float: right;
}
.node-links ul.links li.comment-comments{
	float: left;
	margin: 12px 0;
}

.grid.views-col .grid-inner .node:hover  .node-links ul.links li a {
	color: #a5a5a5
}

.node-links {
  background: none;
  border-top: 1px solid rgb(229, 229, 229);
  color: rgb(255, 255, 255);
  text-shadow: none;
  margin-top: 20px;
}

.grid.views-col .grid-inner .node:hover .node-links  {
	border-top: 1px solid rgb(28, 28, 28);
}



.node-readmore a:active, 
.node-readmore a:focus, 
.node-readmore a:hover{ 
  text-decoration: none;
} 

.node-links ul.links li a:active,
.node-links ul.links li a:focus,
.node-links ul.links li a:hover,
.node-title a:active, 
.node-title a:focus,
.node-title a:hover { 
  color: rgb(242, 101, 49);
  text-decoration: none;
}

.node-links ul.links li.node-readmore a {
  background: url("images/bg-btn-more-hover.png") no-repeat 50% 50%;  
  color: rgb(102, 102, 102);
  height: 20px;
  padding: 10px;
  float: right;
  text-decoration: none;
  text-indent: -999em;
  width: 20px;
  border-left: 1px solid rgb(229, 229, 229);
}

.grid.views-col .grid-inner .node:hover .node-readmore a{
  background: url("images/bg-btn-more.png") no-repeat scroll 50% 50%;
  text-shadow: none;
  border-left: 1px solid rgb(28, 28, 28);
}

.grid.views-col .grid-inner .node:hover .node-links ul.links li.node-readmore a:active,
.grid.views-col .grid-inner .node:hover .node-links ul.links li.node-readmore a:focus,
.grid.views-col .grid-inner .node:hover .node-links ul.links li.node-readmore a:hover { 
	background: url("images/bg-btn-more-hover-1.png") no-repeat 50% 50%;  
	text-shadow: none;
	border-left: 1px solid rgb(28, 28, 28);
}
.grid.views-col.tb-wall-hot-badge .node-title:before,
.grid.views-col.tb-wall-new-badge .node-title:before, 
.grid.views-col.tb-wall-adv-badge .node-title:before, 
.grid.views-col.tb-wall-free-badge .node-title:before, 
.grid.views-col.tb-wall-feature-badge .node-title:before{
	background: rgb(127, 178, 29);
	border-radius: 3px 3px 3px 3px;
	color: rgb(255, 255, 255);
	font-size: 10px;
	left: 0;
	line-height: normal;
	margin: 3px 0 0;
	padding: 2px 0;
	text-align: center;
	text-indent: 0;
	width: 40px;
	text-transform: none;
}
 
.grid.views-col.tb-wall-hot-badge .node-title:before {
	background: rgb(204, 0, 0);
	border-radius: 3px 3px 3px 3px;
}

.grid.views-col.tb-wall-black-background .grid-inner .node {
   background: #101010;
   border: none;
   color: #656565;
}

.grid.views-col.tb-wall-black-background .node-links {
  border-top-color: #1C1C1C;
}

.grid.views-col.tb-wall-black-background .node-links ul.links li.node-readmore a {
  border-left-color: #1C1C1C;
}

.grid.views-col.tb-wall-black-background .node-links ul.links li a {
  color: #fff;
}

.grid.views-col.tb-wall-black-background .node-links ul.links li.node-readmore a {
  background: url("images/bg-btn-more.png") no-repeat 50% 50%;
}

.grid.views-col.tb-wall-black-background .grid-inner .node:hover .node-readmore a {
  background: url("images/bg-btn-more-hover.png") no-repeat 50% 50%;
}

.grid.views-col.tb-wall-black-background .grid-inner .node:hover {
  background: #FFF;
}

.grid.views-col.tb-wall-black-background .node:hover .node-links {
  border-top-color: #E5E5E5;
}

.grid.views-col.tb-wall-black-background .node:hover .node-links ul.links li.node-readmore a {
  border-left-color: #E5E5E5;
}

.grid.views-col.tb-wall-black-background .node:hover > .submitted a {
  color: #A5A5A5;
}

/*block style*/
.badge_song .block-title:before,
.badge_gallery .block-title:before,
.badge_video .block-title:before {
  background: 0;
  width: 0;
}

div.modal-forms-modal-content .modal-title {
  margin: 10px 0 0 15px;
}

.form-text, textarea {
  background: rgb(252, 252, 252);
  box-shadow: none;
}

span.button input.form-submit {
  background: #F26531;
  border-color: rgb(242, 101, 49);
  border-radius: 0 0 0 0;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F26531', endColorstr='#F26531',GradientType=0 );
}


span.button input.form-submit:hover, 
span.button input.form-submit:focus { 
  background: 000000;
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: none;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}

#sidebar-first-wrapper {
  margin: 0;
}

#main-wrapper {
  top: 55px;
}

#main-wrapper .container {
  padding: 0;
}

#main-content {
  margin: 0;
}

.sidebar .block-inner {
  background: rgb(255, 255, 255);
  border: medium none;
  margin: 10px;
  padding: 15px 20px;
}
.page-showcase .node .field-type-image {
	margin: 0;
}

/*comment style*/
.comment {
  border-bottom: 1px dotted rgb(168, 168, 168);
  margin-bottom: 1em;
  padding: 0 0 10px 0;
}

#comments > h2 {
  border-bottom: 0 none;
  border-top: 0 none;
  color: rgb(51, 51, 51);
  font-size: 200%;
  line-height: 1.2;
  margin: 1.2em 0 0.5em;
  padding-bottom: 10px;
  padding-top: 10px;
}

.comment ul.links li.first {
	padding: 0 0.5em 0 0; 
}
.node-links ul.links li a,
.comment ul.links li a {
  background: url("images/readon-bg.png") no-repeat left 1px;
  font-weight: normal;
  padding: 0 0 0 15px;
}

.node-links ul.links li a:hover, 
.node-links ul.links li a:active, 
.node-links ul.links li a:focus,
.comment ul.links li a:hover, 
.comment ul.links li a:active, 
.comment ul.links li a:focus{
  background: url("images/readon-hover-bg.png") no-repeat left 1px;
  text-decoration: none;
}

.comment .new {
	color: rgb(204, 0, 0);
}
.comment .submitted {
	margin: 0 0 5px 0;
}

.comment-title {
  margin: 0 0 2px;
}

.comment-title a {
  color: rgb(51, 51, 51);
  font-size: 120%;
  font-weight: normal;
  text-decoration: none;
}

.comment-title a:hover, 
.comment-title a:active, 
.comment-title a:focus {
  color: rgb(242, 101, 49);
  text-decoration: none;
}

.page-contact .page-inner-wrapper {
  background: rgb(255, 255, 255);
  border: 0 none;
  margin: 0;
  padding: 10px 20px;
  position: relative;
}

.grid.views-col.tb-wall-red-background .grid-inner .node {
  background: rgb(242, 101, 49);
  border: none;
  color: rgb(255, 255, 255);
}

.grid.views-col.tb-wall-red-background .node > .submitted {
	color: rgb(255, 255, 255);
}

.grid.views-col.tb-wall-red-background .grid-inner li.node-readmore a,
.grid.views-col.tb-wall-red-background .grid-inner .node-links {
	border-color: rgb(255, 147, 107);
}

.grid.views-col.tb-wall-red-background .grid-inner li.node-readmore a {
	background: url("images/bg-btn-more-hilite.png") no-repeat scroll 50% 50% transparent;
}

.grid.views-col.tb-wall-red-background .node-title a, 
.grid.views-col.tb-wall-red-background .node-title a:visited {
	color: rgb(255, 255, 255);
}

.grid.views-col.tb-wall-red-background .grid-inner .node:hover  {
	color: rgb(53, 53, 53);
	background: rgb(255, 255, 255);
}
.grid.views-col.tb-wall-red-background .grid-inner .node:hover .node-title a,
.grid.views-col.tb-wall-red-background .grid-inner .node:hover  .submitted{
	color: rgb(53, 53, 53);	
}

.grid.views-col.tb-wall-red-background .grid-inner .node:hover  .submitted a {
	border-bottom: 1px solid rgb(229, 229, 229);
	color: rgb(153, 153, 153);
}

.grid.views-col.tb-wall-red-background .grid-inner:hover li.node-readmore a, 
.grid.views-col.tb-wall-red-background .grid-inner:hover .node-links{
	border-color: rgb(229, 229, 229);
}


.grid.views-col .node > .submitted {
  color: rgb(102, 102, 102);
  font-size: 100%;	
}

.grid.views-col.tb-wall-red-background .node-links ul.links {
	font-size: 0;
}

.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a, 
.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a:visited {
  color: rgb(102, 102, 102);
}

.grid.views-col.tb-wall-red-background .grid-inner .node:hover .node-readmore{
  border-color: rgb(229, 229, 229);
}

.grid.views-col.tb-wall-red-background .grid-inner .node:hover .node-links ul.links li.node-readmore a{ 
	background: url("images/bg-btn-more-hover.png") no-repeat 50% 50%;  
	text-shadow: none;
	border-color: rgb(229, 229, 229);
}
.grid.views-col.tb-wall-red-background .grid-inner .node:hover .node-links ul.links li.node-readmore a:active,
.grid.views-col.tb-wall-red-background  .grid-inner .node:hover .node-links ul.links li.node-readmore a:focus,
.grid.views-col.tb-wall-red-background  .grid-inner .node:hover .node-links ul.links li.node-readmore a:hover { 
	background: url("images/bg-btn-more-hover.png") no-repeat 50% 50%;  
}

/*Responsive*/
@media screen and (max-width: 959px) {
  #main-wrapper{
    top: 45px;
    z-index: auto !important;
  }
  #menu-left-wrapper{
    background: #FFFFFF;
  }
  .block ul.menu li.expanded.active-trail ul li a, .block ul.menu li.expanded ul li a{
    background: #F0F0F0;
  }
}