
div.toboggan-container {
  text-align: center;
}

div.toboggan-login-link-container {
  text-align: left;
}

div.toboggan-login-link-container a {
  text-decoration: none;
}

div.toboggan-block-message {
  text-align: left;
}

div.user-login-block {
  text-align: left;
}

div.user-login-block a {
  text-align: left;
}

/* Unified login */

.toboggan-unified #login-message {
  display: none;
}

.toboggan-unified #login-links {
  display: none;
}

.toboggan-unified.login > div, .toboggan-unified.register > div {
  float: left;
}

.toboggan-unified.login > div form, .toboggan-unified.register > div form {
  padding: 20px;
}

.toboggan-unified.login #register-form, .toboggan-unified.register #register-form {
  display: block;
}

.toboggan-unified.login .password-strength, .toboggan-unified.register .password-strength  {
  display: none;
}

.toboggan-unified.login .field-name-field-aviso-correo, .toboggan-unified.register .field-name-field-aviso-correo {
  display: none;
}
.toboggan-unified.login form .form-item .description, .toboggan-unified.register form .form-item .description {
  display: none;
}
