/**
  Classic Color
*/
body {
  color: rgb(102, 102, 102);
  font-family: Georgia,Times,serif !important;
}

a,
.item-list ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: background 0s ease 0s, color 0.2s linear 0s;
}

a:hover, 
a:active, 
a:focus,
.item-list ul li a:hover, 
.item-list ul li a:active, 
.item-list ul li a:focus {
  color: rgb(204, 0, 0);
  text-decoration: underline;
}



#header-wrapper {
  background: #000;
  border-bottom: 10px solid #fff;
  color: #ccc;
  height: 45px;
}

#logo img {
  height: 18px;
  margin: 2px 0 0 10px;
  width: 100px;
}

.grid.views-col .grid-inner .node {
  border: 1px dotted rgb(240, 240, 240);
  padding: 15px;
  border-radius: 0 0 0 0;
  box-shadow: none;
  transition: box-shadow .2s ease 0s;
  -o-transition: box-shadow .2s ease 0s;
  -moz-transition: box-shadow .2s ease 0s;
  -webkit-transition: box-shadow .2s ease 0s;
}

.grid.views-col .grid-inner .node:hover {
  border-color: #000;
  border-style: solid;
  box-shadow: 0 0 8px 2px rgba(0,0,0,.4);
  transition: box-shadow .2s ease 0s;
  -o-transition: box-shadow .2s ease 0s;
  -moz-transition: box-shadow .2s ease 0s;
  -webkit-transition: box-shadow .2s ease 0s;
}

.grid.views-col.tb-wall-red-background .grid-inner .node {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border-color: rgb(204, 0, 0);
  color: rgb(102, 102, 102);
  padding: 10px 15px;
}

.grid.views-col.tb-wall-red-background .grid-inner .node:hover  {
  color: rgb(102, 102, 102);
}

.grid.views-col.tb-wall-new-badge .node-title:before, 
.grid.views-col.tb-wall-hot-badge .node-title:before, 
.grid.views-col.tb-wall-adv-badge .node-title:before, 
.grid.views-col.tb-wall-free-badge .node-title:before, 
.grid.views-col.tb-wall-feature-badge .node-title:before {
  border-radius: 0;
}

.grid.views-col.tb-wall-red-background .node > .submitted,
.grid.views-col .node > .submitted {
  color: rgb(102, 102, 102);
  font-size: 100%;	
}

.grid.views-col.tb-wall-red-background .node-title a, 
.grid.views-col.tb-wall-red-background .node-title a:visited {
  color: rgb(0, 0, 0);
}

.grid.views-col .grid-inner .node .menu.node-links {
	border-top: 1px dotted rgb(0, 0, 0);
	width: 100%;
	float: left;
	margin: 5px 0 0 0;
}

.grid.views-col .grid-inner .node .node-links ul.links {
	margin: 10px 0 0;
}

.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a, 
.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a:visited {
  color: rgb(102, 102, 102);
}



.grid.views-col .node-title a:hover, 
.grid.views-col .node-title a:focus, 
.grid.views-col .node-title a:active {
  color: rgb(204, 0, 0);
  text-decoration: none;
}

.block .sf-menu.sf-style-wall ul {
	width: 13em !important;
	background: none repeat scroll 0 0 rgb(255, 255, 255);
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.block .sf-menu.sf-style-wall ul li, 
.block .sf-menu.sf-style-wall ul ul li {
  background: none;
}

.block .sf-menu.sf-style-wall ul  li a {
	-moz-box-sizing: border-box;
	display: block;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	max-width: 420px;
	padding: 0 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.block .sf-menu.sf-style-wall li.first { 
  border-left: 1px solid rgb(37, 37, 37)
}

.block .sf-menu.sf-style-wall li.first a {
  border-left: 0;
}

.block .sf-menu.sf-style-wall ul li.first { 
  border-left: 0;
} 

.block .sf-menu.sf-style-wall a {
  border-bottom: 5px solid transparent;
  color: rgb(204, 204, 204);
  font-size: 100%;
  font-weight: normal;
  border-right: 0;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  transition: border-color 0.2s ease 0s;
}

.block .sf-menu.sf-style-wall a:hover, 
.block .sf-menu.sf-style-wall a:focus, 
.block .sf-menu.sf-style-wall a:active {
  background: 0;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.block .sf-menu.sf-style-wall .active-trail .sf-depth-1 {
  background: none;
  border-bottom-color: rgb(204, 0, 0);
  color: rgb(255, 255, 255);
}

.block .sf-menu.sf-style-wall li.menuparent.sfHover li a {
  background: 0;
  border-top: 0;
  color: rgb(102, 102, 102);
  text-transform: none;
}

.sf-menu li:hover ul, 
.sf-menu li.sfHover ul {
  top: 3.7em;
  margin: 0;
}

#menu-left-wrapper {
  margin-top: 15px;
}

.block ul.menu li.expanded ul li {
	line-height: 100%;
}

.block ul.menu li.expanded a {
  color: rgb(204, 0, 0);
  font-weight: normal; 
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 0 0 5px;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.block ul.menu li.expanded.active-trail ul li a,
.block ul.menu li.expanded ul li a {
	color: rgb(102, 102, 102);
	-moz-box-sizing: border-box;
	display: inline-block;
	line-height: normal;
	max-width: 100px;
	overflow: hidden;
	padding: 2px 5px;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
}
.block ul.menu li.expanded.active-trail ul li a:active,
.block ul.menu li.expanded.active-trail ul li a:focus,
.block ul.menu li.expanded.active-trail ul li a:hover,
.block ul.menu li.expanded ul li a:hover, 
.block ul.menu li.expanded ul li a:focus, 
.block ul.menu li.expanded ul li a:active {
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: underline;
}

.block ul.menu li.expanded.active-trail a, 
.block ul.menu li.expanded.active-trail a:hover, 
.block ul.menu li.expanded.active-trail a:focus, 
.block ul.menu li.expanded.active-trail a:active {
  font-weight: normal;
  color: rgb(204, 0, 0);
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.block ul.menu li.expanded.active-trail ul li a.active {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: none;
  text-transform: uppercase;
}

#menu-left-wrapper .block-inner {
	border-top: 0;
	padding: 0;
}
#menu-left-wrapper .block li.expanded ul {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.myScrollbarV {
  width: 7px;
}

.sidebar .block-title {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 0 none;
  border-radius: 0 0 0 0;
  color: rgb(204, 0, 0);
  font-size: 125%;
  font-weight: normal;
  margin: 0;
  padding: 0 0 5px 0;
  text-transform: uppercase;
}




/*node title*/
.node-title {
  color: rgb(51, 51, 51);
  font-size: 250%;
  font-weight: normal;
  margin: 0;
}

.node-links ul.links {
	font-size: 100%;
}

.node-links ul.links li a:active,
.node-links ul.links li a:focus,
.node-links ul.links li a:hover,
.node-title a:active, 
.node-title a:focus,
.node-title a:hover { 
  color: rgb(204, 0, 0);
  text-decoration: underline;
}

/*node style*/
.node-links ul.links li {
	background: 0;
	padding: 0;
}

.node-links ul.links li.node-readmore {
  float: right;
}

.node-links ul.links li.node-readmore a {
  border: 1px solid rgb(204, 204, 204);
  color: rgb(102, 102, 102);
  display: block;
  font-size: 92%;
  line-height: normal;
  padding: 2px 6px;
}

.grid.views-col .node-title {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.3;
}
.grid.views-col.tb-wall-new-badge .node-title:before, 
.grid.views-col.tb-wall-hot-badge .node-title:before, 
.grid.views-col.tb-wall-adv-badge .node-title:before, 
.grid.views-col.tb-wall-free-badge .node-title:before, 
.grid.views-col.tb-wall-feature-badge .node-title:before{
  margin-top: 4px;
}

.grid.views-col .grid-inner .node:hover .node-readmore a{
  background-color: #000;
  border-color: #000;
  color: #fff;
  text-shadow: none;
}

.grid.views-col.tb-wall-red-background .grid-inner .node:hover .node-readmore a{
  background-color: #c00;
  border-color: #c00;
  color: #fff;
  text-shadow: none;
}

.node-readmore a:active, 
.node-readmore a:focus, 
.node-readmore a:hover{ 
  text-decoration: none;
} 

/*block style*/
.badge_song .block-title:before,
.badge_gallery .block-title:before,
.badge_video .block-title:before {
  background: 0;
  width: 0;
}

div.modal-forms-modal-content .modal-title {
  margin: 10px 0 0 15px;
}

.form-text, textarea {
  background: rgb(252, 252, 252);
  box-shadow: none;
}

span.button input.form-submit {
  background: none repeat scroll 0 0 rgb(204, 0, 0);
  border-color: rgb(204, 0, 0);
  border-radius: 0 0 0 0;
  color: rgb(255, 255, 255);
  filter: none;
  font-weight: bold;
  text-shadow: none;
  box-shadow: none;
}

span.button input.form-submit:hover, 
span.button input.form-submit:focus { 
  background: none repeat scroll 0 0 rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: none;
}

ul.primary li a,
.node-links ul.links li a,
.comment-title a,
.field-type-taxonomy-term-reference ul li a {
	color: rgb(0, 0, 0);
}

ul.primary li a:active,
ul.primary li a:focus,
ul.primary li a:hover,
.node-links ul.links li a:active,
.node-links ul.links li a:focus,
.node-links ul.links li a:hover,
.comment-title a:active,
.comment-title a:focus,
.comment-title a:hover,
.field-type-taxonomy-term-reference ul li a:active,
.field-type-taxonomy-term-reference ul li a:focus,
.field-type-taxonomy-term-reference ul li a:hover {
	color: rgb(204, 0, 0);
	text-decoration: underline;
}

/*black style*/
.grid.views-col.tb-wall-black-background .grid-inner .node {
	background: none repeat scroll 0 0 rgb(0, 0, 0);
	border-color: rgb(0, 0, 0);
	color: rgb(204, 204, 204);
}

.grid.views-col.tb-wall-black-background .grid-inner .node .menu.node-links {
	border-top-color: rgb(204, 204, 204);
	color: rgb(102, 102, 102);
	text-shadow: none;
}
.grid.views-col.tb-wall-black-background  .node-links ul.links li.node-readmore a {
	border: 1px solid rgb(102, 102, 102);
	color: rgb(102, 102, 102);
}

.grid.views-col.tb-wall-black-background .node-links ul.links li.comment-comments a,
.grid.views-col.tb-wall-black-background .node-title a, 
.grid.views-col.tb-wall-black-background .node-title a:visited {
	color: rgb(204, 204, 204)
}
.grid.views-col.tb-wall-black-background .grid-inner .node:hover .comment-comments a,
.grid.views-col.tb-wall-black-background .grid-inner .node:hover  .node-title a {
	color: rgb(255, 255, 255)
}

.grid.views-col.tb-wall-black-background .grid-inner .node:hover .node-readmore a {
    background: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
}

.page-showcase .node .field-type-image {
	margin: 0;
}
/*comment style*/
.comment {
  border-bottom: 1px dotted rgb(168, 168, 168);
  margin-bottom: 1em;
  padding: 0 0 10px 0;
}

#comments > h2 {
  border-bottom: 0 none;
  border-top: 0 none;
  color: rgb(102, 102, 102);
  font-family: Georgia,Times,serif;
  font-size: 200%;
  line-height: 1.2;
  margin: 1.2em 0 0.5em;
  padding-bottom: 10px;
  padding-top: 10px;
}

.comment ul.links li.first {
	padding: 0 0.5em 0 0; 
}

.comment ul.links li a {
  background: url("images/readon-bg.png") no-repeat scroll left 2px transparent;
  font-weight: normal;
  padding-left: 17px;
}

.comment ul.links li a:hover, 
.comment ul.links li a:active, 
.comment ul.links li a:focus{
  background: url("images/readon-hover-bg.png") no-repeat left 2px;
  text-decoration: none;
}

.comment .new {
	color: rgb(204, 0, 0);
}
.comment .submitted {
	margin: 0 0 5px 0;
}