/**
  Classic Color
*/
body{
}

a,
a:visited,
.node-title a,
.item-list ul li a,
.node-links ul.links li a,
.field-type-taxonomy-term-reference ul li a {
	color: #353535;
	text-decoration: none;
	transition: background 0s ease 0s, color 0.2s linear 0s;
}

a:active,
a:focus,
a:hover,
.node-title a:hover, 
.node-title a:active, 
.node-title a:focus,
.item-list ul li a:active,
.item-list ul li a:focus,
.item-list ul li a:hover,
.node-links ul.links li a:active,
.node-links ul.links li a:focus,
.node-links ul.links li a:hover,
.field-type-taxonomy-term-reference ul li a:active,
.field-type-taxonomy-term-reference ul li a:focus,
.field-type-taxonomy-term-reference ul li a:hover{
	color: rgb(255, 51, 51);
	text-decoration: none;
	transition: background 0s ease 0s, color 0.2s linear 0s;
}


#header-wrapper {
	background: none repeat scroll 0 0 rgb(255, 255, 255);
	border-bottom: 1px solid rgb(221, 221, 221);
	color: rgb(133, 133, 133);
	height: 90px;
}

.block .sf-menu.sf-style-wall li {
	border-right: 1px solid rgb(221, 221, 221);
}

.block .sf-menu.sf-style-wall a {
	border-right: 0;
	color: rgb(53, 53, 53);
	font-size: 12px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	margin: 0;
	padding: 0 20px;
}

.block .sf-menu.sf-style-wall li.first a {
	border-left: 0;
}

.block .sf-menu.sf-style-wall a:hover, 
.block .sf-menu.sf-style-wall a:focus, 
.block .sf-menu.sf-style-wall a:active {
	background: none;
	color: #FF0000;
	text-decoration: none;
}

.block .sf-menu.sf-style-wall li.menuparent.sfHover li a {
	background: none;
	color: #999999;
}

.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:active {
	background: none;
	color: #fff;
}

.block .sf-menu.sf-style-wall .active-trail .sf-depth-1 {
	background: 0;
	border-bottom-color: rgb(204, 0, 0);
	border-left: 0;
	color: rgb(255, 0, 0);
}

.block .sf-menu.sf-style-wall ul:after,
.block .sf-menu.sf-style-wall ul:after {
	background: url("images/arr-top.png") no-repeat 90% center;
	width: 22px;
	height: 10px;
	display: block;
	content: "";
	position: absolute;
	top: -7px;
	left: 30px;
}

.block .sf-menu.sf-style-wall ul li, 
.block .sf-menu.sf-style-wall ul ul li {
	background: #252525;
}

.block .sf-menu.sf-style-wall ul li{
	border-right: 0;
	height: 40px;
	line-height: 40px;
}
 

.block .sf-menu.sf-style-wall ul li a {
	border-right: 0;
	border-top: 1px solid #353535;
	font-size: 92%;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
}

#header #search-block-form .form-text {
	background: url("images/ico-search.png") no-repeat 10px center #fff;
	border: none;
	border: 1px solid rgb(221, 221, 221);
	display: inline-block;
	font-weight: bold;
	height: 30px;
	line-height: normal;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	vertical-align: middle;
	width: 30px;
	z-index: 9999;
}

#header #search-block-form .form-text:focus,
#header #search-block-form .form-text:hover {
	color: #353535;
	padding-left: 30px;
	text-indent: 0;
	width: 180px;
}

#header #search-block-form {
  margin-top: 35px;
}

#menu-bar-wrapper {
	margin: 45px 0 0 75px;
}

.front .left-menu-existed .page-main-inner, 
.page-showcase .left-menu-existed .page-main-inner, 
.page-taxonomy-term .left-menu-existed .page-main-inner, 
.left-menu-existed #system-messages-wrapper .grid-inner {
	padding-left: 130px;
	padding-top: 0;
}

#main-wrapper {
	top: 91px;
}

#logo {
	background: rgb(37, 37, 37);
	height: 60px;
	margin: 0 0 0 20px;
	width: 60px;
}

#logo img {
	display: block;
	height: 16px;
	padding: 24px 11px 24px 1px;
	text-indent: -9999px;
	width: 36px;
}

#menu-left-wrapper .block-inner {
	border-top: 0;
}

#menu-left-wrapper .block li.expanded ul {
	border-bottom: 0;
	margin-bottom: 20px;
	padding-bottom: 0;
}

.block ul.menu li.expanded a {
	background: url("images/title-bg.gif") no-repeat right bottom;
	display: block;
	padding-bottom: 15px;
}
.block ul.menu li.expanded.active-trail ul li a,
.block ul.menu li.expanded ul li a {
	background: 0;
	color: rgb(37, 37, 37);
	padding: 2px 0;
}
.block ul.menu li.expanded.active-trail ul li a:active,
.block ul.menu li.expanded.active-trail ul li a:focus,
.block ul.menu li.expanded.active-trail ul li a:hover,
.block ul.menu li.expanded ul li a:hover, 
.block ul.menu li.expanded ul li a:focus, 
.block ul.menu li.expanded ul li a:active {
	color: #FF0000;
	font-weight: normal;
	text-decoration: none;
}

.grid.views-col .grid-inner .node {
	border: 0 none;
	padding: 0;
}

.grid.views-col .grid-inner .node:hover {
	box-shadow: none;
	transition: all 0.3s ease 0s;
}

.node > .submitted,
.node > .submitted a,
.grid.views-col.tb-wall-red-background .node > .submitted,
.grid.views-col.tb-wall-red-background .node > .submitted a,
.grid.views-col.tb-wall-red-background .node-title a, 
.grid.views-col.tb-wall-red-background .node-title a:visited {
	color: #252525;
}

.grid.views-col.tb-wall-red-background .grid-inner .node {
	background: none;
	border: 0;
	color: #252525;
}

.grid.views-col.tb-wall-red-background .grid-inner .node .node-title a:active,
.grid.views-col.tb-wall-red-background .grid-inner .node .node-title a:focus, 
.grid.views-col.tb-wall-red-background .grid-inner .node .node-title a:hover{ 
	color: rgb(255, 51, 51);
	text-decoration: none;
	transition: background 0s ease 0s, color 0.2s linear 0s;
}

.grid.views-col.tb-wall-red-background .grid-inner .node .field-type-image {
	border: 4px solid #cc0000;
}



.node > .submitted,
.node > .submitted a,
.grid.views-col.tb-wall-black-background .node > .submitted,
.grid.views-col.tb-wall-black-background .node > .submitted a,
.grid.views-col.tb-wall-black-background .node-title a, 
.grid.views-col.tb-wall-black-background .node-title a:visited {
	color: rgb(37, 37, 37);
}

.grid.views-col.tb-wall-black-background .grid-inner .node {
	background: none;
	border: 0;
	color: rgb(37, 37, 37);
}
.grid.views-col.tb-wall-black-background .grid-inner .node .node-title a:active,
.grid.views-col.tb-wall-black-background .grid-inner .node .node-title a:focus, 
.grid.views-col.tb-wall-black-background .grid-inner .node .node-title a:hover{ 
	color: rgb(255, 51, 51);
	text-decoration: none;
	transition: background 0s ease 0s, color 0.2s linear 0s;
}
.grid.views-col.tb-wall-black-background .grid-inner .node .field-type-image {
	border: 4px solid #000000;
}

.node > .submitted,
.node > .submitted a,
.grid.views-col.tb-wall-blue-background .node > .submitted,
.grid.views-col.tb-wall-blue-background .node > .submitted a,
.grid.views-col.tb-wall-blue-background .node-title a, 
.grid.views-col.tb-wall-blue-background .node-title a:visited {
	color: rgb(37, 37, 37);
}

.grid.views-col.tb-wall-blue-background .grid-inner .node {
	background: none;
	border: 0;
	color: rgb(37, 37, 37);
}
.grid.views-col.tb-wall-blue-background .grid-inner .node .node-title a:active,
.grid.views-col.tb-wall-blue-background .grid-inner .node .node-title a:focus, 
.grid.views-col.tb-wall-blue-background .grid-inner .node .node-title a:hover{ 
	color: rgb(255, 51, 51);
	text-decoration: none;
	transition: background 0s ease 0s, color 0.2s linear 0s;
}

.grid.views-col.tb-wall-blue-background .grid-inner .node .field-type-image {
	border: 4px solid #33A2D2;
}



.node-links ul.links {
	background: none repeat scroll 0 0 transparent;
	border-radius: 0 0 0 0;
	border-top: 1px solid rgb(221, 221, 221);
	color: rgb(102, 102, 102);
	margin: 10px 0 0;
	padding: 0;
	text-shadow: none;
}

.node-blog.node-full  .node-links ul.links {
	padding: 10px 0 0 0;
}
.node-blog.node-teaser .node-links ul.links { 
	padding: 0;
}

.node-links ul.links li.node-readmore {
	float: right;
	margin: 0;
}

.node-links ul.links li.node-readmore a{
	background: url(images/more.gif) no-repeat center;
	border: none;
	border-left: 1px solid #ddd;
	border-radius: 0;
	height: 30px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	transition: all 0.2s linear 0s;
	width: 30px;
}

.node-full.node-links ul.links li.comment_forbidden,
.node-full.node-links ul.links li.blog_usernames_blog,
.node-blog.node-teaser .node-links ul.links li.blog_usernames_blog,
.node-links ul.links li.comment-comments {
	background: 0;
	float: left;
	margin: 7px 10px 0 7px;
	padding: 0;
}

.node-links ul.links li.comment-comments a, 
.node-links ul.links li.comment-comments a:visited{
	color: rgb(37, 37, 37);
}

.node-links ul.links li.comment-comments a:active,
.node-links ul.links li.comment-comments a:focus,
.node-links ul.links li.comment-comments a:hover {
	color: rgb(255, 51, 51);
}

.node {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 0 none;
	margin: 10px;
	padding: 0;
	position: relative;
}

.grid.views-col .grid-inner .node:hover .node-links ul.links li.node-readmore a{
	background: url(images/more-hover.gif) no-repeat center #000;
	border-color: #000;
}

.node-links ul.links li a,
.comment ul.links li a {
	background: url("images/readon-bg.png") no-repeat left 1px;
	font-weight: normal;
	padding: 0 0 0 15px;
}

.node-links ul.links li a:hover, 
.node-links ul.links li a:active, 
.node-links ul.links li a:focus,
.comment ul.links li a:hover, 
.comment ul.links li a:active, 
.comment ul.links li a:focus{
	background: url("images/readon-hover-bg.png") no-repeat left 1px;
	text-decoration: none;
}

.node-links ul.links li.node-readmore a:active,
.node-links ul.links li.node-readmore a:focus,
.node-links ul.links li.node-readmore a:hover {
	background: url(images/more-hover.gif) no-repeat center #000;
	border-color: #000;
}
.page-showcase .node .field-type-image {
	margin: 0 0 10px 0;
}

.author span.name_author {
	color: rgb(255, 51, 51);
}

.page-contact .page-inner-wrapper {
	border: 0;
	margin: 10px 10px 20px;
	padding: 0;
}

.form-text, textarea {
	box-shadow: none;
}

span.button input.form-submit {
	background: #CC0000;
	filter: none;
	border-color: #CC0000;
	border-radius: 0 0 0 0;
	box-shadow: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-shadow: none;
}

span.button input.form-submit:hover, 
span.button input.form-submit:focus {
	background: none repeat scroll 0 0 rgb(0, 0, 0);
	border-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	text-shadow: none;
}

.grid.views-col.tb-wall-new-badge .node-title:before, 
.grid.views-col.tb-wall-hot-badge .node-title:before, 
.grid.views-col.tb-wall-adv-badge .node-title:before, 
.grid.views-col.tb-wall-free-badge .node-title:before, 
.grid.views-col.tb-wall-feature-badge .node-title:before {
	border-radius: 0;
	font-size: 11px;
	line-height: 100%;
	padding: 2px 6px 1px;
}

.grid.views-col.tb-wall-double-style .node-title {
	font-size: 1.1em;
	line-height: 23px;
}

.grid.views-col.tb-wall-hot-badge .node-title:before {
	background: #CC0000;
}

.grid.views-col .node-title {
	background: url("images/title-bg.gif") no-repeat scroll left bottom transparent;
	margin-bottom: 10px;
	padding-bottom: 10px;
}



#header .responsive-menu-button,
#header .tb-left-menu-button {
	background-color: #000;
}

.node-blog .sharethis-buttons {
	bottom: 0;
}

.form-item.form-type-textfield.form-item-date input {
	min-width: 180px;
}

/* For Webkit ---*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    ul.primary li a { padding-top: 0.68em; }
    #menu-left-wrapper { top: 90px; }
    body.logged-in #menu-left-wrapper { top: 155px; }
    #menu-left-wrapper.menu-left-skin-wrapper { top: 130px; }
}