/**
  Classic Color
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

body {
  background: rgb(32, 32, 32);
  color: rgb(102, 102, 102);
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 1.6;
}

fieldset {
	border-color: #000;
}

.node > .submitted a {
  color: #aaa;
  border-color: #aaa;
}

div.modal-forms-modal-content .popups-container {
  background: #202020;
}
div.modal-forms-modal-content,
div.modal-forms-modal-content .modal-title {
  color: #666666;
}
div.modal-forms-modal-content .popups-close {
  background: url("images/close.png") no-repeat 0 0;
}
div.modal-forms-modal-content .popups-close:hover {
  background-position: 0 0;
}
a,
.field-type-taxonomy-term-reference ul li a,
.item-list ul li a {
  color: rgb(165, 165, 165);
  text-decoration: none;
  transition: background 0s ease 0s, color 0.2s linear 0s;
}

a:hover, 
a:active, 
a:focus,
.field-type-taxonomy-term-reference ul li a:hover, 
.field-type-taxonomy-term-reference ul li a:active, 
.field-type-taxonomy-term-reference ul li a:focus,
.item-list ul li a:hover, 
.item-list ul li a:active, 
.item-list ul li a:focus {
  color: rgb(242, 101, 49);
  text-decoration: none;
}

.node {
  background: none;
  border: 0;
  margin: 0px 10px 20px;
  padding: 10px 20px;
  position: relative;
}
.node.node-full .node-links{ 
	border-top: 0;
}



.style-italic {
  color: rgb(255, 255, 255);
}
.region-mass-top .block-title,
.article .node-title {
	font-size: 250%;
	font-weight: normal;
	color: rgb(255, 255, 255);
}

.region-mass-top .block-title {
  border-bottom: 0;
  margin: 0 0 15px;
  padding: 0;
  text-transform: none;
}

.page-showcase  .article .node-title  {
	margin: 20px 0 10px;
}



h2.typo-title {
  color: rgb(255, 255, 255);
}

#header-wrapper {
  background: none repeat scroll 0 0 rgb(16, 16, 17);
  border-bottom: 1px solid rgb(5, 5, 5);
  color: rgb(133, 133, 133);
  height: 45px;
}

#header #search-block-form .form-text {
	height: 44px;
}

#logo img {
  height: 24px;
  margin: 0 0 0 10px;
  width: 56px;
}

.grid.views-col .grid-inner .node {
  border: none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  transition: box-shadow .2s ease 0s;
  -o-transition: box-shadow .2s ease 0s;
  -moz-transition: box-shadow .2s ease 0s;
  -webkit-transition: box-shadow .2s ease 0s;
}

.grid.views-col .grid-inner .node:hover {
  border: none;
  box-shadow: 0 0 8px 2px rgba(0,0,0,.4);
  transition: box-shadow .2s ease 0s;
  -o-transition: box-shadow .2s ease 0s;
  -moz-transition: box-shadow .2s ease 0s;
  -webkit-transition: box-shadow .2s ease 0s;
}

.grid.views-col.tb-wall-new-badge .node-title:before, 
.grid.views-col.tb-wall-hot-badge .node-title:before, 
.grid.views-col.tb-wall-adv-badge .node-title:before, 
.grid.views-col.tb-wall-free-badge .node-title:before, 
.grid.views-col.tb-wall-feature-badge .node-title:before {
  border-radius: 0;
}

.grid.views-col .node > .submitted {
  color: rgb(102, 102, 102);
  font-size: 100%;	
}




.grid.views-col .node-title {
	font-size: 150%;
}

.grid.views-col .node-title a:hover, 
.grid.views-col .node-title a:focus, 
.grid.views-col .node-title a:active {
  color: rgb(204, 0, 0);
  text-decoration: none;
}

.block .sf-menu.sf-style-wall a {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.167em;
	font-weight: 700;
	height: 46px;
	letter-spacing: 1px;
	line-height: 46px;
	text-shadow: none;
	text-transform: uppercase;
}
.block .sf-menu.sf-style-wall li.menuparent.sfHover a,
ul.primary li a:hover,
.block .sf-menu.sf-style-wall a:hover, 
.block .sf-menu.sf-style-wall a:focus, 
.block .sf-menu.sf-style-wall a:active {
	background: none repeat scroll 0 0 rgb(255, 255, 255);
	border-bottom: 0 none;
	color: rgb(76, 26, 26);
	text-decoration: none;
}
.block ul.menu li.active-trail > a, 
.block ul.menu li > a.active {
	text-decoration: none;
}

.block .sf-menu.sf-style-wall .active-trail .sf-depth-1 {
   background: none repeat scroll 0 0 rgb(242, 101, 49);
   border-bottom: 0 none;
   color: rgb(255, 255, 255);
}

ul.primary li.active a {
	text-decoration: none;
}

.block .sf-menu.sf-style-wall li.first a,
.block .sf-menu.sf-style-wall li.first { 
  border-left: 0;
}

.sf-menu li:hover ul, 
.sf-menu li.sfHover ul {
  top: 46px;
  margin: 0;
  min-width: 14em;
}

.block .sf-menu.sf-style-wall ul {
	background: #fff;
	border: 1px solid #d4d4d4;
	border-top: none;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.block .sf-menu.sf-style-wall ul li, 
.block .sf-menu.sf-style-wall ul ul li {
	background: none;
	border-bottom: 1px solid #e5e5e5;
	border-right: 0;
	border-left: 0;
}

.block .sf-menu.sf-style-wall ul  li a {
	font-size: 0.833em;
	color: rgb(101, 101, 101);
	font-weight: 300;
	height: 30px;
	letter-spacing: 1px;
	line-height: 30px;
	text-shadow: none;
	text-transform: uppercase;
}

.block .sf-menu.sf-style-wall ul  li a:hover, 
.block .sf-menu.sf-style-wall ul  li a:focus, 
.block .sf-menu.sf-style-wall ul  li a:active,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a.active,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover, 
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus, 
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:active {
	background: none repeat scroll 0 0 transparent;
	color: rgb(242, 101, 49);
	text-decoration: none;
}

.block .sf-menu.sf-style-wall ul li.first { 
  border-left: 0;
  border-right: 0;
} 

.block .sf-menu.sf-style-wall ul li.last  { 
  border-bottom: 0;
} 

.block .sf-menu.sf-style-wall li.menuparent.sfHover li a {
  background: 0;
  border-top: 0;
  color: rgb(101, 101, 101);
}



#menu-left-wrapper {
  margin-top: 15px;
  background: none;
}

#menu-left-wrapper .block-inner {
	border-top: 0;
	padding: 0;
	margin: 10px 0 0 0;
}



#menu-left-wrapper .block li.expanded ul {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  width: 100%;
  float: right;
}

.myScrollbarV {
  width: 7px;
}

#menu-left-inner {
	background: none;
}

.block ul.menu li.expanded ul li {
	line-height: 100%;
	width: 100%;
	float: right;
	margin: 2px 0 0;
}

.block ul.menu li.expanded a {
	color: rgb(255, 255, 255);
	font-family: 'PT Sans',sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.block ul.menu li.expanded a:hover, 
.block ul.menu li.expanded a:focus, 
.block ul.menu li.expanded a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.block ul.menu li.expanded.active-trail ul li a, 
.block ul.menu li.expanded ul li a {
	background: none repeat scroll 0 0 rgb(16, 16, 17);
	border-radius: 2px 2px 2px 2px;
	color: rgb(133, 133, 133);
	float: right;
	font-family: 'PT Sans',sans-serif;
	padding: 6px 10px 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 100%;
	font-size: 100%;
}

.block ul.menu li.expanded.active-trail ul li a:active,
.block ul.menu li.expanded.active-trail ul li a:focus,
.block ul.menu li.expanded.active-trail ul li a:hover,
.block ul.menu li.expanded ul li a:hover, 
.block ul.menu li.expanded ul li a:focus, 
.block ul.menu li.expanded ul li a:active {
	background: none repeat scroll 0 0 rgb(255, 255, 255);
	border-bottom: 0 none;
	color: rgb(101, 101, 101);
	text-decoration: none;
}

.block ul.menu li.expanded.active-trail a, 
.block ul.menu li.expanded.active-trail a:hover, 
.block ul.menu li.expanded.active-trail a:focus, 
.block ul.menu li.expanded.active-trail a:active {
  font-weight: normal;
  color: rgb(204, 0, 0);
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.block ul.menu li.expanded.active-trail ul li a.active {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: none;
  text-transform: uppercase;
}

.sidebar .block-title {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 0 none;
  color: rgb(255, 255, 255);
  font-family: 'PT Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0 0px 20px 0;
  text-indent: 0;
  text-transform: uppercase;
}

/*node style*/
.grid.views-col .grid-inner .node {
	background: rgb(16, 16, 16);
}

.grid.views-col .grid-inner .node:hover { 
	background: #fff;
	color: rgb(53, 53, 53);
}

.node-title {
  color: rgb(51, 51, 51);
  font-size: 150%;
  font-weight: normal;
  margin: 0 0 7px;
  font-weight: bold;
  font-family: 'PT Sans',sans-serif;
}

.grid.views-col .grid-inner .node:hover .node-title a{
  color: rgb(53, 53, 53);
} 

.grid.views-col .grid-inner .node {
	padding: 0;
}

.grid.views-col .grid-inner .article-header,
.grid.views-col .grid-inner .footer,
.grid.views-col .grid-inner .node-content { 
	padding: 0 20px;
}

.grid.views-col .grid-inner .footer {
	margin: 0 0 5px 0;
}


.page-showcase .grid.views-col .grid-inner  .footer {
	margin: 0 0 20px;
}

.node-links ul.links li {
	background: 0;
}
.node-links ul.links li a {
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 12px 10px;
}
.node-title a, 
.node-title a:visited {
  color: rgb(255, 255, 255);
}


.grid.views-col .grid-inner .node:hover  .node-links ul.links li a {
	color: #a5a5a5
}

.node-links {
  background: none repeat scroll 0 0 transparent;
  border-top: 1px solid rgb(28, 28, 28);
  color: rgb(255, 255, 255);
  text-shadow: none;
  margin-top: 15px;
}

.node.node-full .node-links ul.links li.node-readmore a {
  background: url("images/readon-bg.png") no-repeat left 1px;
  border-left: 0;
  color: rgb(255, 255, 255);
  float: left;
  height: auto;
  padding: 0 0 0 15px;
  text-decoration: none;
  text-indent: 0;
  width: auto;
}


.node.node-blog  .node-links ul.links li.node-readmore a {
  background: url("images/readon-bg.png") no-repeat left 1px;
  border-left: 0;
  color: rgb(255, 255, 255);
  float: left;
  height: auto;
  padding: 0 0 0 15px;
  text-decoration: none;
  text-indent: 0;
  width: auto;
}
.node.node-full .node-links ul.links li.node-readmore a:active,
.node.node-full .node-links ul.links li.node-readmore a:focus,
.node.node-full .node-links ul.links li.node-readmore a:hover,
.node.node-blog  .node-links ul.links li.node-readmore a:active,
.node.node-blog  .node-links ul.links li.node-readmore a:hover,
.node.node-blog  .node-links ul.links li.node-readmore a:focus {
	background: url("images/readon-hover-bg.png") no-repeat left 1px;
	text-decoration: none;
	color: rgb(242, 101, 49);
}

.node.node-full .node-links ,
.node.node-blog  .node-links {
	border-top: 0;
}


.grid.views-col .grid-inner .node:hover .node-links  {
	border-top: 1px solid rgb(229, 229, 229);
}

.node-links ul.links {
	width: 100%;
	float: left;
	margin: 20px 0 0 0;
	
}

.grid.views-col .grid-inner .node-links ul.links  {
	margin: 0;
}

.node-readmore a:active, 
.node-readmore a:focus, 
.node-readmore a:hover{ 
  text-decoration: none;
} 
.node > .submitted a:hover,
.node > .submitted a:active,
.node > .submitted a:focus,
.node-links ul.links li a:active,
.node-links ul.links li a:focus,
.node-links ul.links li a:hover,
.node-title a:active, 
.node-title a:focus,
.node-title a:hover { 
  color: rgb(242, 101, 49);
  text-decoration: none;
  border-bottom-color: rgb(242, 101, 49);
}

.node-links ul.links li.node-readmore a {
  background: url("images/bg-btn-more.png") no-repeat scroll 50% 50%;
  color: rgb(102, 102, 102);
  height: 20px;
  padding: 10px;
  float: right;
  text-decoration: none;
  text-indent: -999em;
  width: 20px;
  border-left: 1px solid rgb(28, 28, 28);
}


.grid.views-col .grid-inner .node:hover .node-readmore a{
  background: url("images/bg-btn-more-hover.png") no-repeat 50% 50%;  
  text-shadow: none;
  border-left: 1px solid rgb(229, 229, 229);
}

.grid.views-col .grid-inner .node:hover .node-links ul.links li.node-readmore a:active,
.grid.views-col .grid-inner .node:hover .node-links ul.links li.node-readmore a:focus,
.grid.views-col .grid-inner .node:hover .node-links ul.links li.node-readmore a:hover { 
	background: url("images/bg-btn-more-hover-1.png") no-repeat 50% 50%;  
	text-shadow: none;
	border-left: 1px solid rgb(229, 229, 229);
}

.grid.views-col.tb-wall-new-badge .node-title:before, 
.grid.views-col.tb-wall-hot-badge .node-title:before, 
.grid.views-col.tb-wall-adv-badge .node-title:before, 
.grid.views-col.tb-wall-free-badge .node-title:before, 
.grid.views-col.tb-wall-feature-badge .node-title:before{
	background: none repeat scroll 0 0 rgb(204, 0, 0);
	border-radius: 3px 3px 3px 3px;
	color: rgb(255, 255, 255);
	font-size: 10px;
	left: 0;
	line-height: normal;
	margin: 3px 0 0;
	padding: 2px 0;
	text-align: center;
	text-indent: 0;
	width: 40px;
	text-transform: none;
}

.grid.views-col.tb-wall-adv-badge .node-title:before {
	width: 50px;
}


.grid.views-col.tb-wall-red-background .grid-inner .node {
  background: rgb(242, 101, 49);
  border: none;
  color: rgb(255, 255, 255);
}
.grid.views-col.tb-wall-red-background .node-title a, 
.grid.views-col.tb-wall-red-background .node-title a:visited {
	color: rgb(255, 255, 255);
}

.grid.views-col.tb-wall-red-background .node > .submitted {
	color: rgb(255, 255, 255);
}
.grid.views-col.tb-wall-red-background .grid-inner .node:hover  {
  color: rgb(53, 53, 53);
  background: rgb(242, 101, 49);
}

.grid.views-col.tb-wall-red-background .grid-inner .node:hover  .submitted{
  color: rgb(53, 53, 53);	
}
.grid.views-col.tb-wall-red-background .grid-inner .node:hover  .node-links,
.grid.views-col.tb-wall-red-background .grid-inner .node:hover   li.node-readmore a,
.grid.views-col.tb-wall-red-background .grid-inner .node:hover   li.node-readmore a:hover,
.grid.views-col.tb-wall-red-background .grid-inner li.node-readmore a,
.grid.views-col.tb-wall-red-background .grid-inner .node-links {
	border-color: rgb(255, 147, 107);
}

.grid.views-col.tb-wall-red-background  .grid-inner .node:hover .node-links ul.links li.node-readmore a:active,
.grid.views-col.tb-wall-red-background  .grid-inner .node:hover .node-links ul.links li.node-readmore a:focus,
.grid.views-col.tb-wall-red-background  .grid-inner .node:hover .node-links ul.links li.node-readmore a:hover { 
	border-color: rgb(255, 147, 107);
}
.grid.views-col.tb-wall-red-background .grid-inner .node:hover li.node-readmore a,
.grid.views-col.tb-wall-red-background .grid-inner li.node-readmore a {
	background: url("images/bg-btn-more-hilite.png") no-repeat scroll 50% 50% transparent;
}

.grid.views-col.tb-wall-red-background .node-links ul.links {
	font-size: 0;
}

.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a, 
.grid.views-col.tb-wall-red-background .node-links ul.links li.node-readmore a:visited {
  color: rgb(102, 102, 102);
}




.grid.views-col.tb-wall-blue-background .grid-inner .node {
  background: #33C9BA;
  border: none;
  color: rgb(255, 255, 255);
}
.grid.views-col.tb-wall-blue-background .node-title a, 
.grid.views-col.tb-wall-blue-background .node-title a:visited {
	color: rgb(255, 255, 255);
}

.grid.views-col.tb-wall-blue-background .node > .submitted {
	color: rgb(255, 255, 255);
}
.grid.views-col.tb-wall-blue-background .grid-inner .node:hover  {
  color: rgb(53, 53, 53);
  background: #33C9BA;
}

.grid.views-col.tb-wall-blue-background .grid-inner .node:hover  .submitted{
  color: rgb(53, 53, 53);	
}
.grid.views-col.tb-wall-blue-background .grid-inner .node:hover  .node-links,
.grid.views-col.tb-wall-blue-background .grid-inner .node:hover   li.node-readmore a,
.grid.views-col.tb-wall-blue-background .grid-inner li.node-readmore a,
.grid.views-col.tb-wall-blue-background .grid-inner .node-links {
	border-color: #2fac9f;
}
.grid.views-col.tb-wall-blue-background .grid-inner .node:hover li.node-readmore a,
.grid.views-col.tb-wall-blue-background .grid-inner li.node-readmore a {
	background: url("images/bg-blue-more-hilite.png") no-repeat scroll 50% 50% transparent;
}
.grid.views-col.tb-wall-blue-background .grid-inner .node:hover .node-links ul.links li.node-readmore a:active,
.grid.views-col.tb-wall-blue-background .grid-inner .node:hover .node-links ul.links li.node-readmore a:focus,
.grid.views-col.tb-wall-blue-background .grid-inner .node:hover .node-links ul.links li.node-readmore a:hover { 
	background: url("images/bg-blue-more-hilite.png") no-repeat scroll 50% 50% transparent;
	text-shadow: none;
	border-color: #2fac9f;
}


.grid.views-col.tb-wall-blue-background .node-links ul.links {
	font-size: 0;
}

.grid.views-col.tb-wall-blue-background .node-links ul.links li.node-readmore a, 
.grid.views-col.tb-wall-blue-background .node-links ul.links li.node-readmore a:visited {
  color: rgb(102, 102, 102);
}



.grid.views-col.tb-wall-green-background .grid-inner .node {
  background: #8BCA31;
  border: none;
  color: rgb(255, 255, 255);
}
.grid.views-col.tb-wall-green-background .node-title a, 
.grid.views-col.tb-wall-green-background .node-title a:visited {
	color: rgb(255, 255, 255);
}

.grid.views-col.tb-wall-green-background .node > .submitted {
	color: rgb(255, 255, 255);
}
.grid.views-col.tb-wall-green-background .grid-inner .node:hover  {
  color: rgb(53, 53, 53);
  background: #8BCA31;
}

.grid.views-col.tb-wall-green-background .grid-inner .node:hover  .submitted{
  color: rgb(53, 53, 53);	
}
.grid.views-col.tb-wall-green-background .grid-inner .node:hover  .node-links,
.grid.views-col.tb-wall-green-background .grid-inner .node:hover   li.node-readmore a,
.grid.views-col.tb-wall-green-background .grid-inner li.node-readmore a,
.grid.views-col.tb-wall-green-background .grid-inner .node-links {
	border-color: #7fb335;
}
.grid.views-col.tb-wall-green-background .grid-inner .node:hover li.node-readmore a,
.grid.views-col.tb-wall-green-background .grid-inner li.node-readmore a {
	background: url("images/bg-green-more-hilite.png") no-repeat scroll 50% 50% transparent;
}

.grid.views-col.tb-wall-green-background .grid-inner .node:hover .node-links ul.links li.node-readmore a:active,
.grid.views-col.tb-wall-green-background .grid-inner .node:hover .node-links ul.links li.node-readmore a:focus,
.grid.views-col.tb-wall-green-background .grid-inner .node:hover .node-links ul.links li.node-readmore a:hover { 
	background: url("images/bg-green-more-hilite.png") no-repeat scroll 50% 50% transparent;
	text-shadow: none;
	border-color: #7fb335;
}

.grid.views-col.tb-wall-green-background .node-links ul.links {
	font-size: 0;
}

.grid.views-col.tb-wall-green-background .node-links ul.links li.node-readmore a, 
.grid.views-col.tb-wall-green-background .node-links ul.links li.node-readmore a:visited {
  color: rgb(102, 102, 102);
}


.grid.views-col.tb-wall-yellow-background .grid-inner .node {
  background: #f7921e;
  border: none;
  color: #ffff;
}
.grid.views-col.tb-wall-yellow-background .node-title a, 
.grid.views-col.tb-wall-yellow-background .node-title a:visited {
	color: #ffff;
}

.grid.views-col.tb-wall-yellow-background .node > .submitted {
	color: #ffff;
}
.grid.views-col.tb-wall-yellow-background .grid-inner .node:hover  {
  color: rgb(53, 53, 53);
  background: #f7921e;
}

.grid.views-col.tb-wall-yellow-background .grid-inner .node:hover  .submitted{
  color: rgb(53, 53, 53);	
}
.grid.views-col.tb-wall-yellow-background .grid-inner .node:hover  .node-links,
.grid.views-col.tb-wall-yellow-background .grid-inner .node:hover   li.node-readmore a,
.grid.views-col.tb-wall-yellow-background .grid-inner li.node-readmore a,
.grid.views-col.tb-wall-yellow-background .grid-inner .node-links {
	border-color: #d67c14;
}
.grid.views-col.tb-wall-yellow-background .grid-inner .node:hover li.node-readmore a,
.grid.views-col.tb-wall-yellow-background .grid-inner li.node-readmore a {
	background: url("images/bg-yellow-more-hilite.png") no-repeat scroll 50% 50% transparent;
}

.grid.views-col.tb-wall-yellow-background .grid-inner .node:hover .node-links ul.links li.node-readmore a:active,
.grid.views-col.tb-wall-yellow-background .grid-inner .node:hover .node-links ul.links li.node-readmore a:focus,
.grid.views-col.tb-wall-yellow-background .grid-inner .node:hover .node-links ul.links li.node-readmore a:hover { 
	background: url("images/bg-yellow-more-hilite.png") no-repeat scroll 50% 50% transparent;
	text-shadow: none;
	border-color: #d67c14;
}

.grid.views-col.tb-wall-yellow-background .node-links ul.links {
	font-size: 0;
}

.grid.views-col.tb-wall-yellow-background .node-links ul.links li.node-readmore a, 
.grid.views-col.tb-wall-yellow-background .node-links ul.links li.node-readmore a:visited {
  color: rgb(102, 102, 102);
}



/*block style*/
.badge_song .block-title:before,
.badge_gallery .block-title:before,
.badge_video .block-title:before {
  background: 0;
  width: 0;
}

div.modal-forms-modal-content .modal-title {
  margin: 10px 0 0 15px;
}

.form-text, textarea {
  background: rgb(252, 252, 252);
  box-shadow: none;
}

span.button input.form-submit {
  background: rgb(242, 101, 49);
  border-color: rgb(242, 101, 49);
  border-radius: 0 0 0 0;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: none;
  box-shadow: none;
}

span.button input.form-submit:hover, 
span.button input.form-submit:focus { 
  background: none repeat scroll 0 0 rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: none;
}

.sidebar .block-inner {
  background: rgb(16, 16, 16);
  border: medium none;
  margin: 10px;
  padding: 15px 20px;
}
.page-showcase .node .field-type-image {
	margin: 0;
}

/*comment style*/
.form-text, textarea {
  background: rgb(32, 32, 32);
  border: 1px solid rgb(5, 5, 5);
  color: rgb(153, 153, 153);
}

#comments {
	border-color: #000;
}
.comment {
  border-bottom: 1px dotted rgb(168, 168, 168);
  margin-bottom: 1em;
  padding: 0 0 10px 0;
}

#comments > h2 {
  background: none repeat scroll 0 0 rgb(32, 32, 32);
  border-bottom: 0 none;
  border-top: 0 none;
  color: rgb(255, 255, 255);
  font-size: 200%;
  line-height: 1.2;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  padding-top: 10px;
  padding: 10px 0;
}

.comment ul.links li.first {
	padding: 0 0.5em 0 0; 
}
.node-links ul.links li a,
.comment ul.links li a {
  background: url("images/readon-bg.png") no-repeat scroll left 1px;
  font-weight: normal;
  padding: 0 0 0 15px;
}

.grid.views-col .grid-inner  .node-links ul.links li.comment-comments  a {
	margin: 12px 0 12px 10px;
}

.block .sf-menu.sf-style-wall ul {
	margin-left: -1px;	
}


.node-links ul.links li a:hover, 
.node-links ul.links li a:active, 
.node-links ul.links li a:focus,
.comment ul.links li a:hover, 
.comment ul.links li a:active, 
.comment ul.links li a:focus{
  background: url("images/readon-hover-bg.png") no-repeat left 1px;
  text-decoration: none;
}

.comment .new {
	color: rgb(204, 0, 0);
}
.comment .submitted {
	margin: 0 0 5px 0;
}

.comment-title {
  margin: 0 0 2px;
}

.comment-title a {
  color: rgb(255, 255, 255);
  font-size: 120%;
  font-weight: normal;
  text-decoration: none;
}

.comment-title a:hover, 
.comment-title a:active, 
.comment-title a:focus {
  color: rgb(242, 101, 49);
  text-decoration: none;
}

.page-contact .page-inner-wrapper {
  background: none repeat scroll 0 center transparent;
  border: 0 none;
  margin: 0;
  padding: 10px 20px;
  position: relative;
}

.front .left-menu-existed .page-main-inner, 
.page-showcase .left-menu-existed .page-main-inner, 
.page-taxonomy-term .left-menu-existed .page-main-inner, 
.left-menu-existed #system-messages-wrapper .grid-inner {
  padding-left: 130px;
  padding-top: 0;
}
.page-taxonomy .field-name-field-reference-url a {
	margin: 0 0 20px;
	width: 100%;
	float: left;
}

.node .field-type-image {
	margin: 0;
}

.node .article-header {
	margin: 15px 0 0 0;

}

body.tb-wall-popup-iframe {
	background: #fff;
}

body.tb-wall-popup-iframe #main-wrapper #main-content > .grid-inner {
  margin: 0;
  padding: 10px 10px 20px 10px;
}

ul.primary {
  border-bottom-color: rgb(5, 5, 5);
}

ul.primary li a {
	background: rgb(16, 16, 17);
	border-color: rgb(5, 5, 5);
	color: rgb(153, 153, 153);
}

.comment-form {
	background: rgb(16, 16, 17);
	padding: 20px;
}

.comment-form .form-actions {
	margin: 20px 0 0 0;
}

.comment-form  .field-type-text-long fieldset {
  background: rgb(16, 16, 17);
	border-color: rgb(5, 5, 5);
	color: rgb(153, 153, 153);
}

.resizable-textarea .grippie {
  background-color: rgb(16, 16, 17);
  border-color: rgb(5, 5, 5);
}

