.block .sf-menu.sf-style-wall {
  float: left;
  margin: 0;
  padding: 0;
}

.block .sf-menu.sf-style-wall ul {
  padding-left: 0;
}

.block .sf-menu.sf-style-wall li {
  margin: 0;
}

.block .sf-menu.sf-style-wall a {
	text-decoration: none;
	border-right: 1px solid #252525;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding: 0px 20px;
	margin: 0px;
	color: #999;
	font-size: .92em;
}
.block .sf-menu.sf-style-wall li.first a { border-left: 1px solid #252525; }

.block .sf-menu.sf-style-wall li.last a { border-right: none; }

/* "Have child" Item */
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	top: 3.4em;
}

a > .sf-sub-indicator {
  top: 1.4em;
}

/* Child Menu */
.block .sf-menu.sf-style-wall ul {
  margin-top: -1px;
}

.block .sf-menu.sf-style-wall ul ul {
	margin-top: 1px;
}

.block .sf-menu.sf-style-wall ul li,
.block .sf-menu.sf-style-wall ul ul li {
  background: #151515;
}


.block .sf-menu.sf-style-wall li.menuparent.sfHover li a{
  background-color: #151515;
  color: #999;
}

.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:active {
	background-color: #000;
	color: #fff;
}
.block .sf-menu.sf-style-wall ul li a {
	border-top: 1px solid #252525;
	border-right: none;
	color: #999;
}

.block .sf-menu.sf-style-wall ul li.first a {
	border-top: none;
	border-left: none;
}

.block .sf-menu.sf-style-wall ul li a.menuparent {
	
}

.block .sf-menu.sf-style-wall ul li.sfHover a.menuparent,
.block .sf-menu.sf-style-wall ul li a.menuparent:hover,
.block .sf-menu.sf-style-wall ul li a.menuparent:focus,
.block .sf-menu.sf-style-wall ul li a.menuparent:active {	
	background-color: #000;
}

.block .sf-menu.sf-style-wall ul li a.menuparent.active {
	color: #fff;
	background-color: #151515;
}

/* Hover Links */
.block .sf-menu.sf-style-wall a:hover,
.block .sf-menu.sf-style-wall a:focus,
.block .sf-menu.sf-style-wall a:active {
  background: #151515;
  color: #fff;
  text-decoration: none;
}

/* Child Menu Items Hover */
.block .sf-menu.sf-style-wall ul li:hover a,
.block .sf-menu.sf-style-wall ul li.sfHover a,
.block .sf-menu.sf-style-wall ul li a:focus,
.block .sf-menu.sf-style-wall ul li a:hover,
.block .sf-menu.sf-style-wall ul li a:active {
  background: #000;
  color: #fff;
}

/* Active Links */
.block .sf-menu.sf-style-wall a.active {
	background-color: #151515;
	color: #FFF;
	text-decoration: none;
}

.block .sf-menu.sf-style-wall .active-trail .sf-depth-1 {
  background: #151515;
  color: #fff;
}

/* Child Menu Items Active */
.block .sf-menu.sf-style-wall ul li a.active {
  background: #151515;
  color: #fff;
}

/* Navbar */
.block .sf-menu.sf-style-wall.sf-navbar {
  width: 100%;
}

/* MegaMenu */
.block .sf-menu.sf-style-wall span.sf-description {
  color: #999;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}

.block .sf-menu.sf-style-wall a.sf-with-ul {
  padding-right: 2.25em;
}

.block .sf-menu.sf-style-wall.rtl a.sf-with-ul { /* RTL */
  padding-left: 2.25em;
  padding-right: 1em;
}

.block .sf-menu.sf-style-wall ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}

.block .sf-menu.sf-style-wall.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right; /* RTL */
}

.block .sf-menu.sf-style-wall ul.sf-megamenu li.sf-megamenu-wrapper ol,
.block .sf-menu.sf-style-wall ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}

.block .sf-menu.sf-style-wall li.sf-parent-children-1 ul.sf-megamenu {
  width: 12em;
}

.block .sf-menu.sf-style-wall li.sf-parent-children-10 ul.sf-megamenu {
  width: 120em;
}

.block .sf-menu.sf-style-wall li.sf-parent-children-2 ul.sf-megamenu {
  width: 24em;
}

.block .sf-menu.sf-style-wall li.sf-parent-children-3 ul.sf-megamenu {
  width: 36em;
}

.block .sf-menu.sf-style-wall li.sf-parent-children-4 ul.sf-megamenu {
  width: 48em;
}

.block .sf-menu.sf-style-wall li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}

.block .sf-menu.sf-style-wall li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}

.block .sf-menu.sf-style-wall li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}

.block .sf-menu.sf-style-wall li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}

.block .sf-menu.sf-style-wall li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}


.block .sf-menu.sf-style-wall .ajax-progress-throbber {
  display: none;
}