/**
  Classic Color
*/
@import url(//fonts.googleapis.com/css?family=Patrick+Hand);

body {
  background: url("images/body-bg.jpg") left top #000;
  color: #555;  
  line-height: 1.7;
}

body.bf-a, 
.bf-a .form-text, 
.snf-a .site-name, 
.ssf-a .site-slogan, 
.ptf-a #page-title, 
.ntf-a .node-title, 
.ctf-a .comment-title, 
.btf-a .block-title {
  font-family: Georgia, Helvetica, sans-serif;
}

a {
  color: #574EAE;
}

a:hover,
a:focus,
a:active {
  color: #333;
  text-decoration: underline;
}

.node-links ul.links li a,
.item-list ul li a {
  color: #333;
}

.node-links ul.links li a:hover, 
.node-links ul.links li a:active, 
.node-links ul.links li a:focus,
.item-list ul li a:hover,
.item-list ul li a:focus,
.item-list ul li a:active {
  color: #574EAE;
  text-decoration: none;
}

.node-links ul.links li.node-readmore,
.item-list ul li.node-readmore {
  float: right;
}

.node-links ul.links li.node-readmore a,
.item-list ul li.node-readmore a,
span.button input.form-submit {
	background: url("images/readmore-bg.png") no-repeat left center;
	border: 0;
	filter: none;
	padding-left: 25px;
	color: #616161;
	box-shadow: none;
	text-shadow: none;
}

.node-links ul.links li.node-readmore a:hover, 
.node-links ul.links li.node-readmore a:active, 
.node-links ul.links li.node-readmore a:focus,
.item-list ul li.node-readmore a:hover,
.item-list ul li.node-readmore a:focus,
.item-list ul li.node-readmore a:active,
span.button input.form-submit:hover,
span.button input.form-submit:focus {
	color: #574eae;
	background: url("images/readmore-bghv.png") no-repeat left center;
	text-shadow: none;
	text-decoration: none;
}

.node-title a, .node-title a:visited {
	color: #515151;
	font-family: 'Patrick Hand',cursive;
    font-weight: normal;
}

.node-title a:hover, .node-title a:active, .node-title a:focus {
  color: #574EAE;
  text-decoration: none;
}

.node {
  	border: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
	margin-top: 0;
    padding-bottom: 20px;
}

.author span.name_author {
	color: #574EAE;
}

/*header*/
#header-wrapper {
	background: url("images/header-bg.png") repeat-x left bottom;
	height: 80px;
}

#header-wrapper .container {
  background: none;
  padding: 15px 0;
}

/* Search */
#header #search-block-form {
  top: 15px;
}

#header #search-block-form .form-text {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2d2d2d), color-stop(1, #373737) );
	background: -moz-linear-gradient( left top, #2d2d2d 5%, #363636 100% );
	background-color: #2d2d2d;
	background-image: url("images/icon-search.png");
	background-repeat: no-repeat;
	background-position: 10px center;
	border-color: #4b4b4b;
	color: #adadad;
	border-radius: 0;
	height: auto;
	line-height: normal;
	padding: 5px 5px 5px 25px;
	text-transform: none;
	font-weight: bold;
	width: 120px;
}

#header #search-block-form .form-text:focus {  
    width: 180px;
}

#logo {
  display: block;
  height: 48px;
  margin: 0 auto;
  padding: 0;
  top: 0;
  width: 80px;
}

/* Superfish */
.block .sf-menu.sf-style-wall li {
	border-right: 0;
	margin-right: 10px;
	padding: 10px 0;
	background: url("images/menu-hline.png") no-repeat right 24px;
}

.block .sf-menu.sf-style-wall a {
	border-right: none;
	color: #9d9d9d;
	padding: 10px 15px 0;
	font-size: 125%;
	font-family: 'Patrick Hand', cursive;
	font-weight: normal;
	text-transform: uppercase;
	height: auto;
	line-height: normal;
}

.block .sf-menu.sf-style-wall a:hover, 
.block .sf-menu.sf-style-wall a:focus, 
.block .sf-menu.sf-style-wall a:active {
  background: none;
  color: #67ec43;
}

.block .sf-menu.sf-style-wall li.first a {
  border-left: none;
}

.block .sf-menu.sf-style-wall ul {
  background: url("images/paper.png") repeat 0 0 #fff;
  margin-top: 15px;
  padding: 20px 0;
}

.block .sf-menu.sf-style-wall ul:before,
.block .sf-menu.sf-style-wall ul:before {
	background: url("images/pin.png") no-repeat center top;
	content: "";
	height: 20px;	
	position: absolute;
	top: -15px;
	width: 100%;
}

.block .sf-menu.sf-style-wall ul li {
   background: none;
   display: block; 
   border-bottom: none;
   border-top: none;
   float: none;
   list-style: none;
   margin: 0;
}

.block .sf-menu.sf-style-wall ul li,
.block .sf-menu.sf-style-wall ul li a {
  border-top: none;
  padding: 0;
}

.block .sf-menu.sf-style-wall ul li.first {
  background: none;
  border-top: 0;
  padding-top: 0; 
}

.block .sf-menu.sf-style-wall ul li a {
 	background: url("images/arrow.png") no-repeat 15px 6px;
	text-shadow: none;
	color: #333;
	font-family: 'Patrick Hand', cursive;
	font-size: 110%;
	padding: 0 0 0 30px;
	height: auto;
	line-height: normal;
	text-transform: none;
}

.block .sf-menu.sf-style-wall li.menuparent.sfHover li a {
  background-color: inherit;
  color: #333;
}

.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:hover,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:focus,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a:active,
.block .sf-menu.sf-style-wall ul li.sfHover a.menuparent,
.block .sf-menu.sf-style-wall ul li a.menuparent:hover,
.block .sf-menu.sf-style-wall ul li a.menuparent:focus,
.block .sf-menu.sf-style-wall ul li a.menuparent:active,
.block .sf-menu.sf-style-wall ul li a.active,
.block .sf-menu.sf-style-wall li.menuparent.sfHover li a.active {
  background: url("images/arrow-h.png") no-repeat 15px 6px;
  color: #574eae;
}

.block .sf-menu.sf-style-wall li.menuparent.sfHover li.first a:hover {
  border-radius: 3px 3px 0 0;
  padding-top: none;
}

.block .sf-menu.sf-style-wall li.menuparent.sfHover > a {
  color: #67ec43;
}

.block .sf-menu.sf-style-wall .active-trail .sf-depth-1 {
	background: url("images/menu-active.png") no-repeat center top;
	color: #67ec43;
    text-decoration: none;
}

/* Sidebar menu */
#menu-left-wrapper,
#menu-left-inner {
	background: none;
}

.region-menu-left {
  margin-left: 0;  
  width: 120px;
}

#menu-left-wrapper {
  width: 130px;
}

#menu-left-wrapper .block-inner {
	border-top: none;
	margin: 0;
	padding: 0 0 50px;
}

#menu-left-wrapper ul.menu {
  margin-top: 10px;
}

#menu-left-wrapper ul.menu li.expanded {
	border-bottom: 0;
	padding: 20px 0 0 ;
}

#menu-left-wrapper ul.menu > li.expanded > a {
    background: none;
    border: medium none;
    color: #fff;
	font-family: 'Patrick Hand',cursive;
    font-size: 150%;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 0 5px;
    padding: 0 10px 0 5px;
    text-transform: uppercase
}

#menu-left-wrapper ul.menu li.expanded ul {
	background: 0;
	border-bottom: 0;
	padding: 0;
	margin: 0;
}

.sidebar .block-title {
	border-bottom: 1px solid #e5e5e5;
	color: #333333;
	font-family: 'PT Serif', serif;
	font-size: 0.9em;
	font-weight: 700;
	text-transform: uppercase;
}

.block ul.menu li.expanded a:hover,
.block ul.menu li.expanded a {
	background: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #666;
  display: inline-block;
  line-height: normal;
  max-width: 100px;
  overflow: hidden;
  padding: 2px 5px !important;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.block ul.menu li.expanded ul li a {	
  background: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #666;
  display: inline-block;
  line-height: normal;
  max-width: 100px;
  overflow: hidden;
  padding: 2px 5px !important;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.block ul.menu li.expanded ul li a:hover, 
.block ul.menu li.expanded ul li a:focus, 
.block ul.menu li.expanded ul li a:active {
  color: #E4744B;
  text-decoration: none;
}

.block ul.menu li.expanded ul li a,
.block ul.menu li.expanded.active-trail ul li a {
	background: none;
	color: #BFBFBF;
	font-size: 150%;
	border-bottom: 0;
	font-family: 'Patrick Hand', cursive;
	font-weight: normal;
	text-transform: none;
	padding: 7px 15px;
}

.block ul.menu li.expanded ul li a:hover, 
.block ul.menu li.expanded ul li a:focus, 
.block ul.menu li.expanded ul li a:active,
.block ul.menu li.expanded.active-trail ul li a.active,
.block ul.menu li.expanded.active-trail ul li a:hover,
.block ul.menu li.expanded.active-trail ul li a:focus, 
.block ul.menu li.expanded.active-trail ul li a:active {
  color: #67EC43;
  text-decoration: none;
  text-transform: none;
}


/*  Main content  */
#main-wrapper {
	top: 83px;
}

.left-menu-existed .page-main-inner,
.front .left-menu-existed .page-main-inner, 
.page-showcase .left-menu-existed .page-main-inner, 
.page-taxonomy-term .left-menu-existed .page-main-inner,
.left-menu-existed #system-messages-wrapper .grid-inner {
  margin-left: 0;
  padding-left: 131px; 
}

.left-menu-existed .page-main-inner {
  background: #fff;  
  border: 1px solid #DEDEDE;
  border-right: none;
  margin-left: 131px;
  margin-top: 0;
  padding-left: 0;
}

.no-sidebars .left-menu-existed .page-main-inner, 
.page-showcase .left-menu-existed .page-main-inner, 
.page-taxonomy-term .left-menu-existed .page-main-inner, 
.left-menu-existed #system-messages-wrapper .grid-inner {
  background: none;
  border: none; 
}

.sidebar .grid-inner, .main-content-inner.grid-inner, 
.page-showcase .main-content-inner.grid-inner {
  padding: 15px;
}


/* Node */
.grid.views-col .grid-inner .node {
  border: none;
  background-image: url("images/paper.png");
  background-color: #fff;
  margin: 15px;
  border-radius: 0;
  padding: 15px 15px 0;
}

.grid.views-col .grid-inner .node:before {
	background: url("images/pin.png") no-repeat center top;
	content: "";
	height: 26px;
	margin: 0 -15px;
	position: absolute;
	top: -13px;
	width: 100%;
	z-index: 6;
}

.grid.views-col .grid-inner .node:hover {
  	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius: 0 0 60px 0 / 0 0 5px 0;
}

.grid.views-col .grid-inner .node .node-links {
	font-family: Arial, Helvetica, sans-serif;
	background-color: transparent;
	border-top: 0;
	padding: 15px;
	border-radius: 0;
	text-shadow: none;
	margin: 0 -15px;
}

.grid.views-col .grid-inner .node .node-links ul {
	margin-top: 0;
}

.grid.views-col .grid-inner .node .node-links li.node-readmore {
   float: right;
}

.grid.views-col .grid-inner .node .node-links li.node-readmore a {
	background: url("images/readmore-bg.png") no-repeat left center;
	border: 0;
	padding-left: 25px;
	color: #616161;
	font-size: 100%;
}

.grid.views-col .grid-inner .node .field-name-field-reference-url {
  padding-bottom: 15px;
}

.grid.views-col .grid-inner .node .node-links li.node-readmore a:hover,
.grid.views-col .grid-inner .node:hover .node-links li.node-readmore a {
	color: #574eae;
	background: url("images/readmore-bghv.png") no-repeat left center;
	text-shadow: none;
	text-decoration: none;
}

.grid.views-col.tb-wall-red-background .grid-inner .node {
	background-color: #fffeda;
	background-image: url("images/paper-hline.png"), url("images/paper-vline.png");
	background-position: 15px top, left top;
	background-repeat: repeat-y, repeat;
	color: #555;
}

.grid.views-col.tb-wall-red-background .node-title a, 
.grid.views-col.tb-wall-red-background .node-title a:visited {
	color: #515151;
}

.grid.views-col.tb-wall-red-background .grid-inner .node .node-links li.node-readmore a,
.grid.views-col.tb-wall-red-background .node > .submitted,
.grid.views-col.tb-wall-red-background .node > .submitted a {
	color: #616161;
}

.grid.views-col.tb-wall-red-background .grid-inner .node .node-links li.node-readmore a:hover,
.grid.views-col.tb-wall-red-background .grid-inner .node .node-links li.node-readmore a:focus,
.grid.views-col.tb-wall-red-background .grid-inner .node .node-links li.node-readmore a {
  color: #574EAE;
  text-decoration: none;
}

.grid.views-col.tb-wall-red-background .node > .submitted a:hover, 
.grid.views-col.tb-wall-red-background .node > .submitted a:focus, 
.grid.views-col.tb-wall-red-background .node > .submitted a:active, 
.grid.views-col.tb-wall-red-background .node > .submitted a:visited {
  color: #574EAE;
  text-decoration: underline;
}

.grid.views-col.tb-wall-double-style.tb-wall-hot-badge .node-title:before, 
.grid.views-col.tb-wall-double-style.tb-wall-feature-badge .node-title:before, 
.grid.views-col.tb-wall-double-style.tb-wall-free-badge .node-title:before, 
.grid.views-col.tb-wall-double-style.tb-wall-adv-badge .node-title:before, .grid.views-col.tb-wall-double-style.tb-wall-new-badge .node-title:before {
  margin-top: 0;
}

.grid.views-col.tb-wall-black-background .grid-inner .node {
   background: #676767;
   border: none;
   color: #fff;
}

.grid.views-col.tb-wall-black-background .grid-inner .node .node-links {
  background: #363636;
}

.grid.views-col.tb-wall-black-background .node-links ul.links li a,
.grid.views-col.tb-wall-black-background .item-list ul li a {
  color: #ccc;
}

.grid.views-col.tb-wall-black-background .node-links ul.links li a:hover,
.grid.views-col.tb-wall-black-background .item-list ul li a:focus {
  color: #67EC43;
}

.grid.views-col.tb-wall-black-background .grid-inner .node .node-links li.node-readmore a {
  background: url("images/readmore-bgd.png") no-repeat left center;
  color: #ccc;
}

.grid.views-col.tb-wall-black-background .node:hover .node-title a {
  color: #67EC43;
}

.grid.views-col.tb-wall-black-background .grid-inner .node .node-links li.node-readmore a:hover,
.grid.views-col.tb-wall-black-background .grid-inner .node:hover .node-links li.node-readmore a {
	color: #67EC43;
	background: url("images/readmore-bgdhv.png") no-repeat left center;
	text-shadow: none;
	text-decoration: none;
}

.grid.views-col.tb-wall-green-background .node-links ul.links li a,
.grid.views-col.tb-wall-green-background .item-list ul li a {
  color: #fff;
}

.grid.views-col.tb-wall-green-background .node:hover .node-title a {
  color: #fff;
}

.grid.views-col.tb-wall-green-background .grid-inner .node .node-links li.node-readmore a {
  background: url("images/readmore-bgs3.png") no-repeat left center;
  color: #fff;
}

/*  Badge */
.grid.views-col.tb-wall-hot-badge .node-title:before {
	background: url("images/hot.png") no-repeat center center;
	border-radius: 0;
	font-size: 9px;
	color: #f00;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
	width: 39px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}

.grid.views-col.tb-wall-hot-badge .node-title {
	font-size: 150%;
	font-weight: normal;
}

.grid.views-col.tb-wall-hot-badge .node-title a {
 	font-family: 'Patrick Hand', cursive;
	position: relative;
	text-indent: 25px;
}

.grid.views-col .node:hover .node-title a {
  color: #574EAE;
  text-decoration: none;
}

.block-title:after {  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  text-transform: uppercase;
}


.badge_new .block-title:after {
  background: url("images/new.png") no-repeat left top;
  content: "NEW";
  height: 16px;
  width: 39px;
  padding: 5px 9px;
}

.badge_hot .block-title:after {
  background: url("images/hot.png") no-repeat left top;
  content: "HOT";
  height: 16px;
  width: 39px;
  padding: 5px 9px;
}

.badge_top .block-title:after {
  background: url("images/top.png") no-repeat left top;
  content: "TOP";
  height: 16px;
  width: 39px;
  padding: 5px 9px;
}

/**
  * Sidebar
  */
#sidebar-first-wrapper .grid-inner {
  background: #fff;
  border: 1px solid #DEDEDE;
  border-left: none;
  margin-top: 0;
  margin-right: 10px;
}

.badge_gallery .block-title:before {
  margin-top: 7px;
}

.sidebar .block-title {
	color: #574eae;
	line-height: 1.7;
	border-bottom: 0;
	font-family: 'Patrick Hand', cursive;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0;
	font-size: 125%;
}

.sidebar .block-inner {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.sidebar .item-list ul li {
  background: none;
  padding: 0;
}

.sidebar .item-list ul li a {
	background: url("images/arrow.png") no-repeat left 5px;
	padding: 0 0 0 15px;
	border-bottom: 0;
}

.sidebar .item-list ul li a:hover,
.sidebar .item-list ul li a:focus {
  background-image: url("images/arrow-h.png");
  color: #574EAE;
  text-decoration: none;
}

.sidebar .item-list ul.popular_tags li {
  background: none;
}

.sidebar .item-list ul.popular_tags li a {
  background: none;
  padding: 0 10px 0 0;
}

.sidebar .view-archive .item-list ul li {
    background: url("images/icon-calendar.png") no-repeat left center;
    border-bottom: 1px solid #eee;
    padding: 5px 0 5px 20px;
}

.sidebar .view-archive .item-list ul li a {
	background: none;
	padding: 0;
}

/* Tag */
.field-type-taxonomy-term-reference {
	font-size: 1em;
}

.field-type-taxonomy-term-reference .field-label {
    color: #666;
    display: block;
    float: left;
    font-weight: bold;  
	background: #ddd;
    border-radius: 2px; 
    height: 12px;
    line-height: 1;
    margin-right: 10px;
    padding: 3px 5px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.field-type-taxonomy-term-reference ul li {
	background: none;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}

.field-type-taxonomy-term-reference ul li a {
	color: #666;
}

.field-type-taxonomy-term-reference ul li a:hover,
.field-type-taxonomy-term-reference ul li a:focus {
	color: #574EAE;
	text-decoration: none;
}

/* Pager */
.item-list ul.pager {
  border: none;
  overflow: hidden;
}

.item-list .pager li, ul.pager li {
  float: left;
  border: none;
  line-height: normal;
  margin: 0;
  padding: 0 5px;
  width: auto;
}

.item-list ul.pager li a {
 	background: none;
    box-shadow: none;
    color: #101010;
    display: inline-block;
	height: auto;
	line-height: normal;
    padding: 0;  
	width: auto;
}

.item-list ul.pager li a:hover, 
.item-list ul.pager li a:active, 
.item-list ul.pager li a:focus {  
    color: #67EC43;
    text-decoration: none;
}

ul.pager li.pager-first, ul.pager li.pager-last {
  display: inline-block;
}

ul.pager li.pager-previous, ul.pager li.pager-next,
ul.pager li.pager-first, ul.pager li.pager-last  {
  background: none;
  border: none;
  text-indent: 0;
  height: auto;
  line-height: normal;
  width: auto;
  padding: 0 5px;
  margin: 0;
}

ul.pager li.pager-next {
  float: left;
}

ul.pager li.pager-current {
	background: none;    
    color: #333;
	width: auto;
}

ul.primary {
  border-bottom-color: #9D9D9D;
}

ul.primary li a,
ul.primary li a:hover,
ul.primary li a:focus {
  color: #574EAE;
}

/* showcase */
.page-showcase .node .field-type-image {
  margin-left: -15px;
  margin-right: -15px;
}

/* For Safari ---*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #menu-left-wrapper { top: 80px; }
    body.logged-in #menu-left-wrapper { top: 145px; }
    #menu-left-wrapper.menu-left-skin-wrapper { top: 120px; }
}
